<template>
    <div class="modal fade" data-backdrop="static" id="credit-modal" tabindex="-1" role="dialog" aria-labelledby="creditModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="creditModalLabel">Top Up {{ creditName }}

                    </h2>
                </div>
                <div class="modal-body pt-0">
                    <div v-if="success" class="row justify-content-center mb-3">
                        <h4>Your ewallet reload request has been successfully submitted</h4>
                        <span class="text-muted">Close the form automatically in {{ success }}s</span>
                    </div>
                    <div v-else class="row">
                        <div class="col-12">
                            <label class="form-control-label" for="input-quantity">How mach {{ creditName }} you want to reload?</label>
                            <div class="form-group" :class="errors.quantity ? 'has-danger' : ''">
                                <div class="input-group input-group-alternative mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{{ currency }}</span>
                                     
                                       
                                        <select v-if="user.role_id==1" class="form-control" id="quantity" v-model="quantity" > 
                                          <option v-for="o in options" :value="o.value">{{o.label}}</option>
                                          
                                        </select><span :class="errors.quantity ? 'is-invalid' : ''"></span>
                                       <input v-if="user.role_id>1" type="number" class="form-control" v-model="quantity"><span :class="errors.quantity ? 'is-invalid' : ''"></span>
                                
                                    </div>
                                </div>
                                <div class="invalid-feedback" :class="errors.quantity ? 'd-block' : ''">{{ errors.quantity }}</div>
                            </div>
                        </div>
 <div class="col-12">
                         <div class="form-group">
    <label for="exampleFormControlSelect1">Select payment methods</label>
    <select v-model="method"  class="form-control" id="exampleFormControlSelect1">
      <option value="1">Slip</option>
      <option value="2">Payment gateway</option>
      
    </select>
  </div>
</div>

 <div class="col-12">
<div class="form-group">
 <button v-if="method==2" @click="payNow" type="button" class="btn btn-primary btn-block">Pay Now</button>
  </div>
</div>


                        <div class="col-12 text-left" v-if="method==1">
                           
                           <h4>     DIRECT BANK TRANSFER:</h4>
                           <h3><small> Please make your payment directly into our bank account as per below. Please attached the payment slip for our reference. Your e-wallet will not be topped up until the funds have cleared in our account.</small></h3>
                           <h4><small> <strong>Bank Name: Beaute Method Group Enterprise</strong></small></h4>
                           <h4><small> <strong>Bank Acc: 8603643857 (CIMB)</strong></small></h4>
                               
                          
                            <el-upload
                                class="upload-payment-slip"
                                drag
                                ref="upload"
                                list-type="picture"
                                :action="user.links.create_credits"
                                :multiple="false"
                                :limit="2"
                                :on-change="setPreview"
                                :on-preview="showPreview"
                                :http-request="createOrder"
                                :on-remove="removePreview"
                                :disabled="loading"
                                :auto-upload="false">
                                <div>
                                    <i class="el-icon-upload"></i>
                                    <div class="el-upload__text">Drag and drop payment slip here，or <br><em>click to upload</em></div>
                                    <div class="el-upload__tip" slot="tip">Only image allowed</div>
                                </div>
                            </el-upload>
                        </div>
                        <div class="col-12" v-if="progress !== null">
                            <p class="m-0" v-if="progress < 100">Uploading Slip...</p>
                            <p class="m-0" v-else-if="progress == 100">Processing Request...</p>
                            <el-progress :percentage="progress"></el-progress>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button :disabled="loading" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button @click="submit" :disabled="loading || requiredFields" type="button" class="btn btn-primary">
                        Submit <i class="fas fa-spin fa-spinner" v-if="loading"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted () {
        $('#credit-modal').on('shown.bs.modal', () => {
            this.success = false
            this.jobs.forEach(task => clearTimeout(task))
        })
    },
    data () {
        return {
            method: '',
            loading: false,
            quantity: 0,
            errors: {},
            progress: null,
            dialogImageUrl: '',
            dialogVisible: false,
            success: 0,
            jobs: [],
        options: [{
          value: '600',
           add: '0',
          label: 'Reload RM 600, get RM 600 in eWallet.'
        }, {
          value: '1500',
          add: '100',
          label: 'Reload RM 1,500, get RM 1,600 in eWallet.'
        }, {
          value: '3000',
           add: '300',
          label: 'Reload RM 3,000, get RM 3,300 in eWallet.'
        }, {
          value: '5000',
           add: '600',
          label: 'Reload RM 5,000, get RM 5,600 in eWallet. '
        }],
        value: ''
        }
    },
    props: {
        user: {
            type: Object,
            default: () => {}
        }
    },
    methods: {
        payNow(){
          
             if (this.quantity != undefined && this.quantity != null) {
        window.location = '/creditReload?quantity=' + this.quantity;

    }
   
        },
        submit () {
            this.$refs.upload.submit()
        },
        setPreview(file, list) {
            if (list.length > 1) {
                list.shift()
            }
            this.dialogImageUrl = file.url
        },
        showPreview(file) {
            this.dialogVisible = true
        },
        removePreview(file) {
            this.dialogImageUrl = ''
        },
        createOrder(params) {
            
            this.loading = true
            this.errors = {}
            let form = new FormData()
            form.append("payment_proof", params.file)
            form.append("quantity", this.quantity)
            return axios.post(this.user.links.create_credits, form, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                    onUploadProgress: progressEvent => {
                        this.progress = parseInt(Math.round((progressEvent.loaded * 100) / progressEvent.total))
                    }
                })
                .then(res => {
                    // notify user
                    this.$message.success(res.data.message)

                    // reset form
                    this.quantity = 0
                    // set success as true
                    this.success = 5
                    for (let i = this.success; i >= 0; i--) {
                        this.jobs.push(setTimeout(() => {
                            this.success--
                            if (this.success === 0) {
                                // close modal
                                $('#credit-modal').modal('hide')
                            }
                        }, i*1000))
                    }
                })
                .catch(error => {
                    error.response && error.response.status == 422 && (this.errors = handleValidation(error))
                })
                .finally(() => {
                    this.loading = false
                    this.progress = null
                    this.$refs.upload.clearFiles()
                    this.dialogImageUrl = ''
                })
        }
    },
    computed: {
        currency () {
            return process.env.MIX_APP_CURRENCY
        },
        requiredFields () {
            return !this.quantity || !this.dialogImageUrl
        },
        creditName () {
            return 'ewallet'
           // return process.env.MIX_CREDIT_NAME
        }
    }
}
</script>
<!--  https://github.com/idhamhafidz/laravel-senangpay -->