<template>
    <el-dialog title="Invite New Member" :visible.sync="show" :close-on-click-modal="false" :close-on-press-escape="false" :show-close="false">
        <div class="row">
            <div class="col-12 mb-1">
              <!--   <label>New member with level:</label> -->
               <!--  <multiselect :options="filteredRoles.map(o => o.id)" :custom-label="roleLabel" v-model="role_id" required placeholder="Select member level you will like to generate with">
                </multiselect> -->
                <input type="hidden" v-model="role_id"></input>
                <span :class="errors.role ? 'd-block' : ''" class="invalid-feedback">{{ errors.role }}</span>
            </div>

          

            <div class="col-12 text-center mb-3">
                  <el-tooltip v-if="user.status == 1 && user.invite_codes.length" content="Scan to open" class="item" effect="dark" placement="top-start">
                      <center>  <img width="100"  :src="user.links.invite_link" alt="qrcode"></center>
             </el-tooltip>
                <button v-if="!user.invite_codes.length" :disabled="loading" @click="createReferral" class="btn btn-info">Generate Invitation Link <i v-if="loading" class="fas fa-spin fa-spinner"></i></button>
            </div>
            <div v-if="user.invite_codes && user.invite_codes.length" class="col-12">
                <div class="row d-none d-md-flex">
                    <div class="col-12"><hr class="my-1"></div>
                    <div class="text-center col-md-4 col-sm-12 d-flex align-items-center"><b>Code</b></div>
                    <div class="text-center col-md-4 col-sm-12 d-flex align-items-center"><b>Level</b></div>
                    <div class="text-center col-md-4 col-sm-12"><b>Actions</b></div>
                    <div class="col-12"><hr class="my-1"></div>
                </div>
                <div class="row" v-for="ref,index in user.invite_codes">
                    <div class="text-center col-md-4 col-sm-12 d-flex align-items-center">
                        <b class="d-md-none mr-3">Code: </b>
                        <span>{{ ref.code }}</span>
                    </div>
                    <div class="text-center col-md-4 col-sm-12 d-flex align-items-center">
                        <b class="d-md-none mr-3">Name: </b>
                        <span>{{ ref.role.name }}</span>
                    </div>
                    <div class="text-center col-md-4 col-sm-12">
                        <button class="btn btn-link m-0" @click="copy(ref.links.register)">Copy</button>
                        <!-- <button :disabled="loading" class="btn btn-link m-0" @click="revoke(ref)">
                            Revoke <i v-if="loading" class="fas fa-spin fa-spinner"></i>
                        </button> -->
                    </div>
                    <div class="col-12"><hr class="my-0"></div>
                </div>

            </div>
        </div>

        <span slot="footer" class="dialog-footer">
            <el-button :disabled="loading" @click="$parent.showDownlineDialog = false">Cancel</el-button>
        </span>
    </el-dialog>
</template>
<script>
export default {
    data() {
        return {
            errors: {},
            loading: false,
            roles: [],
            role_id: 33
            // role_id: null

        }
    },
    props: {
        show: {
            type: Boolean,
            default: false
        },
        user: {
            type: Object,
            default: () => {}
        },
        upline: {
            type: Boolean,
            default: true
        }
    },
    methods: {
        createReferral() {
            this.loading = true
            this.errors = {}
            return axios.post(this.user.links.create_referral, {
                     role: this.role_id
                }).then(res => {
                    this.user.invite_codes.push(res.data.referral)
                    this.$message.success(res.data.message)
                }).catch(error => {
                    error.response.status == 422 && (this.errors = handleValidation(error))
                })
                .then(() => this.loading = false)
        },
        roleLabel(opt) {
            let role = this.filteredRoles.find(o => o.id == opt)
            return `${role.name}: ${role.description}`
        },
        copy(str) {
            copyStringToClipboard(str)
            this.$message.info(`${str} has been copied!`)
        },
        revoke(referral) {
            this.loading = true
            return axios(referral.links.delete).then(res => {
                    this.$message.success(res.data.message)
                    this.user.invite_codes = this.user.invite_codes.filter(c => c.id != referral.id)
                }).catch(err => {})
                .then(() => this.loading = false)
        }
    },
    computed: {
        filteredRoles() {
            return this.$root.roles.filter(r => r.id < this.user.role_id && r.id < 2)
        },
    }
}

</script>
