<template>
    <el-dialog title="Purchase Stock" :visible.sync="show"
        :close-on-click-modal="false"
        :close-on-press-escape="false"
        :show-close="false">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
              <input type="hidden" v-model="product">
                        <!-- <multiselect
                            :options="this.products"
                            :custom-label="opt => {
                                let l = this.products.find(o => o.id == opt.id)
                                return l ? `${l.name} (${l.sku})` : null
                            }"
                            v-model="product"
                            placeholder="Select a product">
                        </multiselect> -->
                    </div>
                    <div class="col-md-6 col-sm-12 text-right">
                        <b>{{ currency }} {{ product ? price : 0 }}</b>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                
                <label class="form-control-label" for="input-quantity">How many stocks you want to purchase? </label>
                <div class="form-group" :class="errors.quantity ? 'has-danger' : ''">
    <div> 
      <span v-if="level" class="badge badge-success"> Great! You will upgrade to "Level {{level}}" after you complete this stock reload request</span>
<input v-if="user.role_id!=33" v-model="quantity" type="number" class="form-control" placeholder="Default input">
    <span>The minimum stock repurchase quantity for your current level is {{minimum}} units</span></samp> </div>
  
<select v-if="user.role_id==33" v-model="quantity" class="form-control form-control-alternative multiselect" id="input-quantity">
  <!-- <option value="1">1 unit RM 140/item (RM 140)</option> -->
          
  <option value="4">4 unit RM 120/item (RM 480)</option>
         
  <option value="10">10 unit RM 100/item (RM 1,000)</option>
         
  <option value="30">30 unit RM 95/item (RM 2,850)</option>
       
  <option value="50">50 unit RM 88/item (RM 4,400)</option>
         
  <option value="100">100 unit RM 80/item (RM 8,000)</option>
        
  <option value="300">300 unit RM 72/item (RM 21,600)</option>
       
  <option value="500">500 unit  RM 62/item (RM 31,000)</option>
 
</select
                    
               <div class="invalid-feedback">{{ errors.quantity }}</div>
                </div>
                <div class="col-md-6 col-sm-12" v-if="value=='slip' || value=='both'">
                <div class="card bg-gradient-default">
              <!-- Card body -->
              <div class="card-body" >
                <div class="row justify-content-between align-items-center">
                  <div class="col">
                  Bank Name:   
                  </div>
                  <div class="col-auto">
                    <span class="badge badge-lg badge-default">PBB BANK   </span>
                  </div>
                </div>
                <div class="my-4">
                  <span class="h6 surtitle text-light">
                    Bank Account Name:
                  </span>
                  <div class="h1 text-white"></div>
                </div>
                <div class="row">
                  <div class="col">
                    <span class="h6 surtitle text-light">Bank Account Number: </span>
                    <span class="d-block h3 text-white"> </span>
                  </div>
                </div>
              </div>
            </div>
             
            </div>
            </div>
  <div class="col-md-6">

     <div class="form-group">
    <label for="exampleFormControlSelect2"> Select Payment Method</label>
    <select v-model="value"  class="form-control" id="exampleFormControlSelect2" >
      <option :value="item.value" v-for="item in options" :key="item.value">{{item.label}}</option>
     
    </select>
  </div>
</div>

<div v-if="(value=='both' && ifBothAmmount)" class="alert alert-info" role="alert">
    <strong>Amount Required</strong> Please attach the slip of  RM {{ifBothAmmount}}. your current eWallet balance is RM {{user.eWallet}}
</div>
<div v-if="(value=='both' && !ifBothAmmount)" class="alert alert-info" role="alert">
    <strong>eWallet balance is enough for this transaction. please select eWallet or slip</strong>  your current eWallet balance is RM {{user.eWallet}}
</div>
<div v-if="value=='slip' || (value=='both' && ifBothAmmount) ">
            <div class="col-12 text-center" >
                <el-upload
                    class="upload-payment-slip"
                    drag
                    ref="upload"
                    list-type="picture"
                    :action="user.links.create_stocks"
                    :multiple="false"
                    :limit="2"
                    :on-change="setPreview"
                    :on-preview="showPreview"
                    :http-request="createOrder"
                    :on-remove="removePreview"
                    :disabled="loading"
                    :auto-upload="false">
                    <div>
                        <i class="el-icon-upload"></i>
                        <div class="el-upload__text">Drag and drop payment slip here，or <br><em>click to upload</em></div>
                        <div class="el-upload__tip" slot="tip">Only image allowed</div>
                    </div>
                </el-upload>
            </div>
            <div class="col-12" v-if="progress !== null">
                <p class="m-0" v-if="progress < 100">Uploading Slip...</p>
                <p class="m-0" v-else-if="progress == 100">Processing Request...</p>
                <el-progress :percentage="progress"></el-progress>
            </div>
             </div>
             <div v-if="value=='eWallet'">
                <div class="col-md-6">
                     <div class="card-deck">
            <div class="card bg-gradient-default">
              <div class="card-body">
                <div class="mb-2">
                  <sup class="text-white">RM</sup> <span class="h2 text-white">{{ quantity * price }}</span>
                  <div class="text-light mt-2 text-sm">Your current balance</div>
                  <div>
                    <span v-if="user.eWallet > quantity * price" class="text-success font-weight-600">can use ewallet</span> <span v-if="user.eWallet < quantity * price" class="text-warning font-weight-600">can't use  ewallet</span> <span class="text-light">(RM{{user.eWallet}})</span>
                  </div>
                </div>
                <button @click="value=='slip'" v-if="(value=='eWallet' && (user.eWallet < (quantity * price)))" class="btn btn-sm btn-block btn-neutral">Please upload payment slip</button>
              </div>
          
            </div>
        </div>
                </div>
             </div>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button :loading="loading" @click="$parent.showStockDialog = false">Cancel</el-button>
            
            <el-button v-if="value=='slip'" :loading="loading" :disabled="requiredFields"  type="primary" @click="$refs.upload.submit()">Purchase <span v-if="quantity">{{ currency }} {{ quantity * price }}</span></el-button>

           
              <el-button  v-if="(value=='eWallet' && (user.eWallet > (quantity * price)))" :loading="loading"   type="primary" @click="createOrder">Purchase <span v-if="quantity">{{ currency }} {{ quantity * price }}</span></el-button>
        
              <el-button  v-if="(value=='both' && (user.eWallet > 0))" :loading="loading"  :disabled="requiredFields"   type="primary" @click="$refs.upload.submit()">Purchase <span v-if="quantity">{{ currency }} {{ quantity * price }}</span></el-button>

        
        </span>
        <el-dialog :visible.sync="dialogVisible" :append-to-body="true">
            <img width="100%" :src="dialogImageUrl" alt="">
        </el-dialog>
    </el-dialog>
</template>

<script>
export default {
    mounted () {
        this.getProducts()

    },
    data () {
        return {
            level: null,
            products: [],
            product: null,
            quantity: 0,
            errors: {},
            dialogImageUrl: '',
            dialogVisible: false,
            progress: null,
            loading: false,
        options: [{
          value: 'slip',
          label: 'Payment Slip'
        }, {
          value: 'eWallet',
          label: 'Use eWallet'
        },
         {
           value: 'both',
           label: 'Use Ewallet & Slip'
         }],
        value: ''
        }
    },
    props: {
        show: {
            type: Boolean,
            default: false
        },
        user: {
            type: Object,
            default: () => {}
        }
    },
    methods: {
        getProducts () {
            return axios(this.$root.routes.getProducts)
                    .then(res => {
                        this.products = res.data.data
                         this.product = this.products[0]
                    })
                    .catch(err => {})
        },
        setPreview(file, list) {
            if (list.length > 1) {
                list.shift()
            }
            this.dialogImageUrl = file.url
        },
        showPreview(file) {
            this.dialogVisible = true
        },
        removePreview(file) {
            this.dialogImageUrl = ''
        },
        createOrder(params) {
            console.log(params)
            this.loading = true
            this.errors = {}
            let form = new FormData()
            
            form.append("quantity", this.quantity)
            form.append("price", this.price)
            form.append("product", this.product.id)
            form.append('payment_type', this.value)
            form.append('sale_amount', this.price*this.quantity)
            if(this.value=='eWallet'){
            form.append("payment_proof", 'eWallet')
            }else{
            form.append("payment_proof", params.file)  
            }
             if(this.value==='both'){
               form.append('both_amount', this.ifBothAmmount)
             }
             else{
                form.append('both_amount', 0)
             }
            return axios.post(this.user.links.create_stocks, form, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                    onUploadProgress: progressEvent => {
                        this.progress = parseInt(Math.round((progressEvent.loaded * 100) / progressEvent.total))
                    }
                })
                .then(res => {
                    // notify user
                    this.$message.success(res.data.message)
                    // close dialog
                    this.$parent.showStockDialog = false
                    // reset form
                    this.quantity = 0
                })
                .catch(error => {
                    error.response && error.response.status == 422 && (this.errors = handleValidation(error))
                })
                .finally(() => {
                    this.loading = false
                    this.progress = null
                    this.$refs.upload.clearFiles()
                    this.dialogImageUrl = ''
                })
        }
    },
     watch: {
    level: function(newValue, oldValue) {
      console.log(newValue, oldValue)
      //this.level = newValue
      return this.level
    }
  },
    computed: {
       minimum(){
         if(this.user.role_id==7){
          return 150;
         }else if(this.user.role_id==6){
          return 100;
         }else if(this.user.role_id==5){
          return 50;
         }else if(this.user.role_id==4){
          return 25;
         }else if(this.user.role_id==3){
          return 15;
         }else if(this.user.role_id==2){
          return 6;
         }else if(this.user.role_id==1){
          return 1;
         }else if(this.user.role_id==33){
          return 4;
         }
       },

        price () {

          if(this.user.role_id==7 && (this.quantity>=150)){
              return 62;
          }else if(this.user.role_id==6 && (this.quantity>=100)){
             if(this.quantity>=500){
               this.level = 7
               return 62
             }else{
               return 72;
             }
          }else if(this.user.role_id==5 && (this.quantity>=50)){
              if(this.quantity>=500){
                this.level = 7
                return 62
              }else if(this.quantity>=300){
                this.level = 6
                return 72
              }else{
                return 80;
              }
          }else if(this.user.role_id==4 && (this.quantity>=25)){
            if(this.quantity>=500){
                this.level = 7
                return 62;
              }else if(this.quantity>=300){
                this.level = 6
                return 72;
              }else if(this.quantity>=100){
                this.level = 5
                return 80;
              }else{
                return 88;
              }
             
          }else if(this.user.role_id==3 && (this.quantity>=15)){
             if(this.quantity>=500){
                this.level = 7
                return 62;
              }else if(this.quantity>=300){
                this.level = 6
                return 72;
              }else if(this.quantity>=100){
                this.level = 5
                return 80;
              }else if(this.quantity>=50){
                this.level = 4
                return 88;
              }else{
                return 95;
              }
            
          }else if(this.user.role_id==2 && (this.quantity>=6)){
            if(this.quantity>=500){
                this.level = 7
                return 62;
              }else if(this.quantity>=300){
                this.level = 6
                return 72;
              }else if(this.quantity>=100){
                this.level = 5
                return 80;
              }else if(this.quantity>=50){
                this.level = 4
                return 88;
              }else if(this.quantity>=30){
                this.level = 3
                return 95;
              }else {
               return 100;
              }
            
          }else if(this.user.role_id==1 && (this.quantity>=1)){
                if(this.quantity>=500){
                  this.level = 7
                return 62;
              }else if(this.quantity>=300){
                 this.level = 6
                return 72;
              }else if(this.quantity>=100){
                 this.level = 5
                return 80;
              }else if(this.quantity>=50){
                this.level = 4
                return 88;
              }else if(this.quantity>=30){
                this.level = 3
                return 95;
              }else if(this.quantity>=10){
                this.level = 2
               return 100;
              }else{
               return 120;
              }
            
          }else if(this.user.role_id==33) {
          if(this.quantity==4){
            return 120
         }
         else if(this.quantity==10){
            return 100
         }
         else if(this.quantity==30){
            return 95
         }
         else if(this.quantity==50){
            return 88
         }
         else if(this.quantity==100){
            return 80
         }
         else if(this.quantity==300){
            return 72
         }
         else if(this.quantity==500){
            return 62
         } 
          }else{
            this.level = null
           if(this.user.role_id==999){
            this.level = 999
            return 62;

           }
          }

         
        },
        ifBothAmmount(){
          if(this.quantity*this.price>this.user.eWallet)
           return this.price*this.quantity - this.user.eWallet;
           else
           return 0;
        },
        currency () {
            return process.env.MIX_APP_CURRENCY
        },
        requiredFields () {
            return !this.quantity || !this.dialogImageUrl 
            // return !this.quantity || !this.dialogImageUrl || parseInt(this.quantity) < parseInt(this.product.min_stock_purchase)
        }
    }
}
</script>
