<template>
    <div class="modal fade" data-backdrop="static" id="transfer-modal" tabindex="-1" role="dialog" aria-labelledby="transferModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="transferModalLabel">Transfer Stock To</h2>
                </div>
                <div class="modal-body pt-0">
                    <div v-if="!confirm" class="row">
                        <div class="col-12 mb-3">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <multiselect
                                        :options="user.stocks"
                                        :custom-label="opt => {
                                            let l = this.user.stocks.find(o => o.id == opt.id)
                                            return l ? `${l.product.name} (${l.product.sku})` : null
                                        }"
                                        v-model="stock"
                                        placeholder="Select a product">
                                    </multiselect>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <p>Available stock: {{ stock ? stock.quantity : 0 }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="input-user">Select A Downline</label>

                                <multiselect
                                    :options="downlines"
                                    :custom-label="downlinesLabel"
                                    v-model="downline"
                                    placeholder="Select a downline">
                                </multiselect>
                                <div class="invalid-feedback" :class="errors.downline ? 'd-block' : ''">{{ errors.downline }}</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="form-control-label" for="input-quantity">Stock Quantity</label>
                            <div class="form-group" :class="errors.quantity ? 'has-danger' : ''">
                                <input :class="errors.quantity ? 'is-invalid' : ''" id="input-quantity" class="form-control form-control-alternative" v-model="quantity" type="number">
                                <div class="invalid-feedback">{{ errors.quantity }}</div>
                            </div>
                        </div>
                    </div>
                    <div v-else class="row">
                        <div v-if="downline" class="col-12">Transfer To: {{ downline.name }} | {{ downline.username }} ({{ downline.role.name }})</div>
                        <div class="col-12">Product: {{ stock.product.name }}</div>
                        <div class="col-12">Stock amount transferred: <b class="text-danger">{{ quantity }}</b></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button :disabled="loading" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button v-if="!confirm" @click="confirm = true" :disabled="!downline || !quantity" type="button" class="btn btn-primary">
                        Confirm
                    </button>
                    <button v-else @click="submit" :disabled="loading" type="button" class="btn btn-primary">
                        Transfer <i class="fas fa-spin fa-spinner" v-if="loading"></i>
                    </button>
                    <button v-if="confirm" @click="confirm = false" :disabled="loading" type="button" class="btn btn-danger">
                        Back
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted () {
        modalAppendToBody('#transfer-modal')
    },
    data () {
        return {
            loading: false,
            downline: null,
            quantity: 0,
            stock: null,
            errors: [],
            product: {},
            confirm: false
        }
    },
    props: {
        user: {
            type: Object,
            default: () => {}
        }
    },
    methods: {
        downlinesLabel (opt) {
            return opt ? `${opt.name} (${opt.username})` : null
        },
        submit () {
            this.loading = true
            this.errors = {}
            return axios.post(this.user.links.transfer_stock, {
                downline: this.downline.id,
                quantity: this.quantity,
                product_id: this.stock.product_id,
            }).then(res => {
                this.$message.success(res.data.message)
                this.downline = null
                this.stock = null
                this.quantity = 0
                this.$root.user.stocks = res.data.user.stocks
            }).catch(error => {
                error.response && error.response.status == 422 && (this.errors = handleValidation(error))
            }).finally(() => {
                this.loading = false
                this.confirm = false
            })
        }
    },
    computed: {
        downlines () {
            return this.user.downlines
        }
    }
}
</script>