<template>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="d-flex align-items-center justify-content-end col-12">
                                                          <div class="form-group">
                                
    <label for="exampleFormControlSelect1">Delivery Model</label>
    <select v-model="delivery" class="form-control" id="exampleFormControlSelect1" @change="addDeliver">
      <option value="3">Self Pick up</option>
      <option value="2">Deliver to me</option>
      <option value="1">Delever to customer</option>
     
    </select>
  </div>
                        </div>
                    </div>
                    <h2 class="card-title">2. Customer Information </h2>
                    <div v-if="delivery==1" class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-control-label" for="customer">Customer Name</label>
                                <multiselect
                                    id="customer"
                                    :options="customers"
                                    @select="customerSelected"
                                    label="name"
                                    v-model="order.customer"
                                    :taggable="true"
                                    @tag="addCustomer"
                                    tag-placeholder="Create a new customer with the name"
                                    placeholder="Select customer from history or create a new one">
                                </multiselect>
                                <div class="invalid-feedback" :class="errors.name ? 'd-block' : ''">{{ errors.name }}</div>
                            </div>
                        </div>
                        <div v-if="delivery==1" class="col-12">
                            <label class="form-control-label" for="input-phone_no">Phone Number</label>
                            <div class="form-group" :class="errors.phone_no ? 'has-danger' : ''">
                                <input type="text" :class="errors.phone_no ? 'is-invalid' : ''" id="input-phone_no" class="form-control form-control-alternative" placeholder="Contact Number" v-model="order.customer.phone_no">
                                <div class="invalid-feedback">{{ errors.phone_no }}</div>
                            </div>
                        </div>
                    </div>
                    <div v-else class="row">
                        <div class="col-12">
                            <h3>Uncheck Deliver to me Option To Fill In Shipping Address</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div v-if="delivery==1" class="card">
                <div class="card-body">
                    <h2 class="card-title">3. Shipping Address</h2>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <contact-information ref="address" :address="order.customer.address" :errors="errors"></contact-information>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import contactInformation from 'components/user/profile/contact-information'

export default {
    mounted () {
           this.delivery = this.order.delivery
        // turn on customer slot by default if it is new form
        if (window.location.href.match('new')) {
            this.$set(this.order, 'customer', {
                address: {
                    country: null,
                    state: null
                }
            })
        }
    },
    data() {
        return {
             delivery: null, //1 for deliver to customer, 2 deliver to me 2, 3 self pick up
        }
    },
    props: {
        customers: {
            type: Array,
            default: () => {}
        },
        order: {
            type: Object,
            default: () => ({})
        },
        errors: {
            type: Object,
            default: () => ({})
        }
    },
    methods: {
        addCustomer(name) {
            let customer = {
                id: null,
                role_id: null,
                name,
                email: null,
                phone_no: null,
                address: {
                    street: null,
                    street_2: null,
                    zipcode: null,
                    city: null,
                    state: null,
                    country: null
                }
            }
            this.$parent.customers.push(customer)
            this.$set(this.$parent.order, 'customer', customer)
        },
        addDeliver() { 
        this.$set(this.$parent.order, 'delivery', this.delivery)
        },
        openCustomer() {
            if (this.order.customer == null)
                this.$set(this.order, 'customer', {
                    address: {
                        country: null,
                        state: null
                    }
                })
            else
                this.$set(this.order, 'customer', null)
        },
        customerSelected (option) {
            this.$refs.address.country = option.address.country
            this.$refs.address.state = option.address.state
        }
    },
    computed: {
        isAdminRoute() {
            return window.location.href.match('admin') !== null
        },
        customerExists () {
            return this.order.customer != null
        },
    },
    components: {
        contactInformation
    }
}

</script>
