<template>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">1. Order Items</h2>
            <div class="form-group">
                <label for="items">Select Products</label>
                <multiselect
                    id="items"
                    :multiple="true"
                    :options="user.stocks.map(stock => {
                        return {
                            id: null,
                            product_id: stock.product_id,
                            unit_price: stock.product.price,
                            product: stock.product,
                            balance: stock.quantity,
                            quantity: 0
                        }
                    })"
                    track-by="product_id"
                    :custom-label="opt => {
                        let l = user.stocks.find(o => o.product_id == opt.product_id)
                        return l ? `${l.product.name} (${l.product.sku})` : null
                    }"
                    v-model="selections"
                    placeholder="Select a product"
                    :disabled="order.status != 0 && order.status !== null"
                    :closeOnSelect="false">
                </multiselect>
            </div>
        </div>
        <div v-if="selections.length" class="table-responsive">
            <table class="table">
                <tr>
                    <th>Product Name</th>
                    <th>SKU</th>
                   <!--  <th>Balance</th> -->
                    <th>Unit Price ({{ currency }})</th>
                    <th>Quantity</th>
                    <th>Option</th>
                </tr>
                <tr v-for="item, index in order.items">
                    <td style="vertical-align: middle;">{{ item.product.name }}</td>
                    <td style="vertical-align: middle;">{{ item.product.sku }}</td>
                   <!--  <td style="vertical-align: middle;">{{ item.balance }}</td> -->
                    <td style="vertical-align: middle;">{{ item.unit_price }}</td>
                    <td>
                        <input :disabled="order.status != 0 && order.status !== null" v-model="item.quantity" type="number" class="form-control">
                        <span v-if='errors["items."+index+".quantity"]' class="text-danger invalid-feeback d-block">{{ errors["items."+index+".quantity"] }}</span>
                    </td>
                    <td>
                        <input :disabled="order.status != 0 && order.status !== null" v-model="item.memo" type="text" class="form-control" :placeholder="item.product.memo">
                        <span v-if='errors["items."+index+".memo"]' class="text-danger invalid-feeback d-block">{{ errors["items."+index+".memo"] }}</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    mounted () {
        this.selections = this.order.items.map(item => {
            let stock = this.user.stocks.find(s => s.product_id == item.product_id)
            return {
                id: item.id,
                product_id: item.product_id,
                unit_price: item.unit_price,
                product: stock.product,
                balance: stock.quantity,
                quantity: item.quantity,
                memo: item.memo,
            }
        })
    },
    data () {
        return {
            selections: []
        }
    },
    props: {
        user: {
            type: Object,
            default: () => ({})
        },
        order: {
            type: Object,
            default: () => ({})
        },
        errors: {
            type: Object,
            default: () => ({})
        },
        items: {
            type: Array,
            default: () => {}
        }
    },
    computed: {
        currency () {
            return process.env.MIX_APP_CURRENCY
        }
    },
    watch: {
        selections (val) {
            this.$emit('update:items', val)
        }
    }
}
</script>
