<template>
     <div class="row">
         <div class="col-lg-3" v-for="stat in user.shippingStat">
              <div class="card bg-gradient-default border-0">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0 text-white">{{stat.label}}</h5>
                      <span class="h2 font-weight-bold mb-0 text-white">{{stat.value}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                        <i class="ni ni-spaceship"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-white mr-2"><i class="fa fa-arrow-right"></i></span>
                    <span class="text-nowrap text-light">shipping order</span>
                  </p>
                </div>
              </div>
            </div>


          
       
           
          </div>
</template>

<script>
export default {
    data () {
        return {
        }
    },
    props: {
         user: {
            type: Object,
            default: () => {}
        }
    },
    methods: {
       
    }
}
</script>
