<template>
    <div>
        <span v-if="!changeRole">{{ user.role ? user.role.name : 'UNDEFINED' }}</span>
        <multiselect
            v-else
            :options="roles"
            placeholder="Search by role name"
            :custom-label="opt => {
                return `${opt.name} (${opt.description})`
            }"
            @search-change="searchRoles"
            @select="selectRole"
            :loading="loading"
            v-model="user.role">
        </multiselect>
        <i v-if="superadmin" class="fas hover ml-1 hover" :class="changeRole ? 'fa-times text-danger' : 'fa-sync-alt text-info'" @click="changeRole = !changeRole"></i>
    </div>
</template>

<script>
export default {
    data () {
        return {
            roles: [],
            loading: false,
            changeRole: false
        }
    },
    props: {
        user: {
            type: Object,
            default: () => ({})
        }
    },
    methods: {
        searchRoles (query) {
            this.loading = true
            return axios(this.$root.routes.getAllRoles, {
                params: {
                    keyword: query,
                    per_page: 'all'
                }
            }).then(res => {
                this.roles = res.data.data
            }).catch(error => {})
            .then(() => this.loading = false)
        },
        selectRole (role) {
            this.loading = true
            return axios.post(this.user.links.update_role, {
                role_id: role.id
            }).then(res => {
                this.$message.success(res.data.message)
                this.changeRole = false
            }).catch(error => {})
            .then(() => this.loading = false)
        }
    },
    computed: {
        superadmin () {
            return this.$root.admin.role_id == 999
        }
    }
}
</script>
