// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// Argon Theme
@import "~@creative-tim-official/argon-dashboard-free/assets/scss/argon";
@import "~@creative-tim-official/argon-dashboard-free/assets/vendor/nucleo/css/nucleo";

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@import "sidebar";
@import "multiselect";

.canale-background:before {
    content: "";
    -webkit-filter: blur(3px);
    filter: blur(3px);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url("/storage/images/bg.jpeg");
    background-size: cover;
}

.hover {
    cursor: pointer;
}

.hover-plus {
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;

    &:hover:before {
        content: "\f067";
    }
}

.hover:hover {
    .hover-plus:before {
        content: "\f067";
    }
}

.table-expand {
    font-size: 0;
}

.table-expand label {
    width: 90px;
    color: #99a9bf;
}

.table-expand .el-form-item {
    margin-right: 0!important;
    margin-bottom: 0!important;
    width: 50%;
}

.table-expand .el-form-item.tr-full, .table-expand .el-form-item.tr-full .el-form-item__content {
    width: 100%;
}

@media (min-width: 768px) {
    .main-content .container-fluid {
        padding-left: 15px!important;
        padding-right: 15px!important;
    }

    .main-content > .navbar-top + div {
        padding-top: 63px;
    }
}

@media (max-width: 768px) {
    .main-content > .navbar-top + div.canale-background {
        padding-top: 69px;
    }

    #user-dashboard .bg-gradient-primary{
        padding-top: 15px;
    }
}

.modal.fade {
    padding-right: 0px !important;
}

.el-upload, .el-upload-dragger {
    width: 100%!important;
}

.el-dialog__body {
    overflow: visible;
}

.el-dialog {
    width: 90vw!important;
    height: fit-content;
    border-radius: 0!important;
    margin-right: 0!important;
    margin-left: 0!important;
}

.el-dialog__wrapper {
    display: flex;
    justify-content: center;
}

.modal {
    overflow-y: auto!important;
}

.el-message {
    width: fit-content;
    max-width: 100%;
    min-width: 100px!important;
    border-radius: 0!important;
    word-break: break-all;
}

.btn.btn-pill {
    border-radius: 500px;
}

.el-date-editor {
    width: fit-content!important;
}
