@import "~vue-multiselect/dist/vue-multiselect.min";

.multiselect {
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
    border-radius: 0.375rem;
    &.is-invalid+.invalid-feedback {
        display: block;
    }
}

.multiselect__tags {
    border: 0;
    padding: 0.625rem 40px 0.625rem 0.75rem;
    // height: calc(2.6rem + 2px);
    min-height: calc(2.6rem + 2px);
}

.multiselect__placeholder, .multiselect__tag {
    margin-bottom: 0;
}
