@media (min-width: 1200px) {
    .ct-sidebar {
        flex: 0 1 320px;
    }
}

@media (min-width: 768px) {
    .ct-sidebar {
        position: -webkit-sticky;
        position: sticky;
        z-index: 1000;
        top: 4rem;
        height: calc(100vh - 4rem);
        border-right: 1px solid #e6ecf1;
    }

    .ct-links {
        overflow-y: auto;
        max-height: calc(100vh - 5rem);
        display: block!important;
    }
}

.ct-sidebar {
    border-bottom: 1px solid #e6ecf1;
    background-color: #f5f7f9;
    order: 0;
}

.ct-links {
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 1rem;
}

.ct-toc-item.active {
    margin-bottom: 1rem;
}

.ct-toc-item.active>.ct-toc-link {
    color: rgba(0,0,0,.85);
}
.ct-toc-link {
    font-size: .875rem;
    font-weight: 600;
    display: block;
    padding: .25rem 1.5rem;
    color: #0d2b3e;
}

.ct-toc-item.active>.ct-sidenav {
    display: block;
}
.ct-sidenav {
    display: none;
}

.ct-sidebar .nav>li>a {
    font-size: 1em;
    display: block;
    padding: 1rem;
    color: #4c555a;
}

.ct-sidebar .nav>li>a:hover, .ct-sidebar .nav>li>a.active {
    color: #5e72e4;
}

.ct-toc-item.active:not(:first-child) {
    margin-top: 1rem;
}
