<template>
    <div class="card card-stats">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Downlines</h5>
                    <span class="h2 font-weight-bold mb-0">{{ user.downlines_count }}</span>
                </div>
                <div class="col-auto">
                    <el-tooltip class="item" effect="dark" placement="top">
                        <span v-if="allowToRefer" slot="content">Click on <i class="fas fa-plus"></i> to invite new member</span>
                        <span v-else slot="content">You have no permission to invite new member</span>
                        <div @click="allowToRefer && (showDownlineDialog = true)" class="hover icon icon-shape bg-warning text-white rounded-circle shadow">
                            <i class="fas fa-users" :class="!allowToRefer ? '' : 'hover-plus'"></i>
                        </div>
                    </el-tooltip>
                </div>
            </div>
        </div>
    
        <referral-form :show="showDownlineDialog" :user="user"></referral-form>
    </div>
</template>

<script>
import referralForm from 'components/user/referral-form'

export default {
    data() {
        return {
            showDownlineDialog: false,
        }
    },
    props: {
        user: {
            type: Object,
            default: () => {}
        }
    },
    components: {
        referralForm
    },
    computed: {
        allowToRefer () {
            return this.user.role_id<10 || this.user.role_id>100
            // return this.user.role_id > 1 && this.user.role_id!=33
        }
    }
}
</script>
