<template>
    <div class="card card-stats">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">My Total Units </h5>
                    <span class="h2 font-weight-bold mb-0">{{ user.token }}</span>
                </div>
                <div class="col-auto">
                    <el-tooltip class="item" effect="dark" placement="top" :content="!totalStocks ? 'You have no stocks to start a deal' : 'manage stocks'">
                        <a href="/stocks" class="hover icon icon-shape bg-success text-white rounded-circle shadow">
                            <i class="fa fa-home" :class="totalStocks ? 'hover-plus' : ''"></i>
                        </a>
                    </el-tooltip>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            showShippingModal: false
        }
    },
    props: {
        user: {
            type: Object,
            default: () => {}
        }
    },
    components: {
    },
    computed: {
        totalStocks () {
            return this.user.stocks.reduce((sum, s) => sum + s.quantity, 0)
        }
    },
    methods: {
        openShippingModal () {
        }
    }
}
</script>
