<template>
  <div>


     <!-- <a data-toggle="modal" data-target="#modal-default" href="#" class="btn btn-neutral pull-right"></a> -->
    <a  data-toggle="modal" data-target="#modal-default" href="#" class="btn btn-neutral btn-sm pull-right">How you want get paid</a>


  <!-- Button trigger modal -->
<button type="button" class="btn btn-neutral btn-sm" data-toggle="modal" data-target="#exampleModal">
 Request Withdrawal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Request Withdrawal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                      <form>
               <p>Current balance RM{{user.eWallet}}</p>
                 <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        Amount to withdraw
        <input v-model="request.amount" type="text" placeholder="Amoount" class="form-control form-control-alternative is-valid" />
      </div>
    </div>
    
  </div>
 <button v-if="user.eWallet>=100 && bank.user_id" @click="requestwithdraw()" type="button" class="btn btn-primary">Request withdraw</button>
 <span v-else> You must have min amount  of RM 100  and updated your banks details to request withdraw </span>

              </form>
                  <table v-if="tableData.length" class="table table-responsive">
      <tr>
        <td>
          Date 
        </td>
        <td>
          Amount
        </td>
        <td>
          action
        </td>
      </tr>

      <tr v-for="(d, index) in tableData" :key="d.id">
        <td>
         
         
          {{d.created_at}} 
          <span v-if="d.status==0" class="badge badge-primary">Pending</span>
          <span v-if="d.status==1" class="badge badge-success">Approved</span>

          <span v-if="d.status==-1" class="badge badge-danger">Rejected</span>
        </td>
        <td>
          {{d.amount}} 
        </td>
        <td >
           <a v-if="d.status==1" @click="viewProof(d.payment_proof)" target="_blank">view proof </a>
          <button v-if="d.status==0" class="btn btn-sm btn-danger" @click="del(d, index)">del</button>
        </td>
      </tr>
    </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
          


          
        <!-- model -->
<div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            
            <div class="modal-header">
                <h4 class="modal-title" id="modal-title-default">Add Payment Methods</h4>
        
            <button  class="btn btn-sm btn-neutral" @click="detail='detail'">Details</button> <button  class="btn btn-sm btn-neutral" @click="detail='update'">update</button>
            <!-- <button  class="btn btn-sm btn-neutral" @click="detail='request'">Request withdraw</button> -->
            </div>
            
            <div class="modal-body">
    <div  v-if="detail=='request'">
              <form>
               <p>Current balance RM{{user.eWallet}}</p>
                 <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        Amount to withdraw
        <input v-model="request.amount" type="text" placeholder="Amoount" class="form-control form-control-alternative is-valid" />
      </div>
    </div>
    
  </div>
 <button v-if="user.eWallet>=100 && bank.user_id" @click="requestwithdraw()" type="button" class="btn btn-primary">Request withdraw</button>
 <span v-else> You must have min amount  of RM 100  and updated your banks details to request withdraw </span>

              </form>
    <table v-if="tableData.length" class="table table-responsive">
      <tr>
        <td>
          Date 
        </td>
        <td>
          Amount
        </td>
        <td>
          action
        </td>
      </tr>

      <tr v-for="(d, index) in tableData" :key="d.id">
        <td>
         
         
          {{d.created_at}} 
          <span v-if="d.status==0" class="badge badge-primary">Pending</span>
          <span v-if="d.status==1" class="badge badge-success">Approved</span>

          <span v-if="d.status==-1" class="badge badge-danger">Rejected</span>
        </td>
        <td>
          {{d.amount}} 
        </td>
        <td >
           <a v-if="d.status==1" @click="viewProof(d.payment_proof)" target="_blank">view proof </a>
          <button v-if="d.status==0" class="btn btn-sm btn-danger" @click="del(d, index)">del</button>
        </td>
      </tr>
    </table>

            </div>
               
                <form v-if="detail=='update'">

                    <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        How you want get paid
      <select v-model="bank.type_of_withdral"  class="form-control" placeholder="">
  <option v-for="d in methods">{{d}}</option>
     </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        Bank

      <select v-model="bank.bank"  class="form-control">
  <option v-for="d in drop">{{d}}</option>
     </select>
      </div>
    </div>
    
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        Account Name
        <div class="input-group input-group-alternative mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
          </div>
          <input v-model="bank.name" class="form-control form-control-alternative" placeholder="Account Name" type="text">
        </div>
      </div>
    </div>
    
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        Account Number
        <input v-model="bank.account" type="text" placeholder=" Account Number" class="form-control form-control-alternative is-valid" />
      </div>
    </div>
    
  </div>
 <button @click="AddDetail()" type="button" class="btn btn-primary">Save payements details</button>
</form>
     
        <div class="card-plain" v-if="bank.user_id && detail=='detail'" >
            <div class="card-header">
              <h3 class="mb-0">Details</h3>
            </div>
            <div class="card-body">
          
              <div class="row py-3 align-items-center">
                <div class="col-sm-3">
                  <small class="text-uppercase text-muted font-weight-bold">Bank</small>
                </div>
                <div class="col-sm-9">
                  <h5 class="mb-0">{{bank.bank}} </h5>
                </div>
              </div>

               <div class="row py-3 align-items-center">
                <div class="col-sm-3">
                  <small class="text-uppercase text-muted font-weight-bold">Acc. Name</small>
                </div>
                <div class="col-sm-9">
                  <h5 class="mb-0">{{bank.name}} </h5>
                </div>
              </div>


               <div class="row py-3 align-items-center">
                <div class="col-sm-3">
                  <small class="text-uppercase text-muted font-weight-bold">Acc. Number</small>
                </div>
                <div class="col-sm-9">
                  <h5 class="mb-0">{{bank.account}} </h5>
                </div>
              </div>


               <div class="row py-3 align-items-center">
                <div class="col-sm-3">
                  <small class="text-uppercase text-muted font-weight-bold">How you get Paid</small>
                </div>
                <div class="col-sm-9">
                  <h5 class="mb-0">{{bank.type_of_withdral}} </h5>
                </div>
                <div class="col-sm-9">
                 
                </div>
              </div>
             
            </div>
          </div>

            </div>
            
            <div class="modal-footer">
               
                <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Close</button> 
            </div>
            
        </div>
    </div>
</div>
        <!-- end moder -->
  </div>
</template>
<script>
import userStats from './user-stats'
import activities from './campaign-history'

export default {
    mounted() {},
    data() {
        return {
           tableData: [],
          request: {
            amount: 0,
            user_id: '',
            can: '',
            proof: '/'
          },
          detail: 'update',
          url:location.protocol + '//' + location.host,
          bank:{
            user_id: '',
            name: '',
            bank: '',
            account: '',
            type_of_withdral: ''
          },
          methods: [
           'Withdrawal the money by monthly basic',
           'Keep in eWallet. '
           ],
          drop: [
    "Maybank",
    "CIMB Bank",
    "Public Bank Berhad",
    "RHB Bank",
    "Hong Leong Bank",
    "AmBank",
    "UOB Malaysia Bank",
    "Bank Rakyat",
    "OCBC Bank Malaysia",
    "HSBC Bank Malaysia",
    "Affin Bank",
    "Bank Islam Malaysia",
    "Standard Chartered Bank Malaysia",
    "CitiBank Malaysia",
    "Bank Simpanan Nasional (BSN)",
    "Bank Muamalat Malaysia Berhad",
    "Alliance Bank",
    "Agro Bank",
    "Al-Rajhi Malaysia",
    "MBSB Bank Berhad",
     ],
        }
    },
    props: {
        user: Object
    },
    components: {
        userStats, activities
    },

     created(){
     axios.get(this.url+'/requestwithdraw/'+this.user.id)
     .then(response=>{
     this.tableData = response.data
     })
     .catch(errors=>{})
    },
    mounted(){
      
     axios.get(this.url+'/bankdetails/'+this.user.id)
     .then(response=>{
     this.bank.name = response.data.name
     this.bank.account = response.data.account
     this.bank.bank = response.data.bank
     this.bank.user_id =response.data.user_id
     
     })
     .catch(errors=>{})
    },
    methods: {
      viewProof: function(val){
        let loc = '/storage/'+val;
         window.open(loc, '_blank');
      },
      del: function(del, index){
       axios.delete(this.url+'/requestwithdraw/'+del.id)
      .then(response =>{
          this.tableData.splice(this.tableData.indexOf(index), 1);
      this.$message.success('Request deleted successfully')
      })
      .catch(errors =>{
    // this.$message.error('Unable to delete request')
      })
      },
      requestwithdraw: function(){
        if(this.request.amount>this.user.eWallet){
           this.$message.error('the amount to withdraw must be less or equal to eWallet balance')
           return
        }
      this.request.user_id =this.user.id
      axios.post(this.url+'/requestwithdraw', this.request)
      .then(response =>{
        this.tableData.push(response.data.data)
      this.$message.success('Request submitted successfully')
      })
      .catch(errors =>{
     this.$message.error('Unable to submit request')
      })
      },
      AddDetail: function(){
        this.bank.user_id =this.user.id
      axios.post(this.url+'/bankdetails', this.bank)
      .then(response =>{
      this.$message.success('Payments Details saved successfully')
      })
      .catch(errors =>{
     this.$message.error('error in saving payments details')
      })
      }
    }
}

</script>

