<template>
<div>

    <div class="header bg-gradient-pink pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
            <!-- filter start -->
<!-- 
    <div class="pull-right">
                        <el-date-picker
                            @change="getActivities(1)"
                            v-model="range"
                            type="daterange"
                            align="right"
                            unlink-panels
                            range-separator="-"
                            format="yyyy-MM-dd"
                            start-placeholder="Start At"
                            end-placeholder="End At">
                        </el-date-picker>
                    </div> -->
        
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">
 <el-table
    v-loading="loading"
    :data="tableData"
    show-summary
    style="width: 100%">
    <el-table-column
      prop="id"
      label="ID"
      width="150">
    </el-table-column>
    <el-table-column
      prop="name"
      label="Name">
    </el-table-column>
    <el-table-column
      prop="email"
      sortable
      label="Email">
    </el-table-column>
    <el-table-column
      prop="phone"
      sortable
      label="Phone">
    </el-table-column>
    <el-table-column
      prop="level"
      sortable
      label="Level">
    </el-table-column>
     <el-table-column
      prop="personal"
      sortable
      label="Personal">
    </el-table-column>
     <el-table-column
      prop="group"
      sortable
      label="Group">
    </el-table-column>
     <el-table-column
      prop="total"
      sortable
      label="Total">
    </el-table-column>
  </el-table>
<br>

    </div>
   
<!--      <ul>
        <li class="list-group-item" v-if="!commision.length">No activity found</li>
            <li v-if="commision.length > 1" class="list-group-item text-right">
                <el-pagination
                    layout="prev, pager, next"
                    @current-change="getActivities"
                    :total="navig.total"
                    :page-size="parseInt(navig.per_page)">
                </el-pagination>
            </li>
     </ul> -->
  </div>
</template>

<script>
  export default {
    data() {
      return {
       commision: [],
       navig: [],
            loading:false,
            keyword: null,
            subject_type: null,
            active: null,
            range: [],
            keywordTimeout: null,
            withdraws: [],
            dialogTableVisible: false,
  

      }
    },
   
    mounted(){
     this.getData();
    }, 
    computed: {
        tableData: {
          get: function(){
              return this.commision
            },
            set: function(value){}
        },
        nav: {
          get: function(){
              return this.navig
            },
            set: function(value){}
        }
    },
    methods: {
   getSummaries(param) {
        const { columns, data } = param;
        const sums = [];
        columns.forEach((column, index) => {
          if (index === 0) {
            sums[index] = 'Total';
            return;
          }
          const values = data.map(item => Number(item[column.property]));
          if (!values.every(value => isNaN(value))) {
            sums[index] = 'RM ' + values.reduce((prev, curr) => {
              const value = Number(curr);
              if (!isNaN(value)) {
                return prev + curr;
              } else {
                return prev;
              }
            }, 0);
          } else {
            sums[index] = 'N/A';
          }
        });

        return sums;
      },
        getData: function(){
            this.loading = true
             // alert(this.$root.routes)
              axios.get(this.$root.routes.getCommission)
            .then(res=>{
         this.tableData = res.data.data
         this.commision = res.data.data
         this.navig = res.data.commision
         this.loading = false 
            })
            .catch(error=>{
          this.loading= false
            })
        },
                getActivities (page) {
           
            this.loading = true
              return axios(this.$root.routes.getCommission, {
                params: {
                    per_page: 10,
                    page,
                    order_by: 'created_at',
                    order_direction: 'desc',
                    keyword: this.keyword,
                    start_at: this.range[0],
                    end_at: this.range[1]
                }
            }).then(res => {
  
          this.tableData = res.data.data
         this.commision = res.data.data
         this.navig = res.data.commision
         this.loading = false 
            }).catch(error => {    })
            .then(() => this.loading = false)
        },
         searchKeyword () {
            clearTimeout(this.keywordTimeout);

            this.keywordTimeout = setTimeout(() => {
                this.getActivities(1)
            }, 500);
        }
    }
  }
</script>