<template>
    <div class="container mt-3">


        <div class="row">

             <div class="col-12 pb-7" style="background: linear-gradient(87deg, rgb(0, 0, 0) 0px, rgb(75, 75, 75) 100%) !important; margin-top: -1em">
          <div class="row">
            <div class="container-fluid">
              <div class="header-body">
                <div class="row align-items-center py-4">
                  <div class="col-lg-4 col-md-10">
                    <h1 class="display-2 text-white">Hello {{user.username}},</h1>
                    <p class="text-white mt-0 mb-5"style="margin-bottom: 0px !important;">This is your stocks history page. You can manages the restock or buy new product from this page </p>
                 
                  </div>
                  <div class="col text-right"  style="margin-top: 3rem !important;">
                 <a href="/stocks" class="btn btn-success btn-sm">Stock Reload</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

            <div class="col-12 mb-3" style="margin-top: -4em">
                <resource-filter ref="filter" :config="filterConfig" :model="filters" :loading="loading" @search="getOrders"></resource-filter>
            </div>
            <div class="col-12">
                <div class="table-responsive">
                    <data-tables-server :filters="filtersTable" :loading="loading" :data="orders" :total="meta.total" @query-change="loadData">
                        <div slot="empty">No Records Found</div>
                        <el-table-column type="expand">
                            <template slot-scope="scope">
                                <ul class="list-group">
                                    <li v-for="act in scope.row.activities" class="list-group-item d-flex justify-content-between align-items-center">
                                        {{ act.description }}
                                        <span class="badge badge-primary badge-pill">{{ act.created_at }}</span>
                                    </li>
                                    <li class="list-group-item" v-if="!scope.row.activities.length">No activity found</li>
                                </ul>
                            </template>
                        </el-table-column>
                        <el-table-column sortable v-if="isAdminRoute" prop="user.username" label="User"></el-table-column>
                        <el-table-column sortable prop="id" label="Request ID#">
                        </el-table-column>
                        <el-table-column sortable prop="type" label="Type"></el-table-column>
                        <el-table-column sortable prop="amount" label="Total">
                            <template slot-scope="scope">
                                {{ currency }} {{ scope.row.amount }}
                            </template>
                        </el-table-column>
                        <el-table-column show-overflow-tooltip prop="purpose" label="Description"></el-table-column>
                        <el-table-column sortable prop="status" label="Status">
                            <template slot-scope="scope">
                                <span :class="classStatus(scope.row.status)">{{ scope.row.situation }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="Actions">
                            <template slot-scope="scope">
                                <el-tooltip class="item" effect="dark" placement="top" content="View Payment Slip">
                                    <button @click="openPaymentModal(scope.row)" class="btn text-info btn-link p-0"><i class="fas fa-eye"></i></button>
                                </el-tooltip>
                                <el-tooltip v-if="scope.row.status == 1" class="item" effect="dark" placement="top" content="View Invoice">
                                    <a target="_blank" :href="scope.row.links.invoice" class="btn text-success btn-link p-0"><i class="fas fa-receipt"></i></a>
                                </el-tooltip>
                            </template>
                        </el-table-column>
                    </data-tables-server>
                </div>
            </div>
        </div>
        <payment :user="user" :order="orderModal"></payment>
    </div>
</template>
<script>
import resourceFilter from 'components/general/filter'
import payment from './payment'

export default {
    mounted () {
    },
    data () {
        return {
            loading: false,
            situations: [],
            orders: [],
            meta: {},
            orderModal: {},
            filters: {
                keyword: null,
                status: null,
                type: []
            },
        }
    },
    props: {
        user: {
            type: Object,
            default: () => ({})
        }
    },
    computed: {
        currency () {
            return process.env.MIX_APP_CURRENCY
        },
        filterConfig() {
            return {
                title: 'Requests Filter',
                fields: [{
                    type: 'text',
                    label: 'Keyword',
                    wrapperClass: 'col-md-6 col-sm-12',
                    id: 'keyword',
                    placeholder: 'Search Keyword',
                    model: 'keyword'
                }, {
                    type: 'multiselect',
                    label: 'Status',
                    wrapperClass: 'col-md-6 col-sm-12',
                    id: 'status',
                    model: 'status',
                    options: Object.keys(this.situations).map((value) => {
                        return {
                            value,
                            name: this.situations[value]
                        }
                    })
                }, {
                    type: 'multiselect',
                    label: 'Type',
                    wrapperClass: 'col-md-6 col-sm-12',
                    id: 'type',
                    model: 'type',
                    options: this.depositModuleExists ? [{
                        name: 'Deposit',
                        value: 'deposit'
                    }, {
                        name: 'Credits',
                        value: 'credits'
                    }, {
                        name: 'Stocks',
                        value: 'stocks'
                    }] : [{
                        name: 'Credits',
                        value: 'credits'
                    }, {
                        name: 'Stocks',
                        value: 'stocks'
                    }]
                }]
            }
        },
        isAdminRoute () {
            return window.location.href.match('admin')
        },
        filtersTable () {
            return Object.keys(this.filters).map(key => {
                return {
                    value: this.filters[key],
                    search_prop: key
                }
            })
        },
        modules () {
            return process.env.MIX_MODULES.split(',')
        },
        depositModuleExists () {
            return this.modules.includes('deposit')
        }
    },
    methods: {
        getOrders () {
            this.loading = true
            let url = this.$root.routes.getOrders
            return axios.get(url, {
                    params: {
                        ...this.filters
                    }
                })
                .then(res => {
                    this.orders = res.data.data
                    this.meta = res.data.meta ? res.data.meta : {}
                    this.situations = res.data.situations
                }).catch(() => {})
                .then(() => {
                    this.loading = false
                })
        },
        loadData(queryInfo) {
            if (queryInfo.type === 'sort') {
                this.filters.order_direction = queryInfo.sort.order === 'descending' ? 'desc' : 'asc'
                this.filters.order_by = queryInfo.sort.prop
            }
            if (queryInfo.type === 'size') {
                this.filters.per_page = queryInfo.pageSize
            }
            if (queryInfo.type === 'page') {
                this.filters.page = queryInfo.page
            }
            if (queryInfo.type === 'init') {
                this.filters = Object.assign(this.filters, getQueryStringParams(window.location.search))
            }
            if (queryInfo.type !== 'filter') {
                this.search()
            }
        },
        classStatus (status) {
            switch (status) {
                case 0:
                    return 'text-warning'
                case 1:
                    return 'text-info'
                case 2:
                    return 'text-success'
                case -1:
                    return 'text-danger'
                default:
                    return 'text-secondary'
            }
        },
        openPaymentModal (order) {
            this.orderModal = order
            $('#payment-modal').modal('show')
        },
        search () {
            this.$refs.filter.search()
        }
    },
    components: {
        resourceFilter, payment
    }
}

</script>
