<template>
    <div class="modal fade" id="payment-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="payment-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div v-if="order" class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title pt-0" id="payment-modal-title">Payment Slip For #{{ order.id }}</h3>
                </div>
                <div v-if="order.payment" class="modal-body pt-0">
                    <p v-if="order.strictType == 'deposit'">Deposit: {{ currency }} {{ order.amount }}</p>
                    <p>For: {{ order.purpose }}</p>
                    <p v-if="payment.memo">Memo: {{ payment.memo }}</p>
                    <p v-if="payment.status == -1" class="text-danger">Status: Rejected</p>
                    <p v-else-if="payment.status == 0" class="text-warning">Status: Processing</p>
                    <p v-else-if="payment.status == 1" class="text-success">Status: Approved</p>
                    <p><img :src="payment.url" alt="payment slip" class="img-fluid"></p>
                    <p v-if="payment.memo">Memo: {{ payment.memo }}</p>
                    <p v-if="order.memo && order.memo != payment.memo">Memo 2: {{ order.memo }}</p>
                    <div class="row">
                        <div class="col-12 text-right"><button class="btn btn-secondary" data-dismiss="modal">Close</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted () {
        modalAppendToBody('#payment-modal')
    },
    data () {
        return {
            errors: {}
        }
    },
    props: {
        user: {
            type: Object,
            default: () => ({})
        },
        order: {
            type: Object,
            default: () => ({})
        }
    },
    computed: {
        currency () {
            return process.env.MIX_APP_CURRENCY
        },
        payment () {
            return this.order.payment
        }
    },
    methods: {
    }
}
</script>
