<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 pb-7" style="background: linear-gradient(87deg, rgb(0, 0, 0) 0px, rgb(75, 75, 75) 100%)!important;">
        <user-stats :user="user"></user-stats>
            </div>
            <div class="col-12 mb-3" style="margin-top: -4em">
                <div class="row">
                    <div class="col-lg-12 col-md-12">


                        


                        <activities :user="user"></activities>
                    </div>
                   <!--  <div class="col-lg-4 col-md-12">
                        <control-panel :user="user"></control-panel>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import userStats from './user-stats'
import activities from './campaign-history'

export default {
    mounted() {},
    data() {
        return {}
    },
    props: {
        user: Object
    },
    components: {
        userStats, activities
    },
    methods: {}
}

</script>
