<template>
    <div>
       
          
             <!--    <user-stats :user="user"></user-stats> -->
         
          </div>
</template>
<script>
import userStats from './user-stats'



export default {
    mounted() {},
    data() {
        return {}
    },
    props: {
        user: Object
    },
    components: {
        userStats
    },
    methods: {}
}

</script>
