<template>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-12 pb-7" style="background: linear-gradient(87deg, rgb(0, 0, 0) 0px, rgb(75, 75, 75) 100%)!important;">
                <div class="row">
                    <div class="container-fluid">
                        <div class="header-body">
                            <div class="row align-items-center py-4">
                                <div class="col-lg-4 col-md-10">
                                    <h1 class="display-2 text-white">Hello {{user.username}},</h1>
                                    <p class="text-white mt-0 mb-5"style="margin-bottom: 0px !important;" >This is your shipping order page. You can see your shipping order progress here. </p>
                                </div>
                                <div class="col-lg col-md-5 text-right" style="margin-top: 3rem !important;">
                                    <!--a :href="isAdminRoute ? '/admin/shipping/new' : '/user/postpaid/new'"  class="btn btn-sm btn-neutral"><i class="fa fa-plus"></i> Create New Shipping Order</a-->
                                    <a :href="isAdminRoute ? '/admin/shipping-orders/new' : '/user/shipping/new'"  class="btn btn-sm btn-neutral"><i class="fa fa-plus"></i> Create New Shipping Order</a>
                                </div>
                            </div>
                            <!-- Card stats -->
                        </div>
                    </div>
                </div>
            </div> 
 
              
                
                <div class="col-12 mb-3" style="margin-top: -4em">
                   <stats :user="user"></stats>  
           
                    
                    <resource-filter ref="filter" :config="filterConfig" :model="filters" :loading="loading" @search="getOrders">
                        <template slot="footer">
                            <div class="col-md-6 col-sm-12">
                                <button class="btn btn-default" @click="reset" :disabled="loading">Reset<span v-if="loading" class="fas fa-spin fa-spinner"></span></button>
                            </div>

                            <div class="col-md-6 col-sm-12 text-right">
                                <button class="btn btn-primary" @click="search" :disabled="loading">Search<span v-if="loading" class="fas fa-spin fa-spinner"></span></button>
                                <button v-if="isAdminRoute" class="btn btn-success" @click="exportData" :disabled="loading">Export<span v-if="loading" class="fas fa-spin fa-spinner"></span></button>
                            </div>
                        </template>
                    </resource-filter>
                     
                </div>
                <div class="col-12">
                    <div class="table-responsive">
                        <data-tables-server :loading="loading" :filters="filtersTable" :data="orders" :total="meta.total" @query-change="loadData" @selection-change="handleSelectionChange">
                            <div slot="empty">No Records Found</div>
                            <el-table-column type="selection"></el-table-column>

                            <el-table-column type="expand">
                                <template slot-scope="scope">
                                    <el-form label-position="left" inline class="table-expand">
                                        <span v-if="scope.row.delivery==3">
                                             <el-form-item label="Mode">
                                            <span>SELF PICKUP</span>
                                        </el-form-item>
                                         </span>
                                        <span v-else>
                                    <el-form-item v-if="scope.row.customer" label="Customer">
                                            <span>{{ scope.row.customer.name }}</span>
                                        </el-form-item>
                                        <el-form-item v-else label="Mode">
                                            <span>DELIVER TO ME</span>
                                        </el-form-item>
                                        </span>
                                       
                                        <el-form-item v-if="scope.row.customer" label="Contact No.">
                                            <span>{{ scope.row.customer.phone_no }}</span>
                                        </el-form-item>
                                        <el-form-item v-if="scope.row.customer" label="Address">
                                            <span v-html="scope.row.customer.address.full"></span>
                                        </el-form-item>
                                        <el-form-item label="Track No.">
                                            <span>{{ scope.row.tracking_no ? scope.row.tracking_no : 'Not Available' }}</span>
                                        </el-form-item>
                                        <el-form-item class="tr-full">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tr>
                                                        <th>Product</th>
                                                        <th>Quantity</th>
                                                        <th>Price ({{ currency }})</th>
                                                        <th>Option</th>
                                                        <th>Batch No</th>
                                                    </tr>
                            <tr v-for="item in scope.row.items">
                                                        <td>{{ item.product.name }}</td>
                                                        <td>{{ item.quantity }}</td>
                                                        <td>{{ item.subtotal }}</td>
                                                        <td>{{ item.memo ? item.memo : 'not provided' }}</td>
                                                        <td>{{ item.batch_numbers ? item.batch_numbers : 'not provided' }}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </el-form-item>
                                    </el-form>
                                </template>
                            </el-table-column>
                            <el-table-column sortable prop="id" label="Order ID#">
                            </el-table-column>
                            <el-table-column sortable prop="amount" label="Total">
                                <template slot-scope="scope">
                                    {{ currency }} {{ scope.row.amount }}
                                </template>
                            </el-table-column>
                            <el-table-column label="Stocks">
                                <template slot-scope="scope">
                                    {{ scope.row.items.reduce((a, b) => +a + +b.quantity, 0) }}
                                </template>
                            </el-table-column>
                            <el-table-column sortable prop="user.username" label="Member">
                                <template slot-scope="scope">
                                    {{ scope.row.user.username }} (lv{{ scope.row.user.role_id }})
                                </template>
                            </el-table-column>
                            <el-table-column sortable prop="status" label="Status">
                                <template slot-scope="scope">
                                    <span :class="classStatus(scope.row.status)">{{ scope.row.situation }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column label="Track">
                                <template slot-scope="scope">
                                    <span v-if="!scope.row.tracking_no">Not provided</span>
                                    <button v-else class="btn btn-sm btn-info" @click="linkTrack(scope.row.tracking_no, scope.row.courier)">TRACK</button>
                                </template>
                            </el-table-column>
                            <el-table-column show-overflow-tooltip sortable prop="created_at" label="Created At">
                            </el-table-column>
                            <el-table-column label="Actions">
                                <template slot-scope="scope">
                                    <el-tooltip v-if="(scope.row.status == 0) && isAdminRoute" class="item" effect="dark" placement="top" content="Confirm Order">
                                        <button @click="confirmShipping(scope.row)" class="btn text-warning btn-link p-0"><i class="fas fa-lock"></i></button>
                                    </el-tooltip>
        <el-tooltip v-if="(scope.row.status == 0 || scope.row.status == 1 || scope.row.status == 2) && isAdminRoute" class="item" effect="dark" placement="top" content="Process Order">
                                        <button @click="openProcessModal(scope.row)" class="btn text-warning btn-link p-0"><i class="fas fa-cog"></i></button>
                                    </el-tooltip>
                                    <el-tooltip class="item" effect="dark" placement="top" content="Edit Order">
                                        <a :href="scope.row.links.edit" class="btn btn-link p-0"><i class="fas fa-edit"></i></a>
                                    </el-tooltip>
        <el-tooltip v-if="scope.row.status == 0" class="item" effect="dark" placement="top" content="Cancel Order">
                                        <button @click="openCancelModal(scope.row)" class="btn text-danger btn-link p-0"><i class="fas fa-times"></i></button>
                                    </el-tooltip>
                                    <!-- <el-tooltip v-if="scope.row.status == 2 || scope.row.status == 3" class="item" effect="dark" placement="top" content="View Invoice">
                                        <a target="_blank" :href="scope.row.links.invoice" class="btn text-success btn-link p-0"><i class="fas fa-receipt"></i></a>
                                    </el-tooltip> -->
                                </template>
                            </el-table-column>
                        </data-tables-server>
                    </div>
                </div>
            </div>
            <div class="modal fade" style="z-index: 9999" id="shipping-cancel-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="shipping-cancel-modal-title" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div v-if="cancelModal" class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="shipping-cancel-modal-title">Cancel Shipping Request #{{ cancelModal.id }}</h5>
                        </div>
                        <div class="modal-body pt-0">
                            <div class="row">
                                <div class="col-12 mb-1">
                                    <p>Are you sure you want to cancel shipping order #{{ cancelModal.id }}?</p>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="input-memo">Memo (required if reject)</label>
                                        <input id="input-memo" type="text" class="form-control form-control-alternative" v-model="cancelModal.memo">
                                        <div class="invalid-feedback" :class="errors.memo ? 'd-block' : ''  ">{{ errors.memo }}</div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 mb-1">
                                    <button :disabled="loading" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                                <div class="col-md-8 col-sm-12 mb-1 text-right">
                                    <button @click="cancel" :disabled="loading" type="button" class="btn btn-danger">Cancel Order <i class="fas fa-spin fa-spinner" v-if="loading"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <process-form :shippingModal="shippingModal" :shippings="orders"></process-form>
        </div>
    </template>
    <script>
    import resourceFilter from 'components/general/filter'
    import processForm from 'components/shipping/process'
    import Stats from 'components/user/shipping/stats'

    export default {
        mounted () {
            modalAppendToBody('#shipping-cancel-modal')
        },
        data () {
            return {
                orders: [],
                loading: false,
                meta: {},
                filters: {
                    keyword: null,
                    status: null,
                    export: 0,
                    start_at: null,
                    end_at: null,
                    ids: [],
                    mode: ['self-pickup', 'delivery']
                },
                cancelModal: {},
                errors: {},
                shippingModal: null,
                situations: [],
                export: 0
            }
        },
        props: {
            user: {
                type: Object,
                default: () => ({})
            }
        },
        computed: {
            currency () {
                return process.env.MIX_APP_CURRENCY
            },
            filterConfig() {
                return {
                    title: 'Orders Filter',
                    fields: [{
                        type: 'text',
                        label: 'Keyword',
                        wrapperClass: 'col-md-6 col-sm-12',
                        id: 'keyword',
                        placeholder: 'Search Keyword',
                        model: 'keyword'
                    }, {
                        type: 'multiselect',
                        label: 'Status',
                        wrapperClass: 'col-md-6 col-sm-12',
                        id: 'status',
                        model: 'status',
                        options: Object.keys(this.situations).map((value) => {
                            return {
                                value,
                                name: this.situations[value]
                            }
                        })
                    }, {
                        type: 'date',
                        label: 'Start At',
                        id: 'start_at',
                        model: 'start_at',
                        wrapperClass: 'col-md-6 col-sm-12'
                    }, {
                        type: 'date',
                        label: 'End At',
                        id: 'end_at',
                        model: 'end_at',
                        wrapperClass: 'col-md-6 col-sm-12'
                    }, {
                        type: 'multiselect',
                        label: 'Mode',
                        wrapperClass: 'offset-md-6 col-md-6 col-sm-12',
                        id: 'mode',
                        model: 'mode',
                        options: [{
                            value: 'self-pickup',
                            name: 'Self Pickup'
                        }, {
                            value: 'delivery',
                            name: 'Delivery'
                        }]
                    }]
                }
            },
            isAdminRoute () {
                return window.location.href.match('admin')
            },
            filtersTable () {
                return Object.keys(this.filters).map(key => {
                    return {
                        value: this.filters[key],
                        search_prop: key
                    }
                })
            }
        },
        methods: {
            getOrders () {
                this.loading = true
                return axios.get(this.$root.routes.getOrders, {
                        params: {
                            ...this.filters
                        }
                    })
                    .then(res => {
                        this.orders = res.data.data
                        this.situations = res.data.situations
                        this.meta = res.data.meta
                    }).catch(() => {})
                    .then(() => {
                        this.loading = false
                    })
            },
            loadData(queryInfo) {
                if (queryInfo.type === 'sort') {
                    this.filters.order_direction = queryInfo.sort.order === 'descending' ? 'desc' : 'asc'
                    this.filters.order_by = queryInfo.sort.prop
                }
                if (queryInfo.type === 'size') {
                    this.filters.per_page = queryInfo.pageSize
                }
                if (queryInfo.type === 'page') {
                    this.filters.page = queryInfo.page
                }
                if (queryInfo.type === 'init') {
                    this.filters = Object.assign(this.filters, getQueryStringParams(window.location.search))
                }
                if (queryInfo.type !== 'filter') {
                    this.search()
                }
            },
            openCancelModal (order) {
                this.cancelModal = order
                $('#shipping-cancel-modal').modal('show')
            },
            cancel () {
                this.loading = true
                this.errors = {}
                return axios.post(this.cancelModal.links.cancel, {
                    memo: this.cancelModal.memo
                }).then(res => {
                    let index = this.orders.findIndex(o => o.id == this.cancelModal.id)
                    this.$set(this.orders, index, res.data.order)
                    this.$message.success(res.data.message)
                    this.cancelModal = {}
                    $('#shipping-cancel-modal').modal('hide')
                }).catch(error => {
                    error.response && error.response.status == 422 && (this.errors = handleValidation(error))
                }).then(() => {
                    this.loading = false
                })
            },
            classStatus (status) {
                switch (status) {
                    case 0:
                        return 'text-muted'
                    case 1:
                        return 'text-warning'
                    case 2:
                        return 'text-info'
                    case 3:
                        return 'text-success'
                    case -1:
                        return 'text-danger'
                    default:
                        return 'text-secondary'
                }
            },
            linkTrack(num, courier) {
                TrackButton.track({
                    tracking_no: num,
                })
            },
            openProcessModal (shipping) {
                this.shippingModal = shipping
                $('#shipping-modal').modal('show')
            },
            reset () {
                this.$refs.filter.reset()
            },
            search () {
                this.$refs.filter.search()
            },
            exportData () {
                // initialize a url
                let url = new URL(this.$root.routes.getOrders)
                // turn to export mode
                this.filters.export = 1
                // initialize a params container
                let params = {}
                // loop the filters
                Object.keys(this.filters).forEach(key => {
                    params[key] = this.filters[key]
                })
                // set new url params
                let query = $.param(params)
                query = query ? `?${query}` : ''

                this.filters.export = 0
                window.location.href = url.origin + url.pathname + query
            },
            handleSelectionChange(users) {
                this.filters.ids = users.map(u => u.id)
            },
            confirmShipping (shipping) {
                this.loading = true
                return axios.post(shipping.links.confirm)
                            .then(res => {
                                // notify user
                                this.$message.success(res.data.message)
                                // find index from list
                                let index = this.orders.findIndex(s => s.id == shipping.id)
                                // update shipping order in list
                                this.$set(this.orders, index, res.data.order)
                            }).catch(error => {})
                            .then(() => this.loading = false)
            },
        },
        components: {
            Stats, resourceFilter, processForm
        }
    }

    </script>
