<template>
    <div> 
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12 text-right">
                    <button data-toggle="modal" data-target="#settings-modal" class="btn btn-link"><i class="fas fa-cog"></i></button>
                </div>
                <div class="col-12 text-center">
                    <el-tooltip v-if="user.status == 1" content="Click To Zoom" class="item" effect="dark" placement="top-start">
                        <img width="100" @click="showQRcode = true" :src="user.links.qrcode" alt="qrcode">
                    </el-tooltip>
                    <h2 class="mb-0">{{ name }}</h2>
                    <p class="text-muted mt-0">@{{ user.username }}</p>
                    <h3 class="m-0 badge badge-pill badge-primary" style="font-size: 100%">
                        <span>{{ user.role.name }}</span>
                        <el-tooltip class="item" effect="dark" :content="explanation" placement="top-start">
                            <i :class="statusClass"></i>
                        </el-tooltip>
                    </h3>
                </div>
                <div class="col-12">
                    <div class="card-profile-stats d-flex justify-content-center">
                        <div>
                            <span class="heading">{{ user.downlines_count }}</span>
                            <span class="description">Downlines</span>
                        </div>
                        <div>
                            <span class="heading">{{ currency }} {{ user.eWallet }}</span>
                            <span class="description">My Ewallet</span>
                        </div>
                        <div>
                            <span class="heading">{{ user.shippings_count }}</span>
                            <span class="description">Orders</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <settings :user="user"></settings>
        <el-dialog title="View Certificate" :visible.sync="showQRcode" :append-to-body="true">
            <div class="row">
                <div class="col-12 text-center">
                    <img class="img-fluid" :src="user.links.qrcode" alt="cert">
                    <h4 class="text-info"><a  target="_blank" :href="user.links.certificate">{{ user.links.certificate }}</a></h4>
                </div>
            </div>
        </el-dialog>
    </div>
    
</div></template>
                       
                        
                       
              


<script>
import settings from './settings'

export default {
    data () {
        return {
            showQRcode: false,
            history: false,
        }
    },
    props: {
        user: {
            type: Object,
            default: () => ({})
        },
        errors: {
            type: Object,
            default: () => ({})
        }
    },
    computed: {
        name () {
            if (this.user.name) {
                return this.user.name
            }
            return `A ${this.user.gender == 'male' ? 'boy' : 'girl'} has no name`
        },
        statusClass () {
            switch (this.user.status) {
                case 0:
                    return 'text-danger fas fa-times hover'
                case 1:
                    return 'text-success fas fa-medal hover'
                default:
                    return 'text-warning'
            }
        },
        explanation () {
            switch (this.user.status) {
                case 0:
                    return 'Be patient, admin is proceeding your account...'
                case 1:
                    return 'You are free to enjoy your member benefits now'
                default:
                    return 'Undefined, this should not happens'
            }
        },
        currency () {
            return process.env.MIX_APP_CURRENCY
        },
        creditName () {
            return process.env.MIX_CREDIT_NAME
        }
    },
    components: {
        settings
    }
}
</script>
