<template>
    <div class="">
        <div class="row">
            <div class="col-md-12">
                <label class="form-control-label" for="input-current-password">Current Password</label>
                <div class="form-group" :class="errors.current_password ? 'has-danger' : ''">
                    <input :class="errors.current_password ? 'is-invalid' : ''" id="input-current-password" class="form-control form-control-alternative" placeholder="Current password" v-model="user.current_password" type="password">
                    <div class="invalid-feedback">{{ errors.current_password }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="form-control-label" for="input-new-password">New password</label>
                <div class="form-group" :class="errors.password ? 'has-danger' : ''">
                    <input :class="errors.password ? 'is-invalid' : ''" id="input-new-password" class="form-control form-control-alternative" placeholder="New password" v-model="user.password" type="password">
                    <div class="invalid-feedback">{{ errors.password }}</div>
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-control-label" for="input-confirmed-password">Confirm new password</label>
                <div class="form-group" :class="errors.password_confirmation ? 'has-danger' : ''">
                    <input :class="errors.password_confirmation ? 'is-invalid' : ''" id="input-confirmed-password" class="form-control form-control-alternative" placeholder="Confirm new password" v-model="user.password_confirmation" type="password">
                    <div class="invalid-feedback">{{ errors.password_confirmation }}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data () {
        return {
        }
    },
    props: {
        user: {
            type: Object,
            default: () => {}
        },
        errors: {
            type: Object,
            default: () => {}
        }
    }
}
</script>
