<template>
    <div class="">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" :class="errors.street ? 'has-danger' : ''">
                    <label class="form-control-label" for="input-street">Street</label>
                    <input :class="errors.street ? 'is-invalid' : ''" id="input-street" class="form-control form-control-alternative" placeholder="Street" v-model="address.street" type="text">
                    <div class="invalid-feedback">{{ errors.street }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" :class="errors.street_2 ? 'has-danger' : ''">
                    <label class="form-control-label" for="input-street-2">Street 2 (optional)</label>
                    <input :class="errors.street_2 ? 'is-invalid' : ''" id="input-street-2" class="form-control form-control-alternative" placeholder="Street 2" v-model="address.street_2" type="text">
                    <div class="invalid-feedback">{{ errors.street_2 }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label class="form-control-label" for="input-city">City</label>
                <div class="form-group" :class="errors.city ? 'has-danger' : ''">
                    <input type="text" :class="errors.city ? 'is-invalid' : ''" id="input-city" class="form-control form-control-alternative" placeholder="City" v-model="address.city">
                    <div class="invalid-feedback">{{ errors.city }}</div>
                </div>
            </div>
            <div class="col-lg-6">
                <label class="form-control-label" for="input-country">Postal code</label>
                <div class="form-group" :class="errors.zipcode ? 'has-danger' : ''">
                    <input type="number" :class="errors.zipcode ? 'is-invalid' : ''" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code" v-model="address.zipcode">
                    <div class="invalid-feedback">{{ errors.zipcode }}</div>
                </div>
            </div>
            <div class="col-lg-6">
                <label class="form-control-label" for="input-country">Country</label>
                <div class="form-group" :class="errors.country ? 'has-danger' : ''">
                    <multiselect
                        :taggable="isAdminRoute"
                        @tag="addCountry"
                        tag-placeholder="Add Country"
                        :class="errors.country ? 'is-invalid' : ''" id="input-country"
                        v-model="country"
                        :options="countries"></multiselect>
                    <div class="invalid-feedback">{{ errors.country }}</div>
                </div>
            </div>
            <div class="col-lg-6">
                <label class="form-control-label" for="input-state">State</label>
                <div class="form-group" :class="errors.state ? 'has-danger' : ''">
                    <multiselect
                        :taggable="isAdminRoute"
                        @tag="addState"
                        tag-placeholder="Add State"
                        :class="errors.state ? 'is-invalid' : ''" id="input-state"
                        v-model="state"
                        :options="states"></multiselect>
                    <div class="invalid-feedback">{{ errors.state }}</div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import malaysia from 'js/configs/malaysia'
import singapore from 'js/configs/singapore'
export default {
    data () {
        return {
            state: this.address.state,
            country: this.address.country,
            countries: ['Malaysia', 'Singapore']
        }
    },
    props: {
        address: {
            type: Object,
            default: () => ({})
        },
        errors: {
            type: Object,
            default: () => ({})
        }
    },
    computed: {
        malaysiaStates () {
            return malaysia.map(s => s.name)
        },
        singaporeStates () {
            return singapore.map(s => s.name)
        },
        states: {
            get () {
                if (!this.country) {
                    return []
                }
                return this.country == 'Malaysia' ? this.malaysiaStates : this.country == 'Singapore' ? this.singaporeStates : []
            },
            set (val) {
                return this.states.push(val)
            },
        },
        isAdminRoute () {
            return window.location.href.match('admin') !== null
        }
    },
    watch: {
        state (v) {
            this.$set(this.address, 'state', v)
        },
        country (v) {
            if (this.address.country != v) {
                this.$set(this.address, 'state', this.state = null)
            }
            this.$set(this.address, 'country', v)
        }
    },
    methods: {
        addCountry (country) {
            this.countries.push(country)
            this.country = country
        },
        addState (state) {
            this.states.push(state)
            this.state = state
        }
    }
}
</script>