<template>
    <div class="container-fluid">
        <div class="row">
             <div class="col-12 py-5 bg-gradient-black" style="background: linear-gradient(87deg, rgb(0, 0, 0) 0px, rgb(75, 75, 75) 100%)!important;">
           <!--  <div class="col-12 py-5" :style="backgroundStyle"> -->
                <h1 class="display-2 text-white" v-if="isAdminRoute">Editing {{ user.username }}</h1>
                <h1 class="display-2 text-white" v-else>
                <img class="navbar-brand-img" data-toggle="modal" data-target="#exampleModal" style="border-radius: 50%;" @click="profileModel =!profileModel" :src="user.avatar" height="100px" width="100px">
                Hello, {{ user.username }}</h1>
                <p class="text-white mt-0 mb-5" v-if="!isAdminRoute">This is your user profile, you can manage your personal information here</p>
            </div>
            <div class="col-12 mb-3" style="margin-top: -4em">
                <div class="row">
                    <div class="col-12 mb-3 order-2 order-md-1">
                        <deposit :user="user" v-if="showDepositCard"></deposit>
                    </div>
                    <div class="col-md-8 col-sm-12 order-3 order-md-2">
                        <div class="card bg-secondary shadow">
                            <div class="card-header bg-white border-0">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h3 class="mb-0" v-if="isAdminRoute">{{ user.username }}'s account</h3>
                                        <h3 class="mb-0" v-else>My account</h3>
                                    </div>
                                    <div class="col-4 text-right">
                                        <button :disabled="loading" @click="submit" class="btn btn-sm btn-primary">SAVE <i class="fas fa-spin fa-spinner" v-if="loading"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <form>
                                    <h6 class="heading-small text-muted mb-4">User information</h6>
                                    <user-information :user="user" :errors="errors"></user-information>
                                    <hr class="my-4">
                                    <h6 class="heading-small text-muted mb-4">Contact information</h6>
                                    <contact-information :address="user.address" :errors="errors"></contact-information>
                                </form>
                            </div>
                            <div class="card-footer bg-white border-0">
                                <div class="row align-items-center">
                                    <div class="col-12 text-right">
                                        <button :disabled="loading" @click="submit" class="btn btn-sm btn-primary">SAVE <i class="fas fa-spin fa-spinner" v-if="loading"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 order-1 order-md-3">
                        <basic-information :user="user" :errors="errors"></basic-information>
                    </div>
                </div>
            </div>
        </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Profile Picture</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <el-upload
                                
                                class="upload-payment-slip"
                                drag
                                ref="uploadBack"
                                list-type="picture"
                                name="avatar"
                                :headers="{'X-Requested-With': 'XMLHttpRequest'}"
                                :data="additionalData"
                                :on-change="onExceeds"
                                :on-success="afterUpload"
                                :on-error="handleError"
                                :action="user.links.upload_avatar"
                                :multiple="false"
                                :limit="12">
                                <div>
                                    <i class="el-icon-upload"></i>
                                    <div class="el-upload__text">Drag and drop your profile picture here <br><em>click to upload</em></div>
                                    <div class="el-upload__tip" slot="tip">Only image allowed</div>
                                </div>
                            </el-upload>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
              <!--   end model -->
    </div>
</template>

<script>
import userInformation from 'components/user/profile/user-information'
import contactInformation from 'components/user/profile/contact-information'
import basicInformation from 'components/user/profile/basic-information'
import deposit from 'components/user/profile/deposit'

export default {
    mounted () {
        // axios('https://source.unsplash.com/random/1200x500/?social')
        //     .then(res => {
        //         this.image = res.request.responseURL
        //     })
    },
    data () {
        return {
            errors: {},
            image: '/storage/images/bg.jpeg',
            loading: false,
            additionalData: {
                _token: document.head.querySelector('meta[name="csrf-token"]').content
            }
        }
    },
    props: {
        user: {
            type: Object,
            default: () => {}
        }
    },
    components: {
        userInformation,
        contactInformation,
        basicInformation,
        deposit
    },
    computed: {
        backgroundStyle () {
            return {
                background: `linear-gradient(87deg, #000000 0px, #4b4b4b 100%), url("${this.image}")!important`
            }
        },
        showDepositCard () {
            // if no deposit module found
            let depositModuleExists = this.modules.includes('deposit')
            // if current user role need to pay deposit
            let depositRequired = this.user.deposit_required && (!this.user.deposit || this.user.deposit.status != 1)
            // deposit waiting for approved is exists
            let existsDepositWaitingApprove = this.user.deposits.filter(d => d.status == 0).length > 0
            return depositModuleExists && (depositRequired || existsDepositWaitingApprove)
        },
        isAdminRoute () {
            return !!window.location.href.match(/admin\/user\/(\d)/g)
        },
        modules () {
            return process.env.MIX_MODULES.split(',')
        }
    },
    methods: {
         onExceeds (file, list) {
            if (list.length > 1) {
                list.shift()
            }
        },
        afterUpload (res, file, list) {
            // replace user info
            this.user.avatar = res.user.avatar
            
            // notify user
            this.$message.success(res.message)
        },
        handleError (error, file, list) {
            if (error.status === 422) {
                let errors = JSON.parse(error.message).errors
                Object.keys(errors).forEach(key => this.$message.error(errors[key][0]))
            } else {
                this.$message(JSON.parse(error.message).message)
            }
        },
        submit () {
            // set loading flag
            this.loading = true
            // clear errors
            this.errors = {}
            // collect params need to update
            let params = {
                email: this.user.email,
                name: this.user.name,
                gender: this.user.gender,
                ic_no: this.user.ic_no,
                phone_no: this.user.phone_no,
                wechat: this.user.wechat,
                facebook: this.user.facebook,
                street: this.user.address.street,
                street_2: this.user.address.street_2,
                city: this.user.address.city,
                state: this.user.address.state,
                country: this.user.address.country,
                zipcode: this.user.address.zipcode
            }
            if (this.user.current_password || this.user.password) {
                params['current_password'] = this.user.current_password
                params['password'] = this.user.password
                params['password_confirmation'] = this.user.password_confirmation
            }
            return axios.post(this.user.links.update, params)
                    .then(res => {
                        // reset user data
                        this.$root.user = res.data.user
                        // notify success message
                        this.$message.success(res.data.message)
                    })
                    .catch(error => {
                        error.response && error.response.status == 422 && (this.errors = handleValidation(error))
                    })
                    .finally(() => this.loading = false )
        }
    }
}

</script>
