<template>
<div class="modal fade" id="deposit-submit-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="deposit-submit-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title pt-0" id="deposit-submit-modal-title">Instructions Deposit</h2>
            </div>
            <div class="modal-body pt-0">
                <div class="row">
                    <div class="col-12" v-if="allowToSelectAccount">
                        <label for="">Upgrade to Account:</label>
                        <multiselect
                            :options="filteredRoles.map(o => o.id)"
                            :custom-label="roleLabel"
                            v-model="level"
                            required
                            placeholder="Select account type you will like to upgrade to">
                        </multiselect>
                    </div>
                    <div class="col-12 mt-3" v-if="level">
                        <h4>Instructions: </h4>
                        <ol>
                            <li v-for="i in user.deposit_instructions"
                                v-html="i.replace(':amount', depositAmount)"></li>
                        </ol>
                    </div>
                    <div class="col-12 text-center" v-if="level">
                        <el-upload
                            class="upload-payment-slip"
                            drag
                            ref="upload"
                            list-type="picture"
                            :action="user.links.create_deposit"
                            :multiple="false"
                            :limit="2"
                            :on-change="setPreview"
                            :on-preview="showPreview"
                            :http-request="createOrder"
                            :on-remove="removePreview"
                            :disabled="loading"
                            :auto-upload="false">
                            <div>
                                <i class="el-icon-upload"></i>
                                <div class="el-upload__text">Drag and drop payment slip here，or <br><em>click to upload</em></div>
                                <div class="el-upload__tip" slot="tip">Only image allowed</div>
                            </div>
                        </el-upload>
                    </div>
                    <div class="col-12" v-if="progress !== null">
                        <p class="m-0" v-if="progress < 100">Uploading Slip...</p>
                        <p class="m-0" v-else-if="progress == 100">Processing Request...</p>
                        <el-progress :percentage="progress"></el-progress>
                    </div>
                    <div class="col-12" v-if="Object.keys(errors).length">
                        <p class="m-0 text-danger" v-for="err in errors">{{ err }}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer pt-0">
                <button type="button" class="btn btn-secondary" :disabled="loading" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" :disabled="loading || requiredFields" @click="submit">Submit <i v-if="loading" class="fas fa-spin fa-spinner"></i></button>
            </div>
        </div>
    </div>
    <el-dialog :visible.sync="dialogVisible" :modal-append-to-body="true" :append-to-body="true">
        <img class="img-fluid" :src="dialogImageUrl" alt="">
    </el-dialog>
</div>
</template>

<script>
export default {
    mounted () {
        modalAppendToBody('#deposit-submit-modal')
    },
    data() {
        return {
            level: this.user.role_id,
            dialogImageUrl: '',
            dialogVisible: false,
            progress: null,
            loading: false,
            errors: {},
            resubmit: false
        }
    },
    props: {
        user: Object,
        deposit: Object
    },
    methods: {
        roleLabel (opt) {
            if (!this.filteredRoles.length) {
                return null
            }
            let role = this.filteredRoles.find(o => o.id == opt)
            return role ? `${role.name}: ${role.description}` : 'Something Wrong'
        },
        submit() {
            this.$refs.upload.submit()
        },
        createOrder (params) {
            this.loading = true
            this.errors = {}
            let form = new FormData()
            form.append("payment_proof", params.file)
            form.append("level", this.level)
            return axios.post(this.user.links.create_deposit, form, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                    onUploadProgress: progressEvent => {
                        this.progress = parseInt(Math.round((progressEvent.loaded * 100) / progressEvent.total))
                    }
                })
                .then(res => {
                    // notify user
                    this.$message.success(res.data.message)
                    // close submit modal
                    $('#deposit-submit-modal').modal('hide')
                    // set user deposit info
                    this.user.deposit = res.data.order
                    // push into user deposits if exists
                    if (this.user.deposits) {
                        this.user.deposits.push(res.data.order)
                    }
                })
                .catch(err => {
                    err.response.status == 422 && (this.errors = handleValidation(err))
                })
                .then(() => {
                    this.loading = false
                    this.progress = null
                    this.$refs.upload.clearFiles()
                    this.dialogImageUrl = ''
                })
        },
        setPreview (file, list) {
            if (list.length > 1) {
                list.shift()
            }
            this.dialogImageUrl = file.url
        },
        showPreview (file) {
            this.dialogVisible = true
        },
        removePreview (file) {
            this.dialogImageUrl = ''
        }
    },
    computed: {
        filteredRoles() {
            return this.$root.roles.filter(r => r.id > this.user.role_id)
        },
        depositAmount() {
            if (!this.level || !this.$root.roles.length) {
                return null
            }
            let reseller = this.$root.roles.find(r => r.id == this.level)
            return reseller ? reseller.deposit : 0
        },
        allowToSelectAccount() {
            let flag = !this.user.deposit_required || (this.user.deposit && this.user.deposit.status == 1)
            if (flag && !this.resubmit) {
                this.level = null
            }
            return flag && !this.resubmit
        },
        requiredFields () {
            return !this.level || !this.dialogImageUrl
        }
    }
}

</script>
