<template>
    <div class="modal fade" id="deposit-status-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="deposit-status-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div v-if="deposit" class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title pt-0" id="deposit-status-modal-title">Deposit Details #{{ deposit.id }}</h3>
                </div>
                <div class="modal-body pt-0">
                    <p>Deposit: {{ currency }} {{ deposit.amount }}</p>
                    <p v-if="role">For: {{ deposit.purpose }}</p>
                    <p v-if="payment.memo">Memo: {{ payment.memo }}</p>
                    <p v-if="payment.status == -1" class="text-danger">Status: Rejected</p>
                    <p v-else-if="payment.status == 0" class="text-warning">Status: Processing</p>
                    <p v-else-if="payment.status == 1" class="text-success">Status: Approved</p>
                    <p><img :src="payment.url" alt="payment slip" class="img-fluid"></p>
                    <p>
                        <div class="form-group">
                            <input v-if="deposit.status == 0" type="text" class="form-control form-control-alternative" placeholder="leave a reason if you want to cancel the request" v-model="deposit.memo">
                            <div class="invalid-feedback" :class="errors.memo ? 'd-block' : ''">{{ errors.memo }}</div>
                        </div>
                    </p>
                </div>
                <div class="modal-footer pt-0">
                    <div class="row w-100">
                        <div class="col-md-5 col-sm-12">
                            <button v-if="deposit.status == 0" type="button" class="btn btn-danger" @click="cancel">Cancel Request</button>
                        </div>
                        <div class="col-md-7 col-sm-12 text-right">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" @click="resubmit">Re-Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted () {
        modalAppendToBody('#deposit-status-modal')
    },
    data () {
        return {
            errors: {}
        }
    },
    props: {
        user: Object,
        deposit: Object,
    },
    computed: {
        currency () {
            return process.env.MIX_APP_CURRENCY
        },
        role () {
            if (!this.$root.roles.length) {
                return null
            }
            let level = this.deposit.type.match(/\d+/)
            return this.$root.roles.find(role => role.id == level)
        },
        payment () {
            return this.deposit.payment
        }
    },
    methods: {
        resubmit () {
            $('#deposit-status-modal').modal('hide')
            $('#deposit-submit-modal').modal('show')
            this.$parent.$refs.submitModal.resubmit = true
            this.$parent.$refs.submitModal.level = this.deposit.type.replace('deposit:', '')
        },
        cancel () {
            this.loading = true
            this.errors = {}
            return axios.post(this.deposit.links.cancel, {
                memo: this.deposit.memo
            }).then(res => {
                this.$message.success(res.data.message)
                return true
            }).catch(error => {
                error.response && error.response.status == 422 && (this.errors = handleValidation(error))
            }).then((val) => {
                this.loading = false
                if (val === true) {
                    window.location.reload()
                }
            })
        }
    }
}
</script>
