<template>
    <div class="card" :class="user.deposit && !depositRejected ? 'bg-info' : 'bg-danger'">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <p v-if="depositRejected" class="text-white">Your deposit has been rejected, view the details to check the reason...</p>
                    <p v-else-if="deposit" class="text-white">Be patient, admin is processing your deposit...</p>
                    <p v-else class="text-white">Please submit deposit follow the instructions to proceed your application.</p>
                </div>
                <div class="col-12 text-right">
                    <button
                        class="btn"
                        :class="deposit ? '' : 'btn-info'"
                        data-toggle="modal"
                        :data-target="deposit ? '#deposit-status-modal' : '#deposit-submit-modal'">
                        <span v-if="deposit">Deposit status</span>
                        <span v-else>Pay Deposit</span>
                    </button>
                </div>
            </div>
        </div>
        <deposit-form :user="user" :deposit="deposit" ref="submitModal"></deposit-form>
        <deposit-status :user="user" :deposit="deposit" ref="statusModal"></deposit-status>
    </div>
</template>
<script>
import depositForm from './deposit-form'
import depositStatus from './deposit-status'
export default {
    mounted() {
    },
    data() {
        return {
        }
    },
    props: {
        user: {
            type: Object,
            default: () => {}
        }
    },
    methods: {
    },
    computed: {
        depositRejected () {
            // this condition only can reached when user is initialized
            // not for level upgrade
            return this.deposit && this.deposit.payment.status == -1
        },
        deposit () {
            if (this.user.deposit && this.user.deposit.status != 1) {
                return this.user.deposit
            }
            return this.user.deposits.find(d => d.status == 0)
        }
    },
    components: {
        depositForm, depositStatus
    }
}

</script>
