<template>
    <div id="ic-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 v-if="user && Object.keys(user).length" class="modal-title">
                        <span v-if="!user.ic_front || !user.ic_back">Upload Your IC/Passport Here</span>
                        <span v-else>View Your IC/Passport</span>
                    </h2>
                </div>
                <div v-if="user && Object.keys(user).length" class="modal-body pt-0">
                    <div class="row" v-if="!completeUpload || user.status == 0">
                        <div class="col-12">
                            <ol>
                                <li>Please upload the front view and back view of IC/passport</li>
                                <li>Ensure the resolution/details of photo is clear enough to verify by human eyes</li>
                                <li>Maximum 2 photos is allowed to upload</li>
                            </ol>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 mt-3 mb-1">
                                    <h3>Example IC</h3>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <label>IC Front View</label>
                                    <img src="/images/ic-front.jpg" alt="ic front" class="img-fluid">
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <label>IC Back View</label>
                                    <img src="/images/ic-back.png" alt="ic back" class="img-fluid">
                                </div>
                                <div class="col-12 mt-3 mb-1">
                                    <h3>Example Passport</h3>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <label>Passport Front View</label>
                                    <img src="/images/passport-front.jpg" alt="passport front" class="img-fluid">
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <label>Passport Back View</label>
                                    <img src="/images/passport-back.jpg" alt="passport back" class="img-fluid">
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="col-12 text-center">
                            <label>Front View of IC/Passport</label>
                            <el-upload
                                v-if="!user.ic_front || user.status == 0"
                                class="upload-payment-slip"
                                drag
                                ref="uploadFront"
                                list-type="picture"
                                name="ic_front"
                                :headers="{'X-Requested-With': 'XMLHttpRequest'}"
                                :data="additionalData"
                                :on-change="onExceeds"
                                :on-success="afterUpload"
                                :on-error="handleError"
                                :action="user.links.upload_ic"
                                :multiple="false"
                                :limit="2">
                                <div>
                                    <i class="el-icon-upload"></i>
                                    <div class="el-upload__text">Drag and drop front view of ic/passport here，or <br><em>click to upload</em></div>
                                    <div class="el-upload__tip" slot="tip">Only image allowed</div>
                                </div>
                            </el-upload>
                            <img v-if="user.ic_front" :src="user.ic_front" alt="ic front" class="img-fluid">
                        </div>
                        <div class="col-12 text-center">
                            <label>Back View of IC/Passport</label>
                            <el-upload
                                v-if="!user.ic_back || user.status == 0"
                                class="upload-payment-slip"
                                drag
                                ref="uploadBack"
                                list-type="picture"
                                name="ic_back"
                                :headers="{'X-Requested-With': 'XMLHttpRequest'}"
                                :data="additionalData"
                                :on-change="onExceeds"
                                :on-success="afterUpload"
                                :on-error="handleError"
                                :action="user.links.upload_ic"
                                :multiple="false"
                                :limit="2">
                                <div>
                                    <i class="el-icon-upload"></i>
                                    <div class="el-upload__text">Drag and drop back view of ic/passport here，or <br><em>click to upload</em></div>
                                    <div class="el-upload__tip" slot="tip">Only image allowed</div>
                                </div>
                            </el-upload>
                            <img v-if="user.ic_back" :src="user.ic_back" alt="ic back" class="img-fluid">
                        </div>
                    </div>
                    <div class="row" v-else>
                        <div class="col-12 text-center">
                            <label>Front View of IC/Passport</label>
                            <img :src="user.ic_front" alt="ic front" class="img-fluid">
                        </div>
                        <div class="col-12 text-center">
                            <label>Back View of IC/Passport</label>
                            <img :src="user.ic_back" alt="ic back" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="modal-footer pt-0">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    mounted () {
        modalAppendToBody('#ic-modal')
    },
    data () {
        return {
            additionalData: {
                _token: document.head.querySelector('meta[name="csrf-token"]').content
            }
        }
    },
    props: {
        user: {
            type: Object,
            default: () => {}
        }
    },
    methods: {
        onExceeds (file, list) {
            if (list.length > 1) {
                list.shift()
            }
        },
        afterUpload (res, file, list) {
            // replace user info
            this.user.ic_front = res.user.ic_front
            this.user.ic_back = res.user.ic_back
            // notify user
            this.$message.success(res.message)
        },
        handleError (error, file, list) {
            if (error.status === 422) {
                let errors = JSON.parse(error.message).errors
                Object.keys(errors).forEach(key => this.$message.error(errors[key][0]))
            } else {
                this.$message(JSON.parse(error.message).message)
            }
        }
    },
    computed: {
        completeUpload () {

            return this.user && this.user.ic_front && this.user.ic_back
        }
    }
}
</script>
