<template>
    <div class="modal fade" id="settings-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="settings-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="settings-modalLabel">Settings</h2>
                </div>
                <div class="modal-body pt-0">
                    <h6 class="heading-small text-muted mb-4">Change Password</h6>
                    <change-password :user="user" :errors="errors"></change-password>
                </div>
                <div class="modal-footer">
                    <button :disabled="loading" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button @click="updateSettings" :disabled="loading" type="button" class="btn btn-primary">Update Settings <i class="fas fa-spin fa-spinner" v-if="loading"></i></button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import changePassword from 'components/user/profile/change-password'

export default {
    data () {
        return {
            errors: {},
            loading: false
        }
    },
    props: {
        user: {
            type: Object,
            default: () => ({})
        }
    },
    methods: {
        updateSettings () {
            this.loading = true
            this.errors = {}
            return axios.post(this.user.links.update_settings, {
                current_password: this.user.current_password,
                password: this.user.password,
                password_confirmation: this.user.password_confirmation
            }).then(res => {
                // motify user
                this.$message.success(res.data.message)
            }).catch(error => {
                error.response && error.response.status == 422 && (this.errors = handleValidation(error))
            }).then(() => this.loading = false)
        }
    },
    components: {
        changePassword
    }
}
</script>
