<template>
    <div class="">
        <div class="row">
            <div class="col-lg-6">
                <label class="form-control-label" for="input-username">Username</label>
                <div class="form-group" :class="errors.username ? 'has-danger' : ''">
                    <input :class="errors.username ? 'is-invalid' : ''" disabled type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" v-model="user.username">
                    <div class="invalid-feedback">{{ errors.username }}</div>
                </div>
            </div>
            <div class="col-lg-6">
                <label class="form-control-label" for="input-email">Email address
    <!--  <i class="fas fa-envelope-square" data-toggle="modal" data-target="#email-modal"> </i> Edit -->


                </label>
                <div class="form-group" :class="errors.email ? 'has-danger' : ''">
                    
                    <input :class="errors.email ? 'is-invalid' : ''" type="email" id="input-email" class="form-control form-control-alternative" placeholder="Email address" v-model="user.email">
                    <div class="invalid-feedback">{{ errors.email }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label class="form-control-label" for="input-name">Name</label>
                <div class="form-group" :class="errors.name ? 'has-danger' : ''">
                    <input :class="errors.name ? 'is-invalid' : ''" type="text" id="input-name" class="form-control form-control-alternative" placeholder="Name" v-model="user.name">
                    <div class="invalid-feedback">{{ errors.name }}</div>
                </div>
            </div>
            <div class="col-lg-6">
                <label class="form-control-label" for="input-gender">Gender</label>
                <div class="form-group" :class="errors.gender ? 'has-danger' : ''">
                    <multiselect :class="errors.gender ? 'is-invalid' : ''" id="input-gender" v-model="user.gender" :options="genderOptions"></multiselect>
                    <div class="invalid-feedback">{{ errors.gender }}</div>
                </div>
            </div>
            <div class="col-lg-6">
                <label class="form-control-label" for="input-ic">IC/Passport Number</label>
                <div class="form-group" :class="errors.ic_no ? 'has-danger' : ''">
                <input :disabled="notAllowToModify && ic_shadow" :class="errors.ic_no ? 'is-invalid' : ''" type="text" id="input-ic" class="form-control form-control-alternative" placeholder="970101-XX-XXXX" v-model="user.ic_no">
                    <div class="invalid-feedback">{{ errors.ic_no }}</div>
                </div>
            </div>
            
              <div class="col-lg-6">
                <label class="form-control-label" for="input-phone">Phone Number 
       
<!-- <i class="fas fa-phone-square" data-toggle="modal" data-target="#phone-modal"> </i> Edit -->

                </label>
                <div class="form-group" :class="errors.phone_no ? 'has-danger' : ''">
                   
                    <input :class="errors.phone_no ? 'is-invalid' : ''" type="text" id="input-phone" class="form-control form-control-alternative" placeholder="012-3456789" v-model="user.phone_no" >
                    <div class="invalid-feedback">{{ errors.phone_no }}</div>
                </div>
            </div>
            <div class="col-12 mb-1">
                <button @click="openIcModal" type="button" class="btn"
                    :class="!user.ic_front || !user.ic_back ? 'btn-danger' : 'btn-success'">
                    <span v-if="!user.ic_front || !user.ic_back">Upload Your IC/Passport Here</span>
                    <span v-else>View Your IC/Passport</span>
                </button>
            </div>
            <div class="col-lg-6">
                <label class="form-control-label" for="input-wechat">WeChat ID (Optional)</label>
                <div class="form-group" :class="errors.wechat ? 'has-danger' : ''">
                    <input :class="errors.wechat ? 'is-invalid' : ''" type="text" id="input-wechat" class="form-control form-control-alternative" v-model="user.wechat">
                    <div class="invalid-feedback">{{ errors.wechat }}</div>
                </div>
            </div>
            <div class="col-lg-6">
                <label class="form-control-label" for="input-facebook">Facebook Username (Optional)</label>
                <div class="form-group" :class="errors.facebook ? 'has-danger' : ''">
                    <input :class="errors.facebook ? 'is-invalid' : ''" type="text" id="input-facebook" class="form-control form-control-alternative" v-model="user.facebook">
                    <div class="invalid-feedback">{{ errors.facebook }}</div>
                </div>
            </div>
        </div>


<!-- Modal -->
<div class="modal fade" id="email-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update email</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input v-if="!isValid" type="email" class="form-control form-control-muted" placeholder="New Email Address" v-model="email" required="">
         <input v-if="isValid" type="number" class="form-control form-control-muted" placeholder="Enter verification code" v-model="otp" required="">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button :disabled="loading" v-if="!isValid" @click="OtpUpdateCredential(2)" type="button" class="btn btn-primary">Request verification code</button>
        <button :disabled="loading" v-if="isValid" @click="UpdateCredential(2)" type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
<!-- end model -->
<!-- Modal -->
<div class="modal fade" id="phone-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update phone number</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input v-if="!isValid" type="number" class="form-control form-control-muted" placeholder="New Phone Number" v-model="phone" required="">
         <input v-if="isValid" type="number" class="form-control form-control-muted" placeholder="Enter verification code" v-model="otp" required="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <button :disabled="loading" v-if="!isValid" @click="OtpUpdateCredential(1)" type="button" class="btn btn-primary">Request verification code</button>
        <button :disabled="loading" v-if="isValid" @click="UpdateCredential(1)" type="button" class="btn btn-primary">Submit</button>
          
      </div>
    </div>
  </div>
</div>
<!-- end model -->
        <ic-modal :user="user"></ic-modal>
        
    </div>
</template>

<script>
import icModal from './ic-modal'

export default {
    data () {
        return {
            genderOptions: ['male', 'female'],
            ic_shadow: this.user.ic_no,
            isValid: false,
            loading:false,
            email: '',
            phone: '',
            otp: '',
            error: '',
           
        }
    },
    props: {
        user: {
            type: Object,
            default: () => {}
        },
        errors: {
            type: Object,
            default: () => {}
        }
    },
    methods: {
        openIcModal () {
            $('#ic-modal').modal('show')
        },
       
        UpdateCredential: function(value){
            this.loading=true;
         if(value==1){
            axios.post('UpdatePhoneEmail', {otp: this.otp, phone: this.phone}).then(response=>{
          this.loading=false;
          this.isValid = !this.isValid
         }).catch(e=>{
           this.loading =false;
          //this.error='the email has already taken';
          $('#phone-modal').modal('hide')
         })
          }else if(value==2){
         axios.post('UpdatePhoneEmail', {otp: this.otp, email: this.email}).then(response=>{
          this.loading=false;
          this.isValid = !this.isValid
         }).catch(e=>{
           this.loading =false;
          //this.error='the email has already taken';
          $('#email-modal').modal('hide')
         })
          }
        },
        OtpUpdateCredential: function(value){
             this.loading =true;
          if(value==1){
          axios.post('UpdatePhoneEmailOTP', {phone: this.phone}).then(res=>{
           this.loading =false;
           this.isValid = !this.isValid;
       }).catch(e=>{
         this.loading =false;
        // this.error='the email has already taken';
          $('#phone-modal').modal('hide')
       })
          }else if(value==2){
           
          axios.post('UpdatePhoneEmailOTP', {email: this.email}).then(res=>{
           this.loading =false;
           this.isValid = !this.isValid;
       }).catch(e=>{
         this.loading =false;
        // this.error='the email has already taken';
          $('#email-modal').modal('hide')
       })
           
          }
         
        }
    },
    computed: {
        notAllowToModify () {
            return !this.$parent.isAdminRoute && this.user.status != 0
        }
    },
    components: {
        icModal
    }
}
</script>
