<template>
    <div class="modal fade" id="shipping-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="shipping-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div v-if="shippingModal" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="shipping-modal-title">Shipping Request #{{ shippingModal.id }}</h5>

                </div>
                <div class="modal-body pt-0">
                    <div class="row">
                        <div class="col-12 mb-1">
                            <p>Member: {{ shippingModal.user.name }} ({{ shippingModal.user.username }})</p>
                            <div v-if="shippingModal.delivery==3">
                               SELF PICKUP 
                            </div>
                            <div v-else>
                            
                            <p v-if="!shippingModal.customer">Customer: {{shippingModal.user.name}}</p>
                            <p v-else>Customer: {{ shippingModal.customer.name }}</p>
                            <p class="mb-0">Shipping Address:</p>
                            <p v-if="!shippingModal.customer" v-html="shippingModal.user.address.full"><!-- SELF PICKUP --></p>
                            <p v-else class="mt-0" v-html="shippingModal.customer.address.full"></p>
                             </div>
                           <!-- ship -->

                <div v-if="shippingModal.shipping_type=='postpaid'" class="alert alert-info alert-dismissible fade show" role="alert">
                <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                <span  class="alert-text"><strong>Postpaid!</strong> This is a Postpaid Shipping Order—check it out!</span>
                
                
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

                <div v-else class="alert alert-success alert-dismissible fade show" role="alert">
                <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                <span class="alert-text"><strong>Prepaid!</strong> This is a Prepaid Shipping Order—check it out!</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <img :src="sto+shippingModal.molpay_order_id">
                           <!-- end -->


                            <p>Stocks Required: </p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Option</th>
                                            <td>Actions</td>
                                        </tr>
                                    </thead>
                                    <tbody v-for="item in shippingModal.items">
                                        <tr>
                                            <td>{{ item.product.name }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.memo }}</td>
                                            <td>
                                                <button @click="toggleMemo(item)" class="btn btn-link btn-sm">
                                                    <i class="fas" :class="item.openBatchNumbers ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr v-if="item.openBatchNumbers">
                                            <td colspan="3">
                                                <div class="form-group">
                                                    <textarea type="text" class="form-control form-control-alternative" v-model="item.batch_numbers" placeholder="batch numbers"></textarea>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--table class="table" v-if="shippingModal.addOn">
                            <tr>
                                <td>
                                  
                                <img src="/images/viinz.png" height="100" width="70"/>
                                <br>
                                Add on ViiNZ Shaker {{(shippingModal.addOn)/2.5}} Units X RM 2.5 = RM {{shippingModal.addOn}}
                                </td>
                                
                            </tr>
                        </table-->
                    
                        <div  class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="input-courier">Courier</label>
                                <multiselect
                                    :options="Object.keys(couriers)"
                                    :custom-label="opt => {
                                        return this.couriers[opt] || null
                                    }"
                                    v-model="shippingModal.courier">
                                </multiselect>
                                <div class="invalid-feedback" :class="errors.courier ? 'd-block' : ''  ">{{ errors.courier }}</div>
                            </div>
                        </div>
                        <div  class="col-md-8 col-sm-12">
                            <div class="form-group">
                                <label for="input-tracking_no">Tracking Number</label>
                                <input id="input-tracking_no" type="text" class="form-control form-control-alternative" v-model="shippingModal.tracking_no">
                                <div class="invalid-feedback" :class="errors.tracking_no ? 'd-block' : ''  ">{{ errors.tracking_no }}</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="input-memo">Memo (required if reject)</label>
                                <input id="input-memo" type="text" class="form-control form-control-alternative" v-model="shippingModal.memo">
                                <div class="invalid-feedback" :class="errors.memo ? 'd-block' : ''  ">{{ errors.memo }}</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox mb-3">
                                    <input class="custom-control-input" id="customCheck2" type="checkbox" v-model="forceComplete">
                                    <label data-toggle="tooltip" data-placement="top" title="Turn the order status into completed directly" class="custom-control-label" for="customCheck2">Force Complete</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 mb-1">
                            <button :disabled="loading" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        <div class="col-md-8 col-sm-12 mb-1 text-right">
                            <button @click="submit('process')" :disabled="loading" type="button" class="btn btn-success">Process <i class="fas fa-spin fa-spinner" v-if="loading"></i></button>
                            <button v-if="shippingModal.status == 0 || shippingModal.status == 1" @click="submit('cancel')" :disabled="loading" type="button" class="btn btn-danger">Reject <i class="fas fa-spin fa-spinner" v-if="loading"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted () {
        modalAppendToBody('#shipping-modal')
    },
    data () {
        return {
            sto: '/storage/',
            loading: false,
            errors: {},
            forceComplete: false
        }
    },
    props: {
        shippingModal: {
            type: Object,
            default: () => ({})
        },
        shippings: {
            type: Array,
            default: () => {}
        }
    },
    methods: {
        submit (action) {
            this.loading = true
            return axios.post(this.shippingModal.links[action], {
                memo: this.shippingModal.memo,
                tracking_no: this.shippingModal.tracking_no,
                courier: this.shippingModal.courier,
                items: this.shippingModal.items.map(item => {
                    return {
                        id: item.id,
                        memo: item.memo,
                        batch_numbers: item.batch_numbers
                    }
                }),
                force_complete: this.forceComplete
            }).then(res => {
                // notify
                this.$message.success(res.data.message)
                // close shipping modal
                $('#shipping-modal').modal('hide')
                if (window.location.href.match('workspace')) {
                    // remove shipping from list
                    this.$parent.shippings = this.shippings.filter(shipping => shipping.id != this.shippingModal.id)
                } else if (window.location.href.match('admin/shippings')) {
                    let index = this.shippings.findIndex(s => s.id == this.shippingModal.id)
                    this.$set(this.shippings, index, res.data.order)
                }
                // remove shipping from modal
                this.$parent.shippingModal = null
            }).catch(error => {
                error.response && error.response.status == 422 && (this.errors = handleValidation(error))
            })
            .then(() => this.loading = false)
        },
        toggleMemo (item) {
            this.$set(item, 'openBatchNumbers', item.openBatchNumbers ? false : true)
        }
    },
    computed: {
        couriers () {
            return this.$root.couriers
        }
    }
}
</script>
