<template>
    <div class="container mt-3">
        <div class="row">
            <div class="col-12 mb-3 text-right">
                <button @click="openStockModal({})" class="btn btn-info btn-sm">Add Stock to User</button>
            </div>
            <div class="col-12 mb-3">
                <resource-filter ref="filter" :config="filterConfig" :model="filters" :loading="loading" @search="getStocks"></resource-filter>
            </div>
            <div class="col-12">
                <div class="table-responsive">
                    <data-tables-server :filters="filtersTable"  :loading="loading" :data="stocks" :total="meta.total" @query-change="loadData">
                        <div slot="empty">No Records Found</div>
                        <el-table-column type="expand">
                            <template slot-scope="scope">
                                <h4>Last 20 Activities</h4>
                                <ul class="list-group">
                                    <li v-for="act in scope.row.activities" class="list-group-item d-flex justify-content-between align-items-center">
                                        {{ act.description }}
                                        <span class="badge badge-primary badge-pill">{{ act.created_at }}</span>
                                    </li>
                                    <li class="list-group-item" v-if="!scope.row.activities.length">No activity found</li>
                                </ul>
                            </template>
                        </el-table-column>
                        <el-table-column sortable prop="user.id" label="User ID#"></el-table-column>
                        <el-table-column sortable prop="user.username" label="User"></el-table-column>
                        <el-table-column sortable prop="product.name" label="Product"></el-table-column>
                        <el-table-column sortable prop="quantity" label="Stocks Balance"></el-table-column>
                        <el-table-column label="Actions">
                            <template slot-scope="scope">
                                <el-tooltip class="item" effect="dark" placement="top" content="Edit Stocks">
                                    <button @click="openStockModal(scope.row)" class="btn text-info btn-link p-0"><i class="fas fa-sync"></i></button>
                                </el-tooltip>
                            </template>
                        </el-table-column>
                    </data-tables-server>
                </div>
            </div>
        </div>
        <stock-form ref="stockForm" :user.sync="stockModal.user" :products="products"></stock-form>
    </div>
</template>
<script>
import resourceFilter from 'components/general/filter'
import stockForm from './stock-form'

export default {
    mounted () {
    },
    data () {
        return {
            stockModal: {}
        }
    },
    props: {
        meta: {
            type: Object,
            default: () => ({})
        },
        filters: {
            type: Object,
            default: () => ({})
        },
        loading: {
            type: Boolean,
            default: false
        },
        stocks: {
            type: Array,
            default: () => {}
        },
        products: {
            type: Array,
            default: () => {}
        }
    },
    computed: {
        currency () {
            return process.env.MIX_APP_CURRENCY
        },
        filterConfig() {
            return {
                title: 'Stocks Filter',
                fields: [{
                    type: 'text',
                    label: 'Username',
                    wrapperClass: 'col-md-6 col-sm-12',
                    id: 'username',
                    placeholder: 'Search Username',
                    model: 'username'
                }, {
                    type: 'multiselect',
                    label: 'Products',
                    wrapperClass: 'col-md-6 col-sm-12',
                    id: 'products',
                    model: 'product_ids',
                    options: this.products.map(p => {
                        return {
                            name: p.name,
                            value: p.id
                        }
                    })
                }]
            }
        },
        filtersTable () {
            return Object.keys(this.filters).map(key => {
                return {
                    value: this.filters[key],
                    search_prop: key
                }
            })
        }
    },
    methods: {
        getStocks () {
            return this.$root.getStocks()
        },
        loadData(queryInfo) {
            if (queryInfo.type === 'sort') {
                this.filters.order_direction = queryInfo.sort.order === 'descending' ? 'desc' : 'asc'
                this.filters.order_by = queryInfo.sort.prop
            }
            if (queryInfo.type === 'size') {
                this.filters.per_page = queryInfo.pageSize
            }
            if (queryInfo.type === 'page') {
                this.filters.page = queryInfo.page
            }
            if (queryInfo.type === 'init') {
                this.filters = Object.assign(this.filters, getQueryStringParams(window.location.search))
            }
            if (queryInfo.type !== 'filter') {
                this.$refs.filter.search()
            }
        },
        openStockModal (stock) {
            this.stockModal = stock
            this.$refs.stockForm.stock = stock
            $('#stock-modal').modal('show')
        }
    },
    components: {
        resourceFilter, stockForm
    }
}

</script>
