<template>
    <div class="modal fade" id="stock-modal" tabindex="-1" role="dialog" aria-labelledby="stock-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="stock-modalLabel">Edit Stocks</h2>
                </div>
                <div class="modal-body pt-0">
                    <div v-if="!user.id" class="row justify-content-center mb-3">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-control-label" for="username">Username</label>
                                <multiselect
                                    id="username"
                                    :options="users"
                                    label="username"
                                    v-model="selectedUser"
                                    :loading="loading"
                                    @search-change="searchUsers"
                                    placeholder="Search by username">
                                </multiselect>
                            </div>
                        </div>
                    </div>
                    <div v-else class="row">
                        <div class="col-12">
                            Username: {{ user.username }} <a @click="removeUser" class="btn btn-link btn-sm"><i class="fas fa-times text-danger"></i></a>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="product">Product</label>
                                <multiselect
                                    id="product"
                                    :options="stocksAvailable"
                                    :custom-label="opt => {
                                        let l = this.user.stocks.find(o => o.product_id == opt.product_id)
                                        return l ? `${l.product.name} (${l.product.sku})` : null
                                    }"
                                    v-model="stock"
                                    placeholder="Select a product">
                                </multiselect>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="quantity">Balance</label>
                                <input type="number" min="0" class="form-control form-control-alternative" id="quantity" v-model="stock.quantity">
                                <div class="invalid-feedback" :class="errors.quantity ? 'd-block' : ''">{{ errors.quantity }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button :disabled="loading" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button :disabled="loading" @click="updateStock" type="button" class="btn btn-primary">Update <i class="fas fa-spinner fa-spin" v-if="loading"></i></button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted () {
        modalAppendToBody('#stock-modal')
    },
    props: {
        user: {
            type: Object,
            default: () => ({})
        },
        products: {
            type: Array,
            default: () => {}
        }
    },
    data () {
        return {
            errors: {},
            loading: false,
            users: [],
            selectedUser: null,
            stock: {
                quantity: 0
            }
        }
    },
    methods: {
        updateStock () {
            this.loading = true
            this.errors = {}
            return axios.post(this.user.links.update_stock, {
                quantity: this.stock.quantity,
                product_id: this.stock.product_id
            }).then(res => {
                // notify user
                this.$message.success(res.data.message)
                // get stock by user id
                let index = this.$parent.stocks.findIndex(s => s.id == this.stock.id)
                // update this stock info
                this.$set(this.$parent.stocks[index], 'activities', res.data.user.stocks[0].activities)
            }).catch(error => {
                error.response && error.response.status == 422 && (this.errors = handleValidation(error))
            }).then(() => {
                this.loading = false
            })
        },
        searchUsers (query) {
            this.loading = true
            return axios(this.$root.routes.getUsers, {
                params: {
                    keyword: query
                }
            }).then(res => {
                this.users = res.data.data
            }).catch(error => {})
            .then(() => this.loading = false)
        },
        removeUser () {
            this.$emit('update:user', {})
        }
    },
    watch: {
        selectedUser (user) {
            this.$emit('update:user', user)
        }
    },
    computed: {
        stocksAvailable () {
            let exists = this.user.stocks
            // loop products
            this.products.forEach(product => {
                if (!exists.find(stock => stock.product_id == product.id)) {
                    exists.push({
                        quantity: 0,
                        product_id: product.id,
                        product
                    })
                }
            })
            return exists
        }
    }
}
</script>
