<template>
    <div id="accordion" class="card-collapse">
        <div class="card">
            <h3 class="card-title m-0 p-3" role="tab" aria-expanded="false">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-filter" aria-expanded="true" aria-controls="collapse-filter">
                    {{ finalizedConfig.title }}

                <i class="fas fa-caret-down"></i> </a>
            </h3>
            <div id="collapse-filter" class="card-body collapse pt-0">
                <div class="row">
                    <div v-for="field in finalizedConfig.fields" :class="field.wrapperClass">
                        <div class="form-group">
                            <label v-if="field.type !== 'checkbox'" :for="field.id">{{ field.label }}</label>

                            <multiselect
                                v-if="field.type === 'select' | field.type === 'multiselect'"
                                :multiple="field.type === 'multiselect'"
                                :options="field.options.map(o => o.value)"
                                :custom-label="opt => {
                                    let l = field.options.find(o => o.value == opt)
                                    return l ? l.name : null
                                }"
                                v-model="model[field.model]"
                                :placeholder="field.placeholder"
                                :closeOnSelect="field.type === 'select'">
                            </multiselect>

                            <date-picker
                                v-else-if="field.type === 'datetime'"
                                :id="field.id"
                                v-model="model[field.model]"
                                :placeholder="field.placeholder"
                                :config="datePickerConfig"></date-picker>

                            <p v-else-if="field.type === 'date'">
                                <el-date-picker
                                    :value-format="'yyyy-M-d'"
                                    :id="field.id"
                                    v-model="model[field.model]"
                                    :placeholder="field.placeholder">
                                </el-date-picker>
                            </p>

                            <div class="custom-control custom-checkbox mb-3" v-else-if="field.type === 'checkbox'">
                                <input
                                    class="custom-control-input"
                                    :id="field.id"
                                    type="checkbox"
                                    v-model="model[field.model]"
                                    :placeholder="field.placeholder">
                                <label class="custom-control-label" :for="field.id">{{ field.label }}</label>
                            </div>

                            <input @keyup.enter="search" v-else
                                :type="field.type"
                                :id="field.id"
                                class="form-control form-control-alternative"
                                :class="field.class"
                                v-model="model[field.model]"
                                :placeholder="field.placeholder">

                            <span class="invalid-feedback"></span>
                        </div>
                    </div>
                    <slot name="footer">
                        <div class="col-12 justify-content-between m-0 d-flex py-0">
                            <button class="btn btn-default" @click="reset" :disabled="loading">Reset<span v-if="loading" class="fas fa-spin fa-spinner"></span></button>
                            <button class="btn btn-primary" @click="search" :disabled="loading">Search<span v-if="loading" class="fas fa-spin fa-spinner"></span></button>
                        </div>
                    </slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import datePicker from 'vue-bootstrap-datetimepicker'
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css'

export default {
    data () {
        return {
            defaultConfig: {
                title: 'Filter'
            },
            datePickerConfig: {
                icons: {
                    time: 'far fa-clock',
                    date: 'far fa-calendar',
                    up: 'fas fa-arrow-up',
                    down: 'fas fa-arrow-down',
                    previous: 'fas fa-chevron-left',
                    next: 'fas fa-chevron-right',
                    today: 'fas fa-calendar-check',
                    clear: 'far fa-trash-alt',
                    close: 'far fa-times-circle'
                },
                format: 'YYYY-MM-DD HH:mm'
            }
        }
    },
    props: {
        config: {
            type: Object,
            default: () => {}
        },
        model: {
            type: Object,
            default: () => {}
        },
        loading: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        finalizedConfig () {
            return Object.assign(this.defaultConfig, this.config)
        },
    },
    methods: {
        reset () {
            location.href = window.location.protocol + "//" + window.location.host + window.location.pathname
        },
        search () {
            let params = {}
            // filter out empty query from model
            Object.keys(this.model).forEach(key => {
                if (this.model[key]) {
                    params[key] = this.model[key]
                }
            })
            this.updateUrlAddress(params)
            return this.$emit('search')
        },
        updateUrlAddress (params) {
            // set new url params
            let query = $.param(params)
            query = query ? `?${query}` : ''
            let link = window.location.origin + window.location.pathname + query;
            window.history.pushState({ path:link }, '', link);
        }
    },
    components: {
        datePicker
    }
}
</script>
