<template>
   
            <div class="col-12 mb-3" style="margin-top: -1em">
                <div class="row" style="margin-bottom: 10px">
           
     





  
  <div class="card table-responsive">
    <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">My Customers</h3>
                </div>
                <div class="col text-right">
                  <input class="form-control form-control-sm" type="text" v-model="search" placeholder="search by name...">
                </div>
              </div>
            </div>
    <table class="table align-items-center">
       <center> <div class="section" v-if="!filteredList.length"> <h3 >Oops, no match found 😭</h3></div></center>
        <thead class="thead-light">
            <tr v-if="filteredList.length">
         <th>Name </th>
        <!--   <th>Email </th> -->
        <th>Phone </th>
      <!--   <th>Total order </th> -->
        <th>Address</th>
           
            </tr>
        </thead>
        <tbody class="list">
          
            <tr v-for="cus in filteredList">
              <td>{{cus.name}} </td>
           <!--     <td> {{cus.email}}</td> -->
              <td> {{cus.phone_no}}</td>
            <!--    <td> total order</td> -->
              <td>
                
              
              {{cus.address.city}},{{cus.address.state}}, {{cus.address.country}}. {{cus.address.zipcode}}</td>
             
              
            </tr>
         
            
           
        </tbody>
    </table>




   
  
    
</div>

                
        </div>
      
    </div>
</template>
<script>
import userStats from './user-stats'
import activities from './campaign-history'

export default {
    mounted() {},
    data() {
        return {
          search: '',
          url:location.protocol + '//' + location.host,
        
        }
    },
    props: {
        user: Object,
        stats: Array,
    },
    components: {
        userStats, activities
    },
    computed: {
         filteredList() {
     
      return this.user.customers.filter(post => {
        return post.name.toLowerCase().includes(this.search.toLowerCase())
      })
    }
    },
    mounted(){
      
    
    },
    methods: {

     
    }
}

</script>
<style scoped>
.progress{
    height: 22px;
    background: #d8d8d8;
    border-radius: 20px;
    overflow: visible;
    margin-bottom: 70px;
}
.progress .progress-bar{
    position: relative;
    border-radius: 20px;
    animation: animate-positive 2s;
}
.progress .progress-value{
    position: absolute;
    bottom: -45px;
    right: -25px;
    padding: 5px 14px;
    background: #383846;
    font-size: 14px;
    color: #fff;
    border-radius: 20px;
    text-align: center;
}
.progress .progress-value:after{
    content: "";
    background: #383846;
    padding: 8px;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    left: 45%;
    margin-left: -5px;
}
@-webkit-keyframes animate-positive{
    0% { width: 0%; }
}
@keyframes animate-positive{
    0% { width: 0%; }
}
</style>
