<template>
  <div class="table-responsive">


    <table class="table align-items-center">
    <thead class="thead-light">
        <tr>
            <th scope="col">Commision</th>
            <th scope="col">Amout</th>
            <th scope="col">Product</th>
            <th scope="col">Qty</th>
            <th scope="col">downline</th>
            <th scope="col">date</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="point in user.rewards">
            <th scope="row">
              {{point.name}}       
            </th>
            <td>
               RM {{point.point}}
            </td>
            <td>
               {{point.meta.product_id}}
            </td>
            <td> {{point.quantity}} </td>
            <td> {{point.meta.amount}}</td>
            <td> {{point.created_at}} </td>
           
         
            
        </tr>
      </tbody></table>
     <p v-if="!user.rewards.length">No commission history yet</p>
   </div>

                         
                            
</template>

<script>
export default {
    data () {
        return {
        }
    },
    props: {
        user: Object
    },
    methods: {
       
    }
}
</script>
