<template>
<div>


   <p class="description">MYR {{user.commission}}</p><span>Total commision</span>
                <br>
                <p class="description">Reseller commission rewards! Earn cash with every Personal orders!</p>
                
                <hr>
                 <b>Tier Progress</b>
              <br><br>
              state or describe wat user have to do before given date to motivate them
               <!-- start -->
 
</div>
                         
                            
</template>

<script>

export default {
  components: {
      
    },
    data () {
        return {
        }
    },
    props: {
        user: Object
    },
    methods: {
       
    }
}
</script>
