<template>
    <div class="container mt-3">
        <div class="row">
            <div class="col-12 mb-3 text-right">
               <!--  <button @click="openCreditModal({})" class="btn btn-info btn-sm">Add Credit to User</button> -->
            </div>
            <div class="col-12 mb-3">
                <resource-filter ref="filter" :config="filterConfig" :model="filters" :loading="loading" @search="getUsers"></resource-filter>
            </div>
            <div class="col-12">
                <div class="table-responsive">
                    <data-tables-server :filters="filtersTable" :loading="loading" :data="users" :total="meta.total" @query-change="loadData">
                        <div slot="empty">No Records Found</div>
                        <el-table-column type="expand">
                            <template slot-scope="scope">
                                <h4>Last 20 Activities</h4>
                                <ul class="list-group">
                                    <li v-for="act in scope.row.activities" class="list-group-item d-flex justify-content-between align-items-center">
                                        {{ act.description }}
                                        <span class="badge badge-primary badge-pill">{{ act.created_at }}</span>
                                    </li>
                                    <li class="list-group-item" v-if="!scope.row.activities.length">No activity found</li>
                                </ul>
                            </template>
                        </el-table-column>
                        <el-table-column sortable prop="id" label="User ID#"></el-table-column>
                        <el-table-column sortable prop="username" label="User"></el-table-column>
                        <el-table-column sortable prop="name" label="Name"></el-table-column>
                        <el-table-column sortable prop="email" label="Email"></el-table-column>
                        <el-table-column sortable prop="phone_no" label="Phone"></el-table-column>
                        <el-table-column sortable prop="credits" label="EWallet Balance"></el-table-column>
                       <!--  <el-table-column label="Actions">
                            <template slot-scope="scope">
                                <el-tooltip class="item" effect="dark" placement="top" content="Edit Credits">
                                    <button @click="openCreditModal(scope.row)" class="btn text-info btn-link p-0"><i class="fas fa-sync"></i></button>
                                </el-tooltip>
                            </template>
                        </el-table-column> -->
                    </data-tables-server>
                </div>
            </div>
        </div>
        <credit-form :user="userModal"></credit-form>
    </div>
</template>
<script>
import resourceFilter from 'components/general/filter'
import creditForm from './credit-form'

export default {
    mounted () {
    },
    data () {
        return {
            userModal: {}
        }
    },
    props: {
        meta: {
            type: Object,
            default: () => ({})
        },
        filters: {
            type: Object,
            default: () => ({})
        },
        loading: {
            type: Boolean,
            default: false
        },
        users: {
            type: Array,
            default: () => {}
        }
    },
    computed: {
        currency () {
            return process.env.MIX_APP_CURRENCY
        },
        filterConfig() {
            return {
                title: 'E-Wallet Filter',
                fields: [{
                    type: 'text',
                    label: 'Username',
                    wrapperClass: 'col-md-6 col-sm-12',
                    id: 'keyword',
                    placeholder: 'Search Username',
                    model: 'keyword'
                }]
            }
        },
        filtersTable () {
            return Object.keys(this.filters).map(key => {
                return {
                    value: this.filters[key],
                    search_prop: key
                }
            })
        }
    },
    methods: {
        getUsers () {
            return this.$root.getUsers()
        },
        loadData(queryInfo) {
            if (queryInfo.type === 'sort') {
                this.filters.order_direction = queryInfo.sort.order === 'descending' ? 'desc' : 'asc'
                this.filters.order_by = queryInfo.sort.prop
            }
            if (queryInfo.type === 'size') {
                this.filters.per_page = queryInfo.pageSize
            }
            if (queryInfo.type === 'page') {
                this.filters.page = queryInfo.page
            }
            if (queryInfo.type === 'init') {
                this.filters = Object.assign(this.filters, getQueryStringParams(window.location.search))
            }
            if (queryInfo.type !== 'filter') {
                this.$refs.filter.search()
            }
        },
        openCreditModal (user) {
            this.userModal = user
            $('#credit-modal').modal('show')
        }
    },
    components: {
        resourceFilter, creditForm
    }
}

</script>
