<template>
    <div class="modal fade" id="credit-modal" tabindex="-1" role="dialog" aria-labelledby="credit-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="credit-modalLabel">Edit Credits</h2>
                </div>
                <div class="modal-body pt-0">
                    <div v-if="!user.username" class="row justify-content-center mb-3">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-control-label" for="username">Username</label>
                                <multiselect
                                    id="username"
                                    :options="users"
                                    label="username"
                                    v-model="user.credits"
                                    :loading="loading"
                                    @search-change="searchUsers"
                                    @select="selectUser"
                                    placeholder="Search by username">
                                </multiselect>
                            </div>
                        </div>
                    </div>
                    <div v-else class="row">
                        <div class="col-12">
                            Username: {{ user.username }} <a @click="removeUser" class="btn btn-link btn-sm"><i class="fas fa-times text-danger"></i></a>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="quantity">Credits Balance</label>
                                <input type="number" min="0" class="form-control form-control-alternative" id="quantity" v-model="user.credits">
                                <div class="invalid-feedback" :class="errors.quantity ? 'd-block' : ''">{{ errors.quantity }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button :disabled="loading" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button :disabled="loading" @click="updateCredits" type="button" class="btn btn-primary">Update <i class="fas fa-spinner fa-spin" v-if="loading"></i></button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted () {
        modalAppendToBody('#credit-modal')
    },
    props: {
        user: {
            type: Object,
            default: () => ({})
        },
    },
    data () {
        return {
            errors: {},
            loading: false,
            users: []
        }
    },
    methods: {
        updateCredits () {
            this.loading = true
            this.errors = {}
            return axios.post(this.user.links.update_credits, {
                quantity: this.user.credits
            }).then(res => {
                // notify user
                this.$message.success(res.data.message)
                // get credit by user id
                let index = this.$parent.users.findIndex(s => s.id == this.user.id)
                // update this credit info
                this.$set(this.$parent.users[index], 'activities', res.data.user.activities)
            }).catch(error => {
                error.response && error.response.status == 422 && (this.errors = handleValidation(error))
            }).then(() => {
                this.loading = false
            })
        },
        searchUsers (query) {
            this.loading = true
            return axios(this.$root.routes.getUsers, {
                params: {
                    keyword: query
                }
            }).then(res => {
                this.users = res.data.data
            }).catch(error => {})
            .then(() => this.loading = false)
        },
        removeUser () {
            this.$parent.userModal = {}
        },
        selectUser (user) {
            this.$parent.userModal = user
        }
    }
}
</script>
