<template>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <!--h2>Dealers Management</h2-->
            </div>
            <div class="col-md-6 col-sm-12 text-right">
                <button class="btn btn-info btn-sm" @click="showDownlineDialog=true">Create New Register Link</button>
            </div>
            <div class="col-12 mb-1">
                <resource-filter ref="filter" :config="filterConfig" :model="filters" :loading="$root.loading" @search="getUsers">
                    <template slot="footer">
                        <div class="col-md-6 col-sm-12">
                            <button class="btn btn-default" @click="reset" :disabled="$root.loading">Reset<span v-if="$root.loading" class="fas fa-spin fa-spinner"></span></button>
                        </div>
                        <div class="col-md-6 col-sm-12 text-right">
                            <button class="btn btn-primary" @click="search" :disabled="$root.loading">Search<span v-if="$root.loading" class="fas fa-spin fa-spinner"></span></button>
                            <button class="btn btn-success" @click="exportData" :disabled="$root.loading">Export<span v-if="$root.loading" class="fas fa-spin fa-spinner"></span></button>
                        </div>
                    </template>
                </resource-filter>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="table-responsive">
                        <data-tables-server :filters="filtersTable" :table-props="tabelProps" :loading="loading" :data="users" :total="meta.total" @query-change="loadData" @selection-change="handleSelectionChange">
                            <div slot="empty">No Records Found</div>
                            <el-table-column type="selection"></el-table-column>
                            <el-table-column type="expand">
                                <template slot-scope="props">
                                    <el-form label-position="left" inline class="table-expand">
                                        <el-form-item label="Upline">
                                            <upline :user="props.row"></upline>
                                        </el-form-item>
                                        <el-form-item label="Name">
                                            <span>{{ props.row.name }}</span>
                                        </el-form-item>
                                        <el-form-item label="Gender">
                                            <span>{{ props.row.gender }}</span>
                                        </el-form-item>
                                        <el-form-item label="IC Number">
                                            <span>{{ props.row.ic_no }}</span>
                                        </el-form-item>
                                        <el-form-item label="C-Credits">
                                            <!--span>{{ currency }} {{ props.row.credits }}</span-->
                                            <wallet :user="props.row"></wallet>
                                        </el-form-item>
                                        <el-form-item label="">
                                            <button type="button" @click="openIcModal(props.row)" class="btn btn-info">View IC/Passport</button>
                                        </el-form-item>
                                        <el-form-item label="Role">
                                            <role :user="props.row"></role>
                                        </el-form-item>
                                    </el-form>
                                    <div class="row" v-if="props.row.deposits.length">
                                        <div class="col-12">
                                            <hr>
                                            <h4>Deposits Submitted</h4>
                                            <div class="table-responsive">
                                                <deposits-table :deposits="props.row.deposits"></deposits-table>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </el-table-column>
                            <el-table-column show-overflow-tooltip v-for="title in titles" :prop="title.prop" :label="title.label" :key="title.prop" sortable="custom">
                            </el-table-column>
                            <el-table-column label="Actions">
                                <template slot-scope="scope">
                                    <el-tooltip class="item" effect="dark" placement="top" content="Edit User">
                                        <a :href="scope.row.links.edit" class="btn btn-link p-0">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </el-tooltip>
                                    <el-tooltip v-if="scope.row.status == 1" class="item" effect="dark" placement="top" content="Block User">
                                        <button @click="showStatusModal(scope.row)" class="btn btn-link p-0">
                                            <i class="fas fa-ban text-danger"></i>
                                        </button>
                                    </el-tooltip>
                                    <el-tooltip v-else class="item" effect="dark" placement="top" :content="scope.row.status == 0 ? 'Approve User' : 'Unblock User'">
                                        <button v-if="!loadingStatus" @click="approveUser(scope.row)" class="btn btn-link p-0">
                                            <i class="fas fa-unlock-alt text-success"></i>
                                        </button>
                                        <i v-else class="fas fa-spin fa-spinner"></i>
                                    </el-tooltip>
                                </template>
                            </el-table-column>
                        </data-tables-server>
                    </div>
                </div>
            </div>
        </div>
        <referral-form :show="showDownlineDialog" :user="$root.admin" :upline="false"></referral-form>
        <user-status-form :user="statusModal"></user-status-form>
        <ic-modal :user="icPreview"></ic-modal>
    </div>
</template>
<script>
import resourceFilter from 'components/general/filter'
import referralForm from 'components/user/referral-form'
import userStatusForm from 'components/admin/users/user-status-form'
import icModal from 'components/user/profile/ic-modal'
import depositsTable from 'components/admin/workspace/deposits'
import upline from 'components/admin/users/upline'
import role from 'components/admin/users/role'
import wallet from 'components/admin/users/wallet'

export default {
    data() {
        return {
            tabelProps: {
                border: true,
            },
            titles: [{
                prop: 'id',
                label: "ID",
            }, {
                prop: 'username',
                label: "Username"
            }, {
                prop: 'email',
                label: "Email",
            }, {
                prop: 'phone_no',
                label: "Phone No.",
            }, {
                prop: 'role.name',
                label: "Role",
            }, {
                prop: 'situation',
                label: "status",
            }],
            filters: {
                keyword: null,
                roles: null,
                status: null,
                show_admin: false,
                export: false,
                ids: null
            },
            actionCol: {
                props: {
                    label: 'Actions',
                },
                buttons: [{
                    props: {
                        type: 'primary',
                        circle: true,
                        icon: 'el-icon-edit'
                    },
                    handler: row => {
                        window.location.href = row.links.edit
                    },
                    label: ''
                }, {
                    props: {
                        type: 'danger',
                        circle: true,
                        icon: 'el-icon-circle-close-outline'
                    },
                    handler: row => {
                        this.$message('delete success')
                    },
                    label: ''
                }]
            },
            showDownlineDialog: false,
            statusModal: {},
            loadingStatus: false,
            icPreview: null,
            depositsPreview: [],
            users: [],
            loading: false,
            situations: [],
            links: {},
            meta: {},
        }
    },
    computed: {
        filterConfig() {
            return {
                title: 'Dealers Filter',
                fields: [{
                    type: 'text',
                    label: 'Keyword',
                    wrapperClass: 'col-12',
                    id: 'keyword',
                    placeholder: 'Search Keyword',
                    model: 'keyword'
                }, {
                    type: 'multiselect',
                    label: 'Roles',
                    wrapperClass: 'col-md-6 col-sm-12',
                    id: 'roles',
                    model: 'roles',
                    options: this.$root.roles
                        .filter(role => {
                            if (this.filters.show_admin)
                                return true
                            else
                                return role.id < 900
                        })
                        .map(role => {
                            return {
                                name: role.name,
                                value: role.id
                            }
                        })
                }, {
                    type: 'multiselect',
                    label: 'Status',
                    wrapperClass: 'col-md-6 col-sm-12',
                    id: 'status',
                    model: 'status',
                    options: Object.keys(this.situations).map(id => {
                        return {
                            name: this.situations[id],
                            value: id
                        }
                    })
                }, {
                    type: 'checkbox',
                    label: 'Show Admin',
                    wrapperClass: 'offset-md-6 col-md-6 col-sm-12',
                    id: 'show_admin',
                    model: 'show_admin'
                }]
            }
        },
        currency() {
            return process.env.MIX_APP_CURRENCY
        },
        filtersTable () {
            return Object.keys(this.filters).map(key => {
                return {
                    value: this.filters[key],
                    search_prop: key
                }
            })
        }
    },
    methods: {
        getUsers() {
            // turn into loading state
            this.loading = true
            // get users
            return axios(this.$root.routes.getUsers, {
                    params: { ...this.filters }
                })
                .then(res => {
                    // set data from response
                    this.users = res.data.data
                    this.links = res.data.links ? res.data.links : null
                    this.meta = res.data.meta ? res.data.meta : null
                    this.situations = res.data.situations ? res.data.situations : {}
                }).catch(err => {})
                .finally(() => this.loading = false)
        },
        loadData(queryInfo) {
            if (queryInfo.type === 'sort') {
                this.filters.order_direction = queryInfo.sort.order === 'descending' ? 'desc' : 'asc'
                this.filters.order_by = queryInfo.sort.prop
            }
            if (queryInfo.type === 'size') {
                this.filters.per_page = queryInfo.pageSize
            }
            if (queryInfo.type === 'page') {
                this.filters.page = queryInfo.page
            }
            if (queryInfo.type === 'init') {
                this.filters = Object.assign(this.filters, getQueryStringParams(window.location.search))
            }
             if (queryInfo.type !== 'filter') {
                this.search()
            }
        },
        showStatusModal (user) {
            this.statusModal = user
            $('#status-modal').modal('show')
        },
        approveUser (user) {
            this.loadingStatus = true
            return axios.post(user.links.approve)
                        .then(res => {
                            // notify user
                            this.$message.success(res.data.message)
                            // update user in list
                            this.$set(user, 'status', res.data.user.status)
                        }).catch(err => {})
                        .then(() => this.loadingStatus = false)
        },
        openIcModal (user) {
            this.icPreview = user
            $('#ic-modal').modal('show')
        },
        reset () {
            this.$refs.filter.reset()
        },
        search () {
            this.$refs.filter.search()
        },
        exportData () {
            // initialize a url
            let url = new URL(this.$root.routes.getUsers)
            // turn to export mode
            this.filters.export = 1
            // initialize a params container
            let params = {}
            // loop the filters
            Object.keys(this.filters).forEach(key => {
                params[key] = this.filters[key]
            })
            // set new url params
            let query = $.param(params)
            query = query ? `?${query}` : ''

            this.filters.export = 0
            window.location.href = url.origin + url.pathname + query
        },
        handleSelectionChange(users) {
            this.filters.ids = users.map(u => u.id)
        }
    },
    props: {
    },
    components: {
        resourceFilter,
        referralForm,
        userStatusForm,
        icModal,
        depositsTable,
        upline,
        role,
        wallet
    }
}

</script>
