<template>
    <div>
        <span v-if="!changeUpline">{{ user.upline ? user.upline.username : 'SYSTEM' }}</span>
        <multiselect
            v-else
            :options="users"
            placeholder="Search by username"
            :custom-label="opt => {
                return `${opt.username} (${opt.role.name})`
            }"
            @search-change="searchUsers"
            @select="selectUpline"
            @remove="selectUpline(null)"
            :loading="loading"
            v-model="user.upline">
        </multiselect>
        <i v-if="superadmin" class="fas hover ml-1 hover" :class="changeUpline ? 'fa-times text-danger' : 'fa-sync-alt text-info'" @click="changeUpline = !changeUpline"></i>
    </div>
</template>

<script>
export default {
    data () {
        return {
            users: this.user.upline ? [ this.user.upline ] : [],
            loading: false,
            changeUpline: false
        }
    },
    props: {
        user: {
            type: Object,
            default: () => ({})
        }
    },
    methods: {
        searchUsers (query) {
            this.loading = true
            return axios(this.$root.routes.getUsers, {
                params: {
                    username: query,
                    per_page: 'all',
                    show_admin: 1
                }
            }).then(res => {
                this.users = res.data.data
            }).catch(error => {})
            .then(() => this.loading = false)
        },
        selectUpline (upline = null) {
            this.loading = true
            return axios.post(this.user.links.update_upline, {
                upline_id: upline ? upline.id : null
            }).then(res => {
                this.$message.success(res.data.message)
                this.changeUpline = false
            }).catch(error => {})
            .then(() => this.loading = false)
        }
    },
    computed: {
        superadmin () {
            return this.$root.admin.role_id == 999
        }
    }
}
</script>
