<template>
    <div class="modal fade" id="status-modal" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="statusModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="statusModalLabel">Block Member: {{ user.username }}</h2>
                </div>
                <div class="modal-body pt-0">
                    <div class="row">
                        <div class="col-12">
                            <p>Are you sure you want to block the member: {{ user.name }}?</p>
                        </div>
                        <div class="col-12">
                            <label class="form-control-label" for="input-memo">Leave a reason to block</label>
                            <div class="form-group" :class="errors.memo ? 'has-danger' : ''">
                                <input
                                    :class="errors.memo ? 'is-invalid' : ''"
                                    id="input-memo"
                                    class="form-control form-control-alternative"
                                    v-model="user.memo"
                                    type="text">
                                <div class="invalid-feedback">{{ errors.memo }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pt-0">
                    <button :disabled="loading" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button @click="submit" :disabled="loading" type="button" class="btn btn-danger">
                        Block <i class="fas fa-spin fa-spinner" v-if="loading"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        user: {
            type: Object,
            default: () => {}
        }
    },
    data () {
        return {
            errors: {},
            loading: false
        }
    },
    methods: {
        submit () {
            this.loading = true
            this.errors = {}
            return axios.post(this.user.links.reject, {
                memo: this.user.memo
            }).then(res => {
                // notify user
                this.$message.success(res.data.message)
                // update user in list
                this.$set(this.user, 'status', res.data.user.status)
                // close modal
                $('#status-modal').modal('hide')
            }).catch(error => {
                error.response && error.response.status == 422 && (this.errors = handleValidation(error))
            }).then(() => {
                this.loading = false
            })
        }
    }
}
</script>
