<template>
    <div>
    

        <span>{{ currency }} {{ user.credits }} </span>
<el-button type="text" @click="dialogVisible = true"> <i v-if="superadmin" class="fas hover ml-1 hover" :class="changeUpline ? 'fa-times text-danger' : 'fa-sync-alt text-info'" @click="changeUpline = !changeUpline"></i></el-button>

<el-dialog
  title="Tips"
  :visible.sync="dialogVisible"
  width="100px"
  :before-close="handleClose">
   <span>RM {{ user.credits }} </span>

   <div class="form-group">
  <label for="sel1">Select Action:</label>
  <select  v-model="add" class="form-control" id="sel1">
    <option value="1">Add</option>
     <option value="0">Deduct</option>
   
  </select>
</div>


  </el-select>
 <el-input v-if="add==1" placeholder="Please Enter Amount to add" v-model="amount"></el-input>
 <el-input v-if="add==0" placeholder="Please Enter Amount to Deduct" v-model="amount"></el-input>
  <div class="invalid-feedback" :class="errors.amount ? 'd-block' : ''  ">{{ errors.amount }}</div><br><br>
 <el-input
  type="textarea"
  placeholder="Please Enter Note (why you manualy do this)"
  v-model="textarea"
  maxlength="100"
  show-word-limit
>
</el-input> <div class="invalid-feedback" :class="errors.memo ? 'd-block' : ''  ">{{ errors.memo }}</div>

  <span slot="footer" class="dialog-footer">
    <el-button @click="dialogVisible = false">Cancel</el-button>
    <el-button type="primary" @click="updateWallet">Confirm</el-button>
  </span>
</el-dialog>

   
    </div>
</template>

<script>
export default {
    data () {
        return {
            users: this.user.upline ? [ this.user.upline ] : [],
            loading: false,
            changeUpline: false,
            dialogVisible: false,
            amount: '',
            textarea: '',
            errors: {memo:'', amount: ''},
            add: true,
            ptions: [{
          value: 'demosit',
          label: 'Add'
          }, {
          value: 'withdraw',
          label: 'Deduct'
          }],
           
            
        }
    },
    props: {
        user: {
            type: Object,
            default: () => ({})
        }
    },
    methods: {
      updateWallet(){
     
           if(this.amount==''){
           this.errors.amount = 'Amount is neeed'
           return;
          }
           if(this.textarea==''){
           this.errors.memo = 'Reason is need when update user ewallet'
           return;
         }

         axios.post(this.user.links.update_wallet, {memo: this.textarea, amount: this.amount, user_id: this.user.id, add:this.add}).then(res=>{
            this.$message.success(res.data.message)
            this.user = res.data.user
         }).catch(errors=>{
             this.$message.success(res.data.message)
         })

        this.dialogVisible = false
      },
        handleClose(done) {
        this.$confirm('Are you sure to close this dialog?')
          .then(_ => {
            done();
          })
          .catch(_ => {});
      }
    },
    computed: {
        superadmin () {
            return this.$root.admin.role_id == 999
        }
    }
}
</script>
