<template>
<div>
    <br>

  <el-table
    :data="tableData"
     v-loading="loading"
    style="width: 100%">
    <el-table-column type="expand">
      <template slot-scope="props">
        <p>Bank: {{ props.row.user.bank.bank }}</p>
        <p>City: {{ props.row.user.bank.name }}</p>
        <p>Address: {{ props.row.user.bank.account }}</p>
        <p>Stauts: {{props.row.status}} </p>
      </template>
    </el-table-column>
    <el-table-column
      label="Date"
      prop="created_at">
    </el-table-column>
    <el-table-column
      label="Name"
      prop="user.name">
    </el-table-column>
    <el-table-column
      label="Amount"
      prop="amount">
    </el-table-column>
  <el-table-column
      label="Operations">
      <template slot-scope="scope">
        <el-button
          size="mini"
          @click="handleEdit(scope.$index, scope.row)">Views Proof</el-button>
        
      </template>
    </el-table-column>s
    
  </el-table>



            <p class="list-group-item" v-if="!tableData.length">No History found</p>
            <span v-if="tableData.length > 1" class="list-group-item text-right">
                <el-pagination
                    layout="prev, pager, next"
                    @current-change="getActivities"
                    :total="withdraws.total"
                    :page-size="parseInt(withdraws.per_page)">
                </el-pagination>
            </span>




            <el-dialog title="Payment Proof" :visible.sync="dialogTableVisible">
 <img :src="img" >
</el-dialog>

    
  </div>
</template>

<script>
  export default {
    data() {
      return {
        loading:false,
            keyword: null,
            subject_type: null,
            active: null,
            range: [],
            keywordTimeout: null,
            withdraws: [],
            s: '/storage/',
            dialogTableVisible: false,
            img: '',
      }
    },
    mounted(){
      //  alert(this.$root.routes.getWithdraws)
   this.getData();
    }, 
    computed: {
        tableData () {
            return this.withdraws.data
        }
    },
    methods: {
       handleEdit(index, row) {
       
       this.img = this.s+row.payment_proof;
       
        this.dialogTableVisible = true
        console.log(index, row);
      },
        getData: function(){
            this.loading = true
            
            axios.get(this.$root.routes.getWithdraws)
            .then(res=>{
        // this.tableData = res.data.data
         this.withdraws = res.data.data
         console.log(res.data.data.data)
         this.loading = false 
            })
            .catch(error=>{
          this.loading= false
            })
        },
                getActivities (page) {
            alert(page)
            this.loading = true
             axios.get(this.$root.routes.getWithdraws+'/?page='+page,  {
                    per_page: 10,
                    page,
                    order_by: 'created_at',
                    order_direction: 'desc',
                    // keyword: this.keyword,
                    // subject_type: this.subject_type,
                    // start_at: this.range[0],
                    // end_at: this.range[1]
                
            }).then(res => {
                this.withdraws=res.data.data
            // console.log(res)
              //  this.$set(this.user, 'activities', res.data.activities)
            }).catch(error => {    })
            .then(() => this.loading = false)
        },
         searchKeyword () {
            clearTimeout(this.keywordTimeout);

            this.keywordTimeout = setTimeout(() => {
                this.getActivities(1)
            }, 500);
        }
    }
  }
</script>