<template>
    <div class="card">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-12">
                        <h2 class="m-0">Last 10 Activities</h2>
                        <i v-if="loading" class="fas fa-spin fa-spinner"></i>
                    </div>
                    <div class="col-md-4 col-sm-12 text-right">
                        <el-input placeholder="Search keyword" v-model="keyword" @input="searchKeyword"></el-input>
                    </div>
                    <div class="col-md-8 col-sm-12 text-right">
                        <el-date-picker
                            @change="getActivities(1)"
                            v-model="range"
                            type="daterange"
                            align="right"
                            unlink-panels
                            range-separator="-"
                            format="yyyy-MM-dd"
                            start-placeholder="Start At"
                            end-placeholder="End At">
                        </el-date-picker>
                    </div>
                </div>
            </li>
            <li v-for="act in activities.data" class="list-group-item d-flex justify-content-between align-items-center">
                {{ act.description }}
                <span class="badge badge-primary badge-pill">{{ act.created_at }}</span>
            </li>
            <li class="list-group-item" v-if="!activities.data.length">No activity found</li>
            <li v-if="activities.data.length > 1" class="list-group-item text-right">
                <el-pagination
                    layout="prev, pager, next"
                    @current-change="getActivities"
                    :total="activities.total"
                    :page-size="parseInt(activities.per_page)">
                </el-pagination>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    data () {
        return {
            loading: false,
            keyword: null,
            range: [],
            keywordTimeout: null
        }
    },
    props: {
        user: Object
    },
    computed: {
        activities () {
            return this.user.activities
        }
    },
    methods: {
        getActivities (page) {
            console.log(this.range)
            alert(this.range[0])
            this.loading = true
            return axios(this.activities.path, {
                params: {
                    per_page: 10,
                    page,
                    order_by: 'created_at',
                    order_direction: 'desc',
                    keyword: this.keyword,
                    start_at: this.range[0],
                    end_at: this.range[1]
                }
            }).then(res => {
                this.$set(this.user, 'activities', res.data.activities)
            }).catch(error => {})
            .then(() => this.loading = false)
        },
        searchKeyword () {
            clearTimeout(this.keywordTimeout);

            this.keywordTimeout = setTimeout(() => {
                this.getActivities(1)
            }, 500);
        }
    }
}
</script>
