<template>
    <div class="row">
        <div class="col-md-3 col-sm-12 mb-3">
            <credit-stat :user="user"></credit-stat>
        </div>
         <div class="col-md-3col-sm-12 mb-3">
            <token-stat :user="user"></token-stat>
        </div>
        <div class="col-md-3 col-sm-12 mb-3">
            <shipping-stat :user="user"></shipping-stat>
        </div>
        <!-- <div class="col-md-3 col-sm-12 mb-3">
            <stock-stat :user="user"></stock-stat>
        </div> -->
        <div class="col-md-3 col-sm-12 mb-3">
            <downline-stat :user="user"></downline-stat>
        </div>
    </div>
</template>
<script>
import stockStat from './stock-stat'
import downlineStat from './downline-stat'
import creditStat from './credit-stat'
import shippingStat from './shipping-stat'
import tokenStat from './token-stat'
export default {
    data () {
        return {
        }
    },
    props: {
        user: {
            type: Object,
            default: () => {}
        }
    },
    components: {
        stockStat, downlineStat, creditStat, shippingStat, tokenStat
    }
}
</script>