@extends('layouts.app')

@section('content')

<input type="hidden" id="routes-data" value='@json($routes)'>
<input type="hidden" id="user-data" value='@json($user)'>
<input type="hidden" id="products-data" value='@json($products)'>
<input type="hidden" id="stocks-data" value='@json($stocks)'>
<div id="user-stocks">
	
    <container :user="user" :products="products" :stocks="stocks"> </container>
</div>
@endsection

@section('script')
<script src="{{ mix('js/user-stocks.js') }}"></script>
@stop
