<template>
    <div class="modal fade" id="bulk-process-modal" tabindex="-1" role="dialog" aria-labelledby="bulk-process-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bulk-process-modalLabel">Upload Tracking Numbers Excel Files</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <el-upload
                                drag
                                ref="upload"
                                name="excel"
                                :headers="{'X-Requested-With': 'XMLHttpRequest'}"
                                :data="additionalData"
                                :action="$root.routes.bulkProcessShippings"
                                :on-error="handleError"
                                :on-success="handleSuccess"
                                :multiple="false"
                                :limit="1">
                                <div>
                                    <i class="el-icon-upload"></i>
                                    <div class="el-upload__text">Drag and drop here，or <br><em>click to upload</em></div>
                                    <div class="el-upload__tip" slot="tip">Only excel file allowed</div>
                                </div>
                            </el-upload>
                        </div>
                        <div v-if="list.length" class="col-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th>Order #</th>
                                        <th>Status</th>
                                    </tr>
                                    <tr v-for="i in list">
                                        <td>{{ i.id }}</td>
                                        <td>{{ i.status }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted () {
        modalAppendToBody('#bulk-process-modal')
    },
    data () {
        return {
            additionalData: {
                _token: document.head.querySelector('meta[name="csrf-token"]').content
            },
            list: []
        }
    },
    methods: {
        handleError (error, file, list) {
            if (error.status === 422) {
                let errors = JSON.parse(error.message).errors
                Object.keys(errors).forEach(key => this.$message.error(errors[key][0]))
            } else {
                this.$message(JSON.parse(error.message).message)
            }
        },
        handleSuccess (res, file, list) {
            // notify user
            this.$message.success(res.message)
            // set response list
            this.list = res.list
        },
    }
}
</script>
