<template>
<div class="container mt-3">
    <div class="row">
        <div class="col-12 mb-3">
            <deposits-accounts></deposits-accounts>
        </div>
        <div class="col-md-6 col-sm-12 mb-3">
            <stocks></stocks>
        </div>
        <div class="col-md-6 col-sm-12 mb-3">
            <wallets></wallets>
        </div>
        <div class="col-md-12 col-sm-12 mb-3">
            <shippings></shippings>
        </div>
    </div>
</div>
</template>

<script>
import depositsAccounts from './deposits-accounts'
import stocks from './stocks'
// import credits from './credits'
import wallets from './wallets'
import shippings from './shippings'

export default {
    components: {
        depositsAccounts, stocks, wallets, shippings
    }
}
</script>
