<template>
    <div class="card">
        <h5 class="m-0 card-header">{{ creditName }} Reload <i v-if="loading" class="fas fa-spin fa-spinner"></i></h5>
        <table v-if="credits.length" class="table">
            <thead>
                <tr>
                    <th>ID#</th>
                    <th>Username</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody v-for="credit in credits">
                <tr>
                    <td>{{ credit.id }}</td>
                    <td>{{ credit.user.username }}</td>
                    <td>
                        <button class="btn btn-link p-0" @click="setCredit(credit)">manage</button>
                    </td>
                </tr>
            </tbody>
            <div class="modal fade" id="credit-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="credit-modal-title" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div v-if="creditModal" class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="credit-modal-title">Credit Request #{{ creditModal.id }}</h5>
                        </div>
                        <div class="modal-body pt-0">
                            <p>Username: {{ creditModal.user.username }} - {{ creditModal.user.role.name }} ({{ creditModal.user.role.description }})</p>
                            <p>Name: {{ creditModal.user.name }}</p>
                            <hr>
                            <p>Total: {{ currency }} {{ total }}</p>
                            <p v-if="creditModal.payment.status == -1" class="text-danger">Status: Rejected</p>
                            <p v-else-if="creditModal.payment.status == 0" class="text-warning">Status: Processing</p>
                            <p v-else-if="creditModal.payment.status == 1" class="text-success">Status: Approved</p>
                            <p><img :src="creditModal.payment.url" alt="payment slip" class="img-fluid"></p>
                        </div>
                        <div class="modal-footer">
                            <div class="row w-100">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="input-memo">Memo (required if reject)</label>
                                        <input id="input-memo" type="text" class="form-control form-control-alternative" v-model="creditModal.payment.memo">
                                        <div class="invalid-feedback" :class="errors.memo ? 'd-block' : ''  ">{{ errors.memo }}</div>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-between">
                                    <button :disabled="loading" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <span>
                                        <button @click="submit('approve')" :disabled="loading" type="button" class="btn btn-success">Approve <i class="fas fa-spin fa-spinner" v-if="loading"></i></button>
                                        <button @click="submit('reject')" :disabled="loading" type="button" class="btn btn-danger">Reject <i class="fas fa-spin fa-spinner" v-if="loading"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </table>
        <div v-else class="card-body text-center">No Records Found</div>
    </div>
</template>

<script>
export default {
    mounted () {
        this.getCredits()
        modalAppendToBody('#credit-modal')
    },
    data () {
        return {
            credits: [],
            loading: false,
            creditModal: null,
            quantity: 0,
            errors: {}
        }
    },
    methods: {
        getCredits () {
            this.loading = true
            return axios(this.$root.routes.getCredits)
                    .then(res => {
                        this.credits = res.data.credits
                    })
                    .catch(err => {})
                    .then(() => this.loading = false)
        },
        setCredit (credit) {
            this.creditModal = credit
            this.quantity = credit.amount
            $('#credit-modal').modal('show')
        },
        submit (action) {
            this.loading = true
            return axios.post(this.creditModal.payment.links[action], {
                memo: this.creditModal.payment.memo
            }).then(res => {
                // close credit modal
                $('#credit-modal').modal('hide')
                // remove credit from list
                this.credits = this.credits.filter(credit => credit.id != this.creditModal.id)
                // remove credit from modal
                this.creditModal = null
                // notify
                this.$message.success(res.data.message)
            }).catch(error => {
                if (error.response.status == 422) {
                    let errors = {}
                    Object.entries(error.response.data.errors).forEach(error => {
                        errors[error[0]] = error[1][0]
                    })
                    this.errors = errors
                }
            })
            .then(() => this.loading = false)
        }
    },
    computed: {
        currency () {
            return process.env.MIX_APP_CURRENCY
        },
        total () {
            if (!this.creditModal) {
                return 0
            }
            return this.creditModal.amount
        },
        creditName () {
            return process.env.MIX_CREDIT_NAME
        }
    }
}
</script>
