<template>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID#</th>
                    <th>Username</th>
                    <th>Deposit</th>
                    <th>Title</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody v-for="deposit in deposits">
                <tr>
                    <td>{{ deposit.id }}</td>
                    <td>{{ deposit.user.username }}</td>
                    <td>{{ currency }} {{ deposit.amount }}</td>
                    <td>{{ deposit.purpose }}</td>
                    <td>
                        <button class="btn btn-link p-0" @click="setDeposit(deposit)">manage</button>
                    </td>
                </tr>
            </tbody>
            <div class="modal fade" id="deposit-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="deposit-modal-title" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div v-if="depositModal" class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="deposit-modal-title">Deposit Details #{{ depositModal.id }}</h2>
                        </div>
                        <div class="modal-body pt-0">
                            <p>Name: {{ depositModal.user.name ? depositModal.user.name : 'Not Provided' }} ({{ depositModal.user.username }})</p>
                            <p>Current level: {{ depositModal.user.role.name }} ({{ depositModal.user.role.description }})</p>
                            <p>Email Address: {{ depositModal.user.email }}</p>
                            <p>Contact Number: {{ depositModal.user.phone_no }}</p>
                            <hr>
                            <h4>For: {{ depositModal.purpose }}</h4>
                            <p>Deposit should pay: {{ currency }} {{ depositModal.amount }}</p>
                            <p v-if="depositModal.status == -1" class="text-danger">Status: Cancelled</p>
                            <p v-else-if="depositModal.payment.status == -1" class="text-danger">Status: Rejected</p>
                            <p v-else-if="depositModal.payment.status == 0" class="text-warning">Status: Processing</p>
                            <p v-else-if="depositModal.payment.status == 1" class="text-success">Status: Approved</p>
                            <p><img :src="depositModal.payment.url" alt="payment slip" class="img-fluid"></p>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <input :disabled="depositModal.payment.status != 0" placeholder="memo (required if reject)" type="text" class="form-control form-control-alternative" v-model="depositModal.status == -1 ? depositModal.memo : depositModal.payment.memo">
                                        <div class="invalid-feedback" :class="errors.memo ? 'd-block' : ''  ">{{ errors.memo }}</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12 mb-1">
                                            <button :disabled="loading" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                        <div v-if="depositModal.payment.status == 0" class="col-md-8 col-sm-12 mb-1 text-right">
                                            <button @click="submit('approve')" :disabled="loading" type="button" class="btn btn-success">Approve <i class="fas fa-spin fa-spinner" v-if="loading"></i></button>
                                            <button @click="submit('reject')" :disabled="loading" type="button" class="btn btn-danger">Reject <i class="fas fa-spin fa-spinner" v-if="loading"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </table>
    </div>
</template>

<script>
export default {
    mounted () {
        modalAppendToBody('#deposit-modal')
    },
    data () {
        return {
            depositModal: null,
            loading: false,
            errors: {}
        }
    },
    props: {
        deposits: {
            type: Array,
            default: () => {}
        }
    },
    computed: {
        currency () {
            return process.env.MIX_APP_CURRENCY
        }
    },
    methods: {
        setDeposit (deposit) {
            this.depositModal = deposit
            $('#deposit-modal').modal('show')
        },
        submit (action) {
            this.loading = true
            return axios.post(this.depositModal.payment.links[action], {
                memo: this.depositModal.payment.memo
            }).then(res => {
                // close deposit modal
                $('#deposit-modal').modal('hide')
                // do if component under workspace
                if (location.href.match('workspace')) {
                    // remove deposit from list
                    this.$parent.deposits = this.deposits.filter(deposit => deposit.id != this.depositModal.id)
                // do if component under members management
                } else if (location.href.match('members')) {
                    // get deposit index
                    let index = this.deposits.findIndex(d => d.id == this.depositModal.id)
                    // reset its payment details
                    this.$set(this.deposits[index], 'payment', res.data.payment)
                }
                // remove deposit from modal
                this.depositModal = null
                // notify
                this.$message.success(res.data.message)
            }).catch(error => {
                error.response && error.response.status == 422 && (this.errors = handleValidation(error))
            })
            .then(() => this.loading = false)
        }
    }
}
</script>
