<template>
    <div class="card">
        <h5 class="m-0 card-header">{{ depositModuleExists ? 'User Deposits & ' : '' }}Account Activation <i v-if="loading" class="fas fa-spin fa-spinner"></i></h5>
        <deposits v-if="depositModuleExists && deposits.length" :deposits="deposits"></deposits>
        <users v-if="users.length" :users="users"></users>
        <div v-if="!deposits.length && !users.length" class="card-body text-center">No Records Found</div>
    </div>
</template>

<script>
import deposits from './deposits'
import users from './users'
export default {
    mounted () {
        this.getDepositsAccounts()
    },
    data () {
        return {
            deposits: [],
            users: [],
            loading: false,
            userModal: null
        }
    },
    methods: {
        getDepositsAccounts () {
            this.loading = true
            return axios(this.$root.routes.getDepositsAccounts)
                    .then(res => {
                        this.deposits = res.data.deposits
                        this.users = res.data.users
                    })
                    .catch(err => {})
                    .then(() => this.loading = false)
        }
    },
    computed: {
        modules () {
            return process.env.MIX_MODULES.split(',')
        },
        depositModuleExists () {
            return this.modules.includes('deposit')
        }
    },
    components: {
        deposits, users
    }
}
</script>
