<template>
    <div class="card">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h5 class="m-0 card-header">Shipping Orders <i v-if="loading" class="fas fa-spin fa-spinner"></i></h5>
            </div>
            <div class="d-flex align-items-center justify-content-end col-md-6 col-sm-12">
                <button v-if="ids.length" @click="bulkConfirm" class="btn btn-warning btn-sm mr-3" :disabled="loading">Bulk Confirm <i class="fas fa-spin fa-spinner" v-if="loading"></i></button>
                <button class="btn btn-info btn-sm mr-3" data-toggle="modal" data-target="#bulk-process-modal">Bulk Process (Delivery Only)</button>
            </div>
        </div>
        <div class="table-responsive">
            <table v-if="shippings.length" class="table">
                <thead>
                    <tr>
                        <th>
                            <label @click.prevent="selectIds" role="checkbox" class="el-checkbox m-0">
                                <span class="el-checkbox__input" :class="ids.length === shippings.length ? 'is-checked' : ''">
                                    <span class="el-checkbox__inner"></span>
                                    <input :checked="ids.length === shippings.length" type="checkbox" aria-hidden="true" class="el-checkbox__original" value="">
                                </span>
                            </label>
                        </th>
                        <th>ID#</th>
                        <th>Username</th>
                        <th>Customer</th>
                        <th>Total</th>
                        <th>Stocks</th>
                        <th>Location</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody v-for="shipping in shippings">
                    <tr>
                        <td>
                            <label @click.prevent="selectId(shipping.id)" role="checkbox" class="el-checkbox m-0">
                                <span class="el-checkbox__input" :class="ids.includes(shipping.id) ? 'is-checked' : ''">
                                    <span class="el-checkbox__inner"></span>
                                    <input :checked="ids.includes(shipping.id)" type="checkbox" aria-hidden="true" class="el-checkbox__original" value="">
                                </span>
                            </label>
                        </td>
                        <td>{{ shipping.id }}</td>
                        <td>{{ shipping.user.username }}</td>
                        <td>{{ shipping.customer ? shipping.customer.name : shipping.user.name }}</td>
                        <td>{{ currency }} {{ shipping.sale_amount }}</td>
                        <td>{{ shipping.items.reduce((a, b) => +a + +b.quantity, 0) }}</td>
                        <span v-if="shipping.delivery==3">
                          <td> SELF PICK UP </td>
                        </span>
                       
                        <span v-else>

                        
                        <td v-if="!shipping.customer">{{shipping.user.address.state }}, {{ shipping.user.address.country }} (Deliver to me)</td>
                        <td v-else>{{ shipping.customer.address.state }}, {{ shipping.customer.address.country }}(Deliver to customer)</td></span>
                        <td>
                            <el-tooltip v-if="shipping.status == 0" class="item" effect="dark" placement="top" content="Lock Order From Modification">
                                <button @click="confirmShipping(shipping)" :disabled="loading" class="btn btn-link p-0 text-warning">confirm <i class="fas fa-spin fa-spinner" v-if="loading"></i></button>
                            </el-tooltip>
                            <button class="btn btn-link p-0" @click="setShipping(shipping)">manage</button>
                            <a :href="shipping.links.edit" class="btn btn-link p-0" target="_blank">view</a>
                        </td>
                    </tr>
                </tbody>

            </table>
            <div v-else class="card-body text-center">No Records Found</div>
        </div>
        <process-form :shippingModal="shippingModal" :shippings="shippings"></process-form>
        <bulk-process></bulk-process>
    </div>
</template>

<script>
import processForm from 'components/shipping/process'
import bulkProcess from 'components/admin/workspace/bulk-shippings'

export default {
    mounted () {
        this.getShippings()
    },
    data () {
        return {
            shippings: [],
            loading: false,
            shippingModal: null,
            quantity: 0,
            ids: []
        }
    },
    methods: {
        getShippings () {
            this.loading = true
            return axios(this.$root.routes.getShippings)
                    .then(res => {
                        this.shippings = res.data.shippings
                    })
                    .catch(err => {})
                    .then(() => this.loading = false)
        },
        setShipping (shipping) {
            this.shippingModal = shipping
            $('#shipping-modal').modal('show')
        },
        confirmShipping (shipping) {
            this.loading = true
            return axios.post(shipping.links.confirm)
                        .then(res => {
                            // notify user
                            this.$message.success(res.data.message)
                            // find index from list
                            let index = this.shippings.findIndex(s => s.id == shipping.id)
                            // update shipping order in list
                            this.shippings[index] = res.data.order
                        }).catch(error => {})
                        .then(() => this.loading = false)
        },
        bulkConfirm () {
            this.loading = true
            return axios.post(this.$root.routes.bulkConfirmShippings, {
                ids: this.ids
            }).then(res => {
                this.$message.success(res.data.message)
                return true
            }).catch(error => {})
            .then((res) => {
                if (res === true) {
                    window.location.reload()
                }
                this.loading = false
            })
        },
        selectId (id) {
            if (this.ids.includes(id)) {
                this.ids = this.ids.filter(i => i != id)
            } else {
                this.ids.push(id)
            }
        },
        selectIds () {
            if (this.ids.length === this.shippings.length) {
                this.ids = []
            } else {
                this.ids = this.shippings.map(o => o.id)
            }
        }
    },
    computed: {
        currency () {
            return process.env.MIX_APP_CURRENCY
        },
        total () {
            if (!this.shippingModal) {
                return 0
            }
            return this.shippingModal.amount
        }
    },
    components: {
        processForm, bulkProcess
    }
}
</script>
