<template>
    <div class="card">
        <h5 class="m-0 card-header">Stocks Transfer <i v-if="loading" class="fas fa-spin fa-spinner"></i></h5>
        <table v-if="stocks.length" class="table">
            <thead>
                <tr>
                    <th>ID#</th>
                    <th>Username</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody v-for="stock in stocks" :key="stock.id">
                <tr>
                    <td>{{ stock.id }}</td>
                    <td>{{ stock.user.username }}</td>
                    <td>
                        <button class="btn btn-link p-0" @click="setStock(stock)">manage</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div v-else class="card-body text-center">No Records Found</div>
        <div class="modal fade" id="stock-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="stock-modal-title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div v-if="stockModal" class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="stock-modal-title">Stock Request #{{ stockModal.id }}</h5>
                    </div>
                    <div class="modal-body pt-0">
                        <p>Username: {{ stockModal.user.name }} - {{ stockModal.user.role.name }} ({{ stockModal.user.role.description }})</p>
                        <hr>
                        <h5>Products</h5>
                        <div class="table-resposive">
                            <table class="table">
                                <tr>
                                    <th>Item SKU</th>
                                    <th>Unit Price ({{ currency }})</th>
                                    <th>Quantity</th>
                                    <th>Subtotal ({{ currency }})</th>
                                </tr>
                                <tr v-for="item in stockModal.items" :key="item.id">
                                    <td><!-- {{ item.product.sku }} -->Unit/Token</td>
                                    <td>{{ item.unit_price }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.subtotal }}</td>
                                </tr>
                            </table>
                        </div>
                        <p>Total: {{ currency }} {{ total }}</p>
                        <p v-if="stockModal.payment.status == -1" class="text-danger">Status: Rejected</p>
                        <p v-else-if="stockModal.payment.status == 0" class="text-warning">Status: Processing</p>
                        <p v-else-if="stockModal.payment.status == 1" class="text-success">Status: Approved</p>

                        <p v-if="stockModal.payment_type=='slip' || stockModal.payment_type=='both'">
                             <span class="badge badge-info" v-if="stockModal.payment_type=='slip'">Using {{stockModal.payment_type}}  </span>
                           <span class="badge badge-info" v-if="stockModal.payment_type=='both'">Using {{stockModal.payment_type}} slip and eWallet. 
                               Please check the slip should be <br>
                               RM({{total}}[total amount] - {{stockModal.user.eWallet}}[current user Balance] = {{total - stockModal.user.eWallet}} [amount attached]) </span><br>
                            <img :src="stockModal.payment.url" alt="payment slip" class="img-fluid"></p>
                        <p v-else>{{stockModal.payment_type}}<br>
                       <span class="badge badge-success"> User EWaller Balance RM {{stockModal.user.eWallet}}</span></p>
                    </div>
                    <div class="modal-footer">
                        <div class="row w-100">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="input-memo">Memo (required if reject)</label>
                                    <input id="input-memo" type="text" class="form-control form-control-alternative" v-model="stockModal.payment.memo">
                                    <div class="invalid-feedback" :class="errors.memo ? 'd-block' : ''  ">{{ errors.memo }}</div>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-between">
                                <button :disabled="loading" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <span>
                                    <button @click="submit('approve')" :disabled="loading" type="button" class="btn btn-success">Approve <i class="fas fa-spin fa-spinner" v-if="loading"></i></button>
                                    <button @click="submit('reject')" :disabled="loading" type="button" class="btn btn-danger">Reject <i class="fas fa-spin fa-spinner" v-if="loading"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted () {
        this.getStocks()
        modalAppendToBody('#stock-modal')
    },
    data () {
        return {
            stocks: [],
            loading: false,
            stockModal: null,
            quantity: 0,
            errors: {}
        }
    },
    methods: {
        getStocks () {
            this.loading = true
            return axios(this.$root.routes.getStocks)
                    .then(res => {
                        this.stocks = res.data.stocks
                    })
                    .catch(err => {})
                    .then(() => this.loading = false)
        },
        setStock (stock) {
            this.stockModal = stock
            this.quantity = stock.items.reduce((sum, i) => sum + i.quantity, 0)
            $('#stock-modal').modal('show')
        },
        submit (action) {
            this.loading = true
            return axios.post(this.stockModal.payment.links[action], {
                memo: this.stockModal.payment.memo
            }).then(res => {
                // close stock modal
                $('#stock-modal').modal('hide')
                // remove stock from list
                this.stocks = this.stocks.filter(stock => stock.id != this.stockModal.id)
                // remove stock from modal
                this.stockModal = null
                // notify
                this.$message.success(res.data.message)
            }).catch(error => {
                error.response && error.response.status == 422 && (this.errors = handleValidation(error))
            })
            .then(() => this.loading = false)
        }
    },
    computed: {
        currency () {
            return process.env.MIX_APP_CURRENCY
        },
        total () {
            if (!this.stockModal) {
                return 0
            }
            return this.stockModal.items.reduce((sum, i) => sum + i.subtotal, 0)
        }
    }
}
</script>
