<template>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>ID#</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody v-for="user in users" :key="user.id">
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role.name }} <span v-if="user.role.description">({{ user.role.description }})</span></td>
                <td>
                    <button class="btn btn-link p-0" @click="setUser(user)">manage</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="modal fade" id="user-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="user-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div v-if="userModal" class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="user-modal-title">User Details</h2>
                </div>
                <div class="modal-body pt-0">

                    <p>Upline Name: {{ upline.name  }}</p>
                    <p>Username: {{ userModal.username }}</p>
                    <p>Email: {{ userModal.email }}</p>
                    <p>Name: {{ userModal.name }}</p>
                    <p>Gender: {{ userModal.gender }}</p>
                    <p>Role: {{ userModal.role.name }} <span v-if="userModal.role.description">({{ userModal.role.description }})</span></p>
                    <p>Contact No: {{ userModal.phone_no }}</p>
                    <p>IC/Passport No: {{ userModal.ic_no }}</p>
                    <p v-if="userModal.ic_front">
                        <label>IC/Passport Front View</label>
                        <img :src="userModal.ic_front" alt="front" class="img-fluid">
                    </p>
                    <p v-if="userModal.ic_back">
                        <label>IC/Passport Back View</label>
                        <img :src="userModal.ic_back" alt="back" class="img-fluid">
                    </p>
                    <p v-if="userModal.status == -1" class="text-danger">Status: Blocked</p>
                    <p v-else-if="userModal.status == 0" class="text-warning">Status: Unapproved</p>
                    <p v-else-if="userModal.status == 1" class="text-success">Status: Approved</p>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <input placeholder="memo (required if block)" type="text" class="form-control form-control-alternative" v-model="userModal.memo">
                                <div class="invalid-feedback" :class="errors.memo ? 'd-block' : ''  ">{{ errors.memo }}</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-4 col-sm-12 mb-1">
                                    <button :disabled="loading" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                                <div class="col-md-8 col-sm-12 mb-1 text-right">
                                    <button :disabled="loading" type="button" class="btn btn-success" @click="submit('approve')">Approve <i class="fas fa-spin fa-spinner" v-if="loading"></i></button>
                                    <button :disabled="loading" type="button" class="btn btn-danger" @click="submit('reject')">Block <i class="fas fa-spin fa-spinner" v-if="loading"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    mounted () {
        modalAppendToBody('#user-modal')
        
    },
    data () {
        return {
            userModal: null,
            loading: false,
            errors: {},
            upline: {},
            da: {id: ''}
        }
    },
    props: {
        users: {
            type: Array,
            default: () => {}
        }
    },
    computed: {
        currency () {
            return process.env.MIX_APP_CURRENCY
        }
    },
    methods: {
        setUser (user) {
            this.userModal = user
            $('#user-modal').modal('show')
      var ref = user.referrer_id
      axios.get(this.userModal.links.get_upline+'?id='+ref).then(res=>{
 
 
    this.upline= res.data
    }).catch(e=>{
   
    })

        },
        submit (action) {
            this.loading = true
            return axios.post(this.userModal.links[action], {
                memo: this.userModal.memo
            }).then(res => {
                // close user modal
                $('#user-modal').modal('hide')
                // remove user from list
                this.users = this.users.filter(user => user.id != this.userModal.id)
                // remove user from modal
                this.userModal = null
                // notify
                this.$message.success(res.data.message)
            }).catch(error => {
                error.response && error.response.status == 422 && (this.errors = handleValidation(error))
            })
            .then(() => this.loading = false)
        }
    },
}
</script>
