<template>
    <div class="card">
        <h5 class="m-0 card-header">{{ creditName }} Payment Requests <i v-if="loading" class="fas fa-spin fa-spinner"></i></h5>
        <table v-if="credits.length" class="table">
            <thead>
                <tr>
                    <th>ID#</th>
                    <th>Username</th>
                    <th>Action</th>
                </tr>
            </thead>
            
            <tbody v-for="credit in credits" :key="credit.id">
                <tr>
                    <td>{{ credit.id }}</td>
                    <td>{{ credit.user.username }}</td>
                    <td>
                        <button class="btn btn-link p-0" @click="setCredit(credit)">manage</button>
                    </td>
                </tr>
            </tbody>
          <!-- START MODEL -->
           <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Request #{{creditModal.id}} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                            <p>Username: {{ user.username }} </p>
                            <p>Name: {{ user.name }}</p>
                            <hr>
                            <p>e-Wallet Balance: {{ currency }} {{ bal }}</p>
                            <p>Total Amount Requested: {{ currency }} {{ total }}</p>
                            <p v-if="creditModal.status == -1" class="text-danger">Status: Rejected</p>
                            <p v-else-if="creditModal.status == 0" class="text-warning">Status: Processing</p>
                            <p v-else-if="creditModal.status == 1" class="text-success">Status: Approved</p>
                            <hr>
                            <p>Bank Name: {{ bank.bank }} </p>
                            <p>Account Name: {{ bank.name }}</p>
                            <p>Account Number: {{ bank.account }}</p>

                            <p><img :src="creditModal.payment_proof" alt="payment slip" class="img-fluid" v-if="creditModal.payment_proof"></p>
                            
                             <div class="custom-file">
            <input type="file" @change="onFileChanged" class="custom-file-input" id="dropzoneMultipleUpload" >
            <label class="custom-file-label" for="dropzoneMultipleUpload">Choose file (png/jpg)({{filename}})</label>
            <div class="invalid-feedback" :class="errors.payment_proof ? 'd-block' : ''  ">{{ errors.payment_proof }}</div>
        </div>

        
      </div>
     <div class="modal-footer" v-if="bal>=creditModal.amount">
                            <div class="row w-100">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="input-memo">Memo (required if reject)</label>
                                        <input id="input-memo" type="text" class="form-control form-control-alternative" v-model="wallet.memo">
                                        <div class="invalid-feedback" :class="errors.memo ? 'd-block' : ''  ">{{ errors.memo }}</div>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-between">
                                    <button :disabled="loading" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <span>
                                        <button @click="submit('approve')" :disabled="loading" type="button" class="btn btn-success">Approve <i class="fas fa-spin fa-spinner" v-if="loading"></i></button>
                                        <button @click="submit('reject')" :disabled="loading" type="button" class="btn btn-danger">Reject <i class="fas fa-spin fa-spinner" v-if="loading"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
    </div>
  </div>
</div>
          <!-- END MODEL -->
        </table>
        <div v-else class="card-body text-center">No Records Found</div>
    </div>
</template>

<script>
export default {
    mounted () {
        this.getCredits()
        modalAppendToBody('#credit-modal')
    },
    data () {
        return {
            credits: [],
            loading: false,
            creditModal: {},
            quantity: 0,
            errors: {},
            user: {},
            bal: 0,
            bank: {},
            selectedFile: null,
            filename: '',
            wallet: {
                id: '',
                memo: '',
                user_id: '',
                status: ''
            }

        }
    },
    methods: {
        onFileChanged (event) {
     this.selectedFile = event.target.files[0]
     console.log(this.selectedFile)
     this.filename = this.selectedFile.name
     
    // alert(this.selectedFile)
     },
        getCredits () {
            this.loading = true
            return axios(this.$root.routes.getwallets)
                    .then(res => {
                        this.credits = res.data.wallets
                    })
                    .catch(err => {})
                    .then(() => this.loading = false)
        },
        setCredit (credit) {
            this.selectedFile =null
            this.filename = null
            this.user = credit.user
            this.bank = credit.user.bank
            this.creditModal = credit
            this.quantity = credit.amount
            this.wallet.user_id = credit.user_id
            this.wallet.id = credit.id
            axios.get(this.$root.routes.getuser+'?user_id='+credit.user_id)
            .then(res=>{
               // console.log(res)
                this.bal = res.data
               $('#exampleModal').modal('show')
            })
            .catch(error=>{

            })
           
        },
        submit (action) {
    this.loading = true
    var formData = new FormData()
    formData.append("payment_proof", this.selectedFile)
    formData.append("user_id", this.creditModal.user_id)
    formData.append("id", this.creditModal.id)
    formData.append("action", action)
     formData.append("memo", this.wallet.memo)
     
    axios.post( this.$root.routes.approvewallets,
   formData,
   {
    headers: {
        'Content-Type': 'multipart/form-data'
    }
  }
).then(res => {
     this.loading = false
      // close credit modal
                $('#exampleModal').modal('hide')
                // remove credit from list
                this.credits = this.credits.filter(credit => credit.id != this.creditModal.id)
                // remove credit from modal
                this.creditModal = null
                // notify
                this.$message.success(res.data.message)
})
.catch(error=>{
 if (error.response.status == 422) {
                    let errors = {}
                    Object.entries(error.response.data.errors).forEach(error => {
                        errors[error[0]] = error[1][0]
                    })
                    this.errors = errors
                   
                }
   this.loading = false
});
  
}        
    },
    computed: {
        currency () {
            return process.env.MIX_APP_CURRENCY
        },
        total () {
            if (!this.creditModal) {
                return 0
            }
            return this.creditModal.amount
        },
        creditName () {
            return process.env.MIX_CREDIT_NAME
        }
    }
}
</script>
