<template>
    <div >
     
           <div class="header bg-pink pb-6" style="min-height: 300px; background: linear-gradient(87deg, rgb(0, 0, 0) 0px, rgb(75, 75, 75) 100%)!important;">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <!--div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Activity & Notifications</h6>
            
            </div-->
           
          </div>
        </div>
      </div>
    </div>
         <div class="container-fluid mt--6">
      <div class="row">
       <activities :user="user"> </activities>
        <div class="col-lg-6">
          <div class="card bg-gradient-default shadow">
            <div class="card-header bg-transparent">
              <h3 class="mb-0 text-white">Latest Notification</h3>
            </div>
            <div class="card-body">
              <div class="timeline timeline-one-side" data-timeline-content="axis" data-timeline-axis-style="dashed">
              
                <div class="timeline-block" v-for="i in user.notification">
                  <!-- <span class="timeline-step badge-success">
                   <img width="30px" height="30px" :src="s+i.data.user.avatar">
                  </span> -->
                  <div class="timeline-content">
                    <small class="text-light font-weight-bold">{{i.created_at}}</small>
                    <h5 class="text-white mt-3 mb-0">New Notifification</h5>
                    <p class="text-light text-sm mt-1 mb-0">{{i.data.status}}</p>
                    <div class="mt-3">
                      <span class="badge badge-pill badge-neutral">{{i.data.user.name}}</span>
                      <span class="badge badge-pill badge-neutral">{{i.type}}</span>
                      <span class="badge badge-pill badge-danger">Agent</span>
                    </div>
                  </div>
                
                </div>
             
             
              </div>
            </div>
          </div>
        </div>
      </div>
 
    </div>
    </div>
</template>
<script>

import activities from './activities'

export default {
    mounted() {
        
    },
    data() {
        return {
            activity_info: [],
            s: '/storage/'
        }
    },
    props: {
        user: Object,
       
    },
    components: {
      activities
    },
    methods: {}
}

</script>
