<template>
    <div class="card">
        <h4 class="card-header" style="padding: 16px;">Stocks</h4>
        <ul class="list-group list-group-flush">
            <li v-for="stock in stocks" class="list-group-item d-flex justify-content-between align-items-center">
                {{ stock.product.sku }}
                <span class="badge badge-primary badge-pill">{{ stock.quantity }} units</span>
            </li>
        </ul>
        <div class="card-body">
            <el-tooltip v-if="!user.upline" class="item" effect="dark" :content="'Refill Stocks with System'" placement="top">
                <span>
                    <button class="btn btn-primary w-100 mb-3" @click="showStockDialog = true">Stocks Reload</button>
                </span>
            </el-tooltip>
            <el-tooltip class="item" effect="dark" :content="transferAccessible.reason" placement="top">
                <span>
                    <button class="btn btn-primary w-100 mb-3" :disabled="transferAccessible.disable" @click="openTransferModal">Stocks Transfer</button>
                </span>
            </el-tooltip>
            <el-tooltip class="item" v-if="depositModuleExists && deposit" effect="dark" content="View Upgrade Request Status" placement="top">
                <span>
                    <button data-toggle="modal" data-target="#deposit-status-modal" class="btn btn-warning w-100 mb-3">View Deposit Status</button>
                </span>
            </el-tooltip>
            <el-tooltip class="item" effect="dark" v-else-if="depositModuleExists && approvedDeposit && user.role_id < maxLevelReseller" content="Upgrade to higher member level" placement="top">
                <span><button @click="openDepositModal" class="btn btn-success w-100 mb-3">Request to Upgrade</button></span>
            </el-tooltip>
        </div>
        <stock-form :show="showStockDialog" :user="user"></stock-form>
        <transfer-form :user="user"></transfer-form>
        <deposit-form v-if="depositModuleExists" :user="user" ref="submitModal"></deposit-form>
        <deposit-status v-if="depositModuleExists" :user="user" :deposit="deposit" ref="statusModal"></deposit-status>
    </div>
</template>

<script>
import transferForm from 'components/user/transfer-form'
import depositForm from 'components/user/profile/deposit-form'
import depositStatus from 'components/user/profile/deposit-status'
import stockForm from 'components/user/stock-form'

export default {
    mounted () {
    },
    data () {
        return {
            showStockDialog: false
        }
    },
    props: {
        user: {
            type: Object,
            default: () => ({})
        }
    },
    methods: {
        openTransferModal () {
            $('#transfer-modal').modal('show')
        },
        openDepositModal () {
            $('#deposit-submit-modal').modal('show')
        }
    },
    components: {
        transferForm, depositForm, depositStatus, stockForm
    },
    computed: {
        downlines () {
            return this.user.downlines
        },
        stocks () {
            return this.user.stocks
        },
        transferAccessible () {
            // calculate total of user stocks
            let totalStocks = this.stocks.reduce((sum, stock) => sum += stock.quantity, 0)
            return {
                disable: !this.downlines.length || !totalStocks,
                reason: !this.downlines.length ?
                    'You have no downlines to start a transaction' :
                    !totalStocks ?
                    'You have no stock available to start a transaction' :
                    'Transfer stock to your downlines'
            }
        },
        approvedDeposit () {
            return this.user.role_id == 1 ? true : (this.user.deposit && this.user.deposit.status == 1)
        },
        deposit () {
            return this.user.deposits.find(d => d.status == 0)
        },
        maxLevelReseller () {
            return process.env.MIX_HIGHEST_RESELLER_LEVEL
        },
        modules () {
            return process.env.MIX_MODULES.split(',')
        },
        depositModuleExists () {
            return this.modules.includes('deposit')
        }
    }
}
</script>
