<template>
    <div class="card card-stats">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0"><!-- {{ creditName }} -->Shipping credit</h5>
                    <span class="h2 font-weight-bold mb-0">{{ currency }} {{ user.credits }}</span>
                </div>
                <div class="col-auto">
                    <el-tooltip class="item" effect="dark" placement="top">
                        <span slot="content">Click on <i class="fas fa-plus"></i> to top up credits</span>
                        <div @click="openCreditForm" class="hover icon icon-shape bg-primary text-white rounded-circle shadow">
                            <i class="fas fa-coins hover-plus"></i>
                        </div>
                    </el-tooltip>
                </div>
            </div>
        </div>
        <credit-form :user="user"></credit-form>
    </div>
</template>

<script>
import creditForm from 'components/user/credit-form'

export default {
    props: {
        user: {
            type: Object,
            default: () => {}
        }
    },
    computed: {
        currency () {
            return process.env.MIX_APP_CURRENCY
        },
        creditName () {
            return process.env.MIX_CREDIT_NAME
        }
    },
    methods: {
        openCreditForm () {
            $('#credit-modal').modal('show')
        }
    },
    components: {
        creditForm
    }
}
</script>
