<template>
<div>
      <control-panel :user="user"></control-panel>
</div>
</template>
<script>

import controlPanel from './control-panel'


export default {
    mounted() {},
    data() {
        return {}
    },
    props: {
        user: Object
    },
    components: {
       controlPanel
   },
    methods: {}
}

</script>
