<template>
<div class="container mt-3">
    <div v-if="isAdminRoute && isCreateRoute" class="row justify-content-center mb-3">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title pt-0">Select A Member</h2>
                    <div class="form-group">
                        <label class="form-control-label" for="username">Username</label>
                        <multiselect
                            id="username"
                            :options="users"
                            label="username"
                            v-model="$root.user"
                            :loading="loading"
                            @search-change="searchUsers"
                            placeholder="Search by username">
                        </multiselect>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-if="user" class="row justify-content-center">
        <div class="col-12 mb-3">
            <order-items :user="user" :order="order" :items.sync="order.items" :errors="errors"></order-items>
        </div>

        <div class="col-md-6 col-sm-12" v-if="!order.status">
            <div class="row">
                <div class="col-12 mb-3">
                    <shipping-address :order="order" :errors="errors" :customers="customers"></shipping-address>
                </div>
                <div v-if="isAdminRoute && order.customer" class="col-12">
                    <div class="form-group">
                        <label>Customize Shipping Fee</label>
                        <input placeholder="leave empty if not using" type="number" class="form-control form-control-alternative" v-model.number="order.amount">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col-12">
                    <order-summary :shippingFee.sync="shippingFee" :total="total" :shipping="shipping" :user="user" :order="order"></order-summary>
                </div>
                <div class="col-12 my-3">
                    <el-tooltip v-if="!order.status" class="item" effect="dark" placement="top" :content="allow.reason">
                        <span>
                            <button :disabled="allow.disabled || loading" @click="createOrder" class="btn btn-info w-100">
                                <span v-if="!order.id">Confirm Order</span>
                                <span v-else>Update Order</span>
                                <i class="fas fa-spin fa-spinner" v-if="loading"></i>
                            </button>
                        </span>
                    </el-tooltip>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import shippingAddress from './address'
import orderSummary from './summary'
import malaysia from 'js/configs/malaysia'
import singapore from 'js/configs/singapore'
import orderItems from './items'

const compareResult = {
    '>': function (x, y) { return x > y },
    '>=': function (x, y) { return x >= y },
    '<': function (x, y) { return x < y },
    '<=': function (x, y) { return x <= y }
}

const SHIPPING_FEE_404 = 'undefined shipping fee'
const SHIPPING_LIST_404 = 'undefined shipping fee list'

export default {
    mounted () {
    },
    data () {
        return {
            errors: {},
            loading: false,
            users: [],
            customFee: null,
        }
    },
    props: {
        user: {
            type: Object,
            default: () => ({})
        },
        customers: {
            type: Array,
            default: () => {}
        },
        order: {
            type: Object,
            default: () => ({})
        },
        shipping: {
            type: Object,
            default: () => ({})
        }
    },
    methods: {
        createOrder () {
            this.loading = true
            this.errors = {}
            let route = this.order.id ? this.order.links.update : this.user.links.create_shipping
            let params = {
                items: this.order.items,
                customer: this.order.customer,
                user_id: this.user.id,
                fee: this.customFee
            }
            if (this.order.customer) {
                params.name = this.order.customer.name
                params.phone_no = this.order.customer.phone_no
                params.street = this.order.customer.address.street
                params.street_2 = this.order.customer.address.street_2
                params.city = this.order.customer.address.city
                params.state = this.order.customer.address.state
                params.country = this.order.customer.address.country
                params.zipcode = this.order.customer.address.zipcode
            }
            return axios.post(route, params).then(res => {
                this.$message.success(res.data.message)
                return res.data.order
            }).catch(error => {
                error.response && error.response.status == 422 && (this.errors = handleValidation(error))
            }).then((res) => {
                if (res && window.location.href.match('new')) {
                    window.location.href = res.links.edit
                }
                this.loading = false
            })
        },
        searchUsers (query) {
            this.loading = true
            return axios(this.$root.routes.getUsers, {
                params: {
                    username: query
                }
            }).then(res => {
                this.users = res.data.data
            }).catch(error => {})
            .then(() => this.loading = false)
        },
        updateItems (items) {
            console.log(items)
            this.order.items = Object.assign({}, items)
            this.$set(this.order, 'items', items)
        }
    },
    computed: {
        allow () {
            let disabled = false
            let reason = 'Make sure all the fillable data is correct before submit'
            if (!this.order.items.length) {
                disabled = true
                reason = 'At least one product should be added'
            } else if (this.order.customer && (!this.order.customer.address.country || !this.order.customer.address.state)) {
                disabled = true
                reason = 'Please select or create a customer and fill in the state and country fields'
            } else if (this.isCreateRoute ? this.total > this.user.credits : this.total > (this.user.credits + this.order.amount)) {
                disabled = true
                reason = 'You have no enough c-credits to proceed'
            } else if ([SHIPPING_FEE_404, SHIPPING_LIST_404].includes(this.shippingFee.desc)) {
                disabled = true
                reason = this.shippingFee.desc
            }
            return { disabled, reason }
        },
        stateCode () {
            // get customer
            let customer = this.order.customer
            // if shipping address not provided
            if (!customer || !customer.address || !customer.address.country || !customer.address.state) {
                return false
            }
            // find state depends on address country
            if (customer.address.country.toLowerCase() === 'malaysia') {
                var search = malaysia.find(s => s.name == customer.address.state)
            } else {
                var search = singapore.find(s => s.name == customer.address.state)
            }
            return search ? search.code : false
        },
        shippingFeeList () {
            // cannot get list if no state code provided
            if (!this.stateCode) {
                return false
            }
            // loop entire shipping range
            let region = Object.keys(this.shipping).find(main => {
                return this.shipping[main].includes.includes(this.stateCode)
            })
            return region ? this.shipping[region] : false
        },
        shippingFee () {
            if (!this.order.customer) {
                return {
                    amount: 0,
                    desc: 'Self Pickup',
                    key: 0
                }
            }
            // get customer
            let customer = this.order.customer
            // preset return data
            let amount = 0
            let desc = 'evalution error'
            let key = 0
            // set found price flag
            let flag = false
            // get total weight of parcel
            let weight = this.order.items.reduce((acc, item) => acc + (item.quantity * item.product.weight), 0)
            // if shipping fee list not provided
            if (!this.shippingFeeList) {
                desc = SHIPPING_LIST_404
            } else {
                // get fee from list
                key = Object.keys(this.shippingFeeList.fees).find(key => {
                    // parse key, seperate operator and value behind
                    let [ operator, value ] = key.split(/(\d+)/)
                    // return true if compare value is higher than weight
                    return compareResult[operator](weight, value)
                })
                // if key not found
                if (!key) {
                    desc = SHIPPING_FEE_404
                } else {
                    // get fee amount
                    amount = this.shippingFeeList.fees[key]
                    // set desc
                    desc = this.shippingFeeList.name + ' Shipping Fee ( '+ key +'g)'
                    // set flag true if price found
                    flag = true
                }
            }
            // if price not found and order exists
            if (this.order.id) {
                // if amount different with order amount
                if (this.order.amount != amount && this.order.amount &&  this.order.amount != 0) {
                    this.customFee = amount = this.order.amount
                    desc = "Customize"
                }
            }
            return {
                amount,
                desc,
                key
            }
        },
        total () {
            return this.shippingFee.amount
        },
        isAdminRoute () {
            return window.location.href.match('admin')
        },
        isCreateRoute () {
            return window.location.href.match('new')
        }
    },
    components: {
        shippingAddress, orderSummary, orderItems
    }
}
</script>
