<template>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">3. Package Details</h2>
            <p>Product Name: {{ product.name }} ({{ product.sku }})</p>
            <p>Price: {{ currency }} {{ product.price }} per unit</p>
            <p>C-Credits Balance: {{ currency }} {{ user.credits.toFixed(2) }}</p>
            <div class="form-group" :class="errors.quantity ? 'has-danger' : ''">
                <label class="form-control-label" for="input-quantity">Quantity (Available: {{ stock ? `${stock} units` : 'You have no stock to trade' }})</label>
                <input min="1" :max="stock" type="number" :class="errors.quantity ? 'is-invalid' : ''" id="input-quantity" class="form-control form-control-alternative" placeholder="Stock Amount" :value="quantity" @input="$emit('update:quantity', parseInt($event.target.value))">
                <div class="invalid-feedback">{{ errors.quantity }}</div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data () {
        return {
        }
    },
    props: {
        user: {
            type: Object,
            default: () => ({})
        },
        product: {
            type: Object,
            default: () => ({})
        },
        errors: {
            type: Object,
            default: () => ({})
        },
        quantity: {
            type: Number,
            default: 1
        }
    },
    methods: {
    },
    computed: {
        stock () {
            let stock = this.user.stocks.find(s => s.product_id === this.product.id)
            return stock ? stock.quantity : 0
        },
        currency () {
            return process.env.MIX_APP_CURRENCY
        }
    },
    components: {
    }
}
</script>
