<template>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                <span>Order Summary</span>
                <span class="badge badge-pill" :class="badgeClass">{{ order.situation }}</span>
            </h2>
            <div class="row">
                <div v-if="order.memo" class="col-12">
                    <p class="mt-0">Memo: {{ order.memo }}</p>
                </div>
                <div v-if="order.customer" class="col-12 mb-3">
                    <div class="card border-0 bg-gradient-blue text-white">
                        <div class="card-body">
                            <h3 class="card-title text-white">Ship To:</h3>
                            <div v-if="order.customer">
                                <p class="m-0">{{ order.customer.name }}</p>
                                <p class="m-0" v-if="order.customer.phone_no">{{ order.customer.phone_no }}</p>
                                <p class="m-0" v-if="address" v-html="address"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row" v-for="item in order.items">
                        <div class="col-6">{{ item.product.sku }}</div>
                        <div class="col-3 text-right">{{ item.unit_price }} X {{ item.quantity }}</div>
                        <div class="col-3 text-right">{{ (item.unit_price * item.quantity).toFixed(2) }}</div>
                        <div class="col-6">- Stocks Paid</div>
                        <div class="col-6 text-right">{{ (item.unit_price * item.quantity).toFixed(2) }}</div>
                    </div>
                </div>
                <div class="col-9">+ {{ shippingFee.desc }}</div>
                <div class="col-3 text-right">{{ shippingFee.amount.toFixed(2) }}</div>
                <div class="col-12"><hr class="my-3"></div>
                <h2 class="col-12 text-right">Total: {{ currency }} {{ total.toFixed(2) }}</h2>
                <div v-if="order.tracking_no" class="col-12">
                    <button @click="linkTrack(order.tracking_no)" class="btn btn-info w-100">Tracks Parcel</button>
                </div>
                <div class="col-12">
                    {{ creditName }} Balance: {{ currency }} {{ user.credits }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data () {
        return {
        }
    },
    props: {
        user: {
            type: Object,
            default: () => ({})
        },
        shipping: {
            type: Object,
            default: () => ({})
        },
        order: {
            type: Object,
            default: () => ({})
        },
        shippingFee: {
            type: Object,
            default: () => ({})
        },
        total: {
            type: Number,
            default: 1
        }
    },
    methods: {
        linkTrack(num) {
            TrackButton.track({ tracking_no: num })
        }
    },
    computed: {
        currency () {
            return process.env.MIX_APP_CURRENCY
        },
        creditName () {
            return process.env.MIX_CREDIT_NAME
        },
        address () {
            let address = this.order.customer && this.order.customer.address
            if (!address) {
                return false
            }
            let zipCity = (address.zipcode && address.city) ? `${address.zipcode} ${address.city}` : null
            let stateCountry = (address.state && address.country) ? `${address.state}, ${address.country}` : null
            return [
                address.street, address.street_2, zipCity, stateCountry
            ].filter(el => el != null).join(',<br>')
        },
        badgeClass () {
            switch (this.order.status) {
                case 0:
                    return 'badge-warning'
                case 1:
                    return 'badge-info'
                case 2:
                    return 'badge-success'
                case -1:
                    return 'badge-danger'
                default:
                    return 'badge-secondary'
            }
        },
        isAdminRoute () {
            return window.location.href.match('admin')
        }
    },
    components: {
    }
}
</script>
