<template>
    <div class="card">
        <button type="button" class="btn btn-default">
  <span>Current Commision</span>
  <span class="badge badge-white"> {{user.commissionStatus.commission}} %</span>
</button>

         <div class="card-body">
         
       
  <div class="progress-wrapper">
  <div class="progress-danger">
    <div class="progress-label">
      <span>Next target  <br></span>
    </div>
    <div class="progress-percentage">
      <span>{{user.commissionStatus.p}}%</span>
    </div>
  </div>
  
  <div class="progress">
    <div class="progress-bar bg-default" role="progressbar" aria-valuenow="user.commissionStatus.p" aria-valuemin="0" aria-valuemax="100" :style="user.commissionStatus.progressbar"></div>
  </div>
  {{user.commissionStatus.current}}
</div>
</div></div>
</template>
<script>
export default {
    data () {
        return {
        }
    },
    props: {
         user: {
            type: Object,
            default: () => {}
        }
    },
    methods: {
       
    }
}
</script>