<template>
  <div class="table-responsive">


    <table class="table align-items-center">
    <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Commision </th>
            <th scope="col">Total Order Amount</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="point in user.rewards">
            <th scope="row">
              {{point.name}}  
              <p v-if="point.name=='DownlineCommissionReward'">{{point.downline}}</p>     
            </th>
            <td>
               RM {{point.point}}
            </td>
            <td> RM {{point.price}}</td>
            <td> {{point.created_at}} </td>
           
         
            
        </tr>
      </tbody></table>
     <p v-if="!user.rewards.length">No commission history yet</p>
   </div>

                         
                            
</template>

<script>
export default {
    data () {
        return {
        }
    },
    props: {
        user: Object
    },
    methods: {
       
    }
}
</script>
