<template>
  <div> 
 <div class="row" >

  <div class="col-md-12"  v-for="com in user.commissionStatus.data">
    <div class="row">
        <div class="col-md-1">
        </div>
      <div class="col-md-3">
            <div class="custom-control custom-checkbox mb-3">
             <input class="custom-control-input" :id="com.customCheck" type="checkbox"  :checked="com.c" disabled="">
            <label class="custom-control-label" :for="com.customCheck"> {{com.name}}  </label>
           
            </div>
    </div>
    <div class="col-md-4">
        <label class="text-black"> {{com.desc}}  </label>
    </div>
      <div class="col-md-3">
               <div class="progress">
                <div class="progress-bar" :style="com.progressbar">
                    <div class="progress-value">{{com.p}}%</div>
             </div>
            </div>
      </div>
      <div class="col-md-1">
      </div>
    </div>
    <hr>
  </div>


  

 </div>             
     </div>                    
                            
</template>

<script>
export default {
    data () {
        return {
        }
    },
    props: {
        user: Object
    },
    methods: {
       
    }
}
</script>
<style>

.progress{
    height: 22px;
    background: #d8d8d8;
    border-radius: 20px;
    overflow: visible;
    margin-bottom: 20px;
}
.progress .progress-bar{
    position: relative;
    border-radius: 20px;
    animation: animate-positive 2s;
}
.progress .progress-value{
    position: absolute;
    bottom: -45px;
    right: -25px;
    padding: 5px 14px;
    background: #383846;
    font-size: 14px;
    color: #fff;
    border-radius: 20px;
    text-align: center;
}
.progress .progress-value:after{
    content: "";
    background: #383846;
    padding: 8px;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    left: 45%;
    margin-left: -5px;
}
@-webkit-keyframes animate-positive{
    0% { width: 0%; }
}
@keyframes animate-positive{
    0% { width: 0%; }
}
</style>
