<template>
    <div class="card card-stats">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Stocks</h5>
                    <span class="h2 font-weight-bold mb-0">{{ totalStocks }}</span>
                </div>
                <div class="col-auto">
                    <el-tooltip class="item" effect="dark" placement="top">
                        <span v-if="!user.upline" slot="content">Click on <i class="fas fa-plus"></i> to refill stock</span>
                        <span v-else slot="content">Deals with your upline to refill stock</span>
                <div @click="!user.upline && (showStockDialog = true)" class="hover icon icon-shape bg-info text-white rounded-circle shadow">
                            <i class="fas fa-boxes" :class="user.upline ? '' : 'hover-plus'"></i>
                        </div>
                    </el-tooltip>
                </div>
            </div>
        </div>
        <stock-form :show="showStockDialog" :user="user"></stock-form>
    </div>
</template>

<script>
import stockForm from 'components/user/stock-form'

export default {
    data() {
        return {
            showStockDialog: false
        }
    },
    props: {
        user: {
            type: Object,
            default: () => {}
        }
    },
    components: {
        stockForm
    },
    computed: {
        totalStocks () {
            return this.user.stocks.reduce((sum, s) => sum + s.quantity, 0)
        }
    }
}

</script>
