<template>
    <div class="container mt-3">
        <div class="row">
            <div class="col-12 mb-3 text-right">
                <a :href="routes.createProduct" class="btn btn-info">Create New Product</a>
            </div>
            <div class="col-12 mb-3">
                <resource-filter ref="filter" :config="filterConfig" :model="filters" :loading="loading" @search="getProducts"></resource-filter>
            </div>
            <div class="col-12">
                <div class="table-responsive">
                    <data-table :products="products" :filters="filters" :meta="meta" :loading="loading" @removeProduct="removeProduct"></data-table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import resourceFilter from 'components/general/filter'
import dataTable from './table'

export default {
    mounted () {
    },
    data () {
        return {
            products: [],
            loading: false,
            meta: {},
            situations: {},
            filters: {
                keyword: null,
                status: null,
            },
            errors: {},
        }
    },
    props: {
        routes: {
            type: Object,
            default: () => ({})
        }
    },
    computed: {
        currency () {
            return process.env.MIX_APP_CURRENCY
        },
        filterConfig() {
            return {
                title: 'Products Filter',
                fields: [{
                    type: 'text',
                    label: 'Keyword',
                    wrapperClass: 'col-md-6 col-sm-12',
                    id: 'keyword',
                    placeholder: 'Search Keyword',
                    model: 'keyword'
                }]
                // }, {
                //     type: 'multiselect',
                //     label: 'Status',
                //     wrapperClass: 'col-md-6 col-sm-12',
                //     id: 'status',
                //     model: 'status',
                //     options: Object.keys(this.situations).map((value) => {
                //         return {
                //             value,
                //             name: this.situations[value]
                //         }
                //     })
                // }]
            }
        }
    },
    methods: {
        getProducts () {
            this.loading = true
            return axios.get(this.routes.getProducts, {
                    params: {
                        ...this.filters
                    }
                })
                .then(res => {
                    this.products = res.data.data
                    this.meta = res.data.meta
                    this.situations = res.data.situations
                }).catch(() => {})
                .then(() => {
                    this.loading = false
                })
        },
        search () {
            this.$refs.filter.search()
        },
        removeProduct (product) {
            this.products = this.products.filter(p => p.id !== product.id)
        }
    },
    components: {
        resourceFilter, dataTable
    }
}

</script>
