<template>
    <div class="modal fade" id="product-modal" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="product-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div v-if="product.id" class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="product-modalLabel">Delete Product #{{ product.id }}</h2>
                </div>
                <div class="modal-body pt-0">
                    Are you sure you want to delete the product? <br>
                    Name: {{ product.name }} <br>
                    SKU: {{ product.sku }}
                </div>
                <div class="modal-footer">
                    <button :disabled="loading" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button :disabled="loading" @click="deleteProduct" type="button" class="btn btn-danger">Delete <i class="fas fa-spinner fa-spin" v-if="loading"></i></button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted () {
        modalAppendToBody('#product-modal')
    },
    props: {
        product: {
            type: Object,
            default: () => ({})
        }
    },
    data () {
        return {
            loading: false
        }
    },
    methods: {
        deleteProduct () {
            this.loading = true
            return axios(this.product.links.delete)
                    .then(res => {
                        this.$message.success(res.data.message)
                        this.$emit('removeProduct', this.product)
                        $('#product-modal').modal('hide')
                    })
                    .catch(error => {})
                    .then(() => this.loading = false)
        }
    }
}
</script>
