<template>
    <div class="container mt-3">
    
         
  <div v-for="(find, index) in finds">
    <input v-model="find.value">
    <a class="btn btn-danger btn-sm" @click="deleteFind(index)">
      <i class="fa fa-times"></i> 
    </a>
  </div>
  
 <div style="margin-top: 1em">
    <a class="btn btn-info btn-sm" @click="addFind">
    <i class="fa fa-plus"></i> add
  </a>

   <a class="btn btn-success btn-sm" @click="saveCategory()">
   <i class="fa fa-save"></i> Save 
  </a>
 </div>
        </div>
  
    </div>
</template>
<script>


export default {
    mounted () {
      if(this.product.memo)
          this.finds = this.product.memo
   //   this.finds = JSON.parse(this.product.memo)
    },
    data () {
        return {
            finds: [],
            errors: {},
        }
    },
    props: {
        product: {
            type: Object,
            default: () => ({})
        }
    },
  
    methods: {
       saveCategory: function(){
        axios.post('/product/'+this.product.id, {'memo': this.finds})
        .then(res=>{
          this.$message.success(res.data.message)
        })
        .catch(e=>{
          //this.$message.success(res.data.message)
        })
       },
       addFind: function () {
      this.finds.push({ value: 'C' });
    },
    deleteFind: function (index) {
      console.log(index);
      console.log(this.finds);
      this.finds.splice(index, 1);
    }
    },
    
}

</script>
