<template>
    <data-tables-server :loading="loading" :filters="filtersTable" :data="products" :total="meta.total" @query-change="loadData">
        <div slot="empty">No Records Found</div>
        <el-table-column sortable prop="id" label="Product ID#"></el-table-column>
        <el-table-column sortable prop="sku" label="SKU"></el-table-column>
        <el-table-column sortable prop="weight" label="Weight (g)"></el-table-column>
        <el-table-column sortable prop="user.username" label="Creator"></el-table-column>
<!--         <el-table-column sortable prop="situation" label="Status">
            <template slot-scope="scope">
                <span :class="classStatus(scope.row.status)">{{ scope.row.situation }}</span>
            </template>
        </el-table-column>
 -->        <el-table-column show-overflow-tooltip sortable prop="created_at" label="Created At"></el-table-column>
        <el-table-column label="Actions">
            <template slot-scope="scope">
                <el-tooltip class="item" effect="dark" placement="top" content="Edit Product">
                    <a target="_blank" :href="scope.row.links.edit" class="btn text-info btn-link p-0"><i class="fas fa-edit"></i></a>
                </el-tooltip>
                <el-tooltip class="item" effect="dark" placement="top" content="Edit Product">
                    <button @click="openDeleteModal(scope.row)" class="btn text-danger btn-link p-0"><i class="fas fa-trash"></i></button>
                </el-tooltip>
            </template>
        </el-table-column>
        <delete-modal :product="deleteProduct" @removeProduct="removeProduct"></delete-modal>
    </data-tables-server>
</template>

<script>
import deleteModal from './delete'
export default {
    data () {
        return {
            deleteProduct: {}
        }
    },
    props: {
        products: {
            type: Array,
            default: () => {}
        },
        filters: {
            type: Object,
            default: () => ({})
        },
        meta: {
            type: Object,
            default: () => ({})
        },
        loading: {
            type: Boolean,
            default: false
        }
    },
    methods: {
        loadData(queryInfo) {
            if (queryInfo.type === 'sort') {
                this.filters.order_direction = queryInfo.sort.order === 'descending' ? 'desc' : 'asc'
                this.filters.order_by = queryInfo.sort.prop
            }
            if (queryInfo.type === 'size') {
                this.filters.per_page = queryInfo.pageSize
            }
            if (queryInfo.type === 'page') {
                this.filters.page = queryInfo.page
            }
            if (queryInfo.type === 'init') {
                this.filters = Object.assign(this.filters, getQueryStringParams(window.location.search))
            }
            if (queryInfo.type !== 'filter') {
                this.$parent.search()
            }
        },
        classStatus (status) {
            switch (status) {
                case 0:
                    return 'text-muted'
                case 1:
                    return 'text-success'
                case -1:
                    return 'text-danger'
                default:
                    return 'text-secondary'
            }
        },
        openDeleteModal (product) {
            this.deleteProduct = product
            $('#product-modal').modal('show')
        },
        removeProduct (product) {
            this.$emit('removeProduct', product)
        }
    },
    computed: {
        filtersTable () {
            return Object.keys(this.filters).map(key => {
                return {
                    value: this.filters[key],
                    search_prop: key
                }
            })
        }
    },
    components: {
        deleteModal
    }
}
</script>
